    <div class="dfm-dashboard-wrapper">
        <div class="dfm-card card-container" id="top">
            <dfm-appointments-doughnut-chart></dfm-appointments-doughnut-chart>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-dashboard-appointments-list class="h-100"></dfm-dashboard-appointments-list>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-upcoming-appointments class="h-100"></dfm-upcoming-appointments>
        </div>


        <div class="dfm-card card-container contaienr-max-height">
            <dfm-post-it class="h-100"></dfm-post-it>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-employee-absences class="h-100"></dfm-employee-absences>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
          <dfm-unavailable-hall-periods class="h-100"></dfm-unavailable-hall-periods>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-top-referring-doctors-list class="h-100"></dfm-top-referring-doctors-list>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-dashboard-notifications class="h-100"></dfm-dashboard-notifications>
        </div>

        <div class="dfm-card card-container contaienr-max-height">
            <dfm-top-examinations class="h-100"></dfm-top-examinations>
        </div>


        <div class="dfm-card card-container contaienr-max-height">
            <dfm-recent-patients class="h-100"></dfm-recent-patients>
        </div>

        <div class="mv-up-arrow-btn" (click)="handleClick()">
            <dfm-button-icon
              #moveToTop
              color="secondary"
              size="md"
              icon="arrow-up"
            ></dfm-button-icon>
        </div>
    </div>








