<div class="d-flex flex-column dfm-gap-16 position-relative rm-li-main-wrapper">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden rm-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >{{'Rooms' | translate}}
    </dfm-button>

    <dfm-input
      class="flex-1 rm-li-search"
      size="md"
      placeholder="{{'RoomSearch' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper rm-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          ngbPopover="{{ 'ClickToCopy' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{'Download' | translate}}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 align-items-center">

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="(loading$$ | async) === true"
        (click)="openAddRoomModal()"
        *dfmPermitted="Permission.CreateRooms"
      >{{'AddRoom' | translate}}
      </dfm-button>
    </div>
  </section>

  <dfm-input
    class="w-full hidden rm-li-search-mv"
    size="md"
    placeholder="{{'RoomSearch' | translate}}"
    icon="search-sm"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height" *ngIf="filteredRooms$$ | async as rooms" infiniteScroll (scrolled)="onScroll()">
    <div class="room-table-wrapper">
      <table class="room-table">
        <caption></caption>
        <thead class="room-table-header">
        <tr class="room-table-header-row" >
          <th class="room-table-th checkbox" *ngIf="permissionSvc.isNotReader">
            <dfm-checkbox class="w-fit d-flex dfm-me-0" #headerCheckBox
                          (click)="$event.stopPropagation(); handleCheckboxSelection(-1)"></dfm-checkbox>
          </th>
          <th *ngFor="let column of columns" class="room-table-th">{{ column | translate }}</th>
        </tr>
        </thead>

        <tbody class="room-table-body" cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let room of (filteredRooms$$ | async)" class="room-table-row"
            [ngClass]="{ 'room-table-row-disabled': (loading$$ | async) === true }"
            [routerLink]="['./', room.id, 'view']"
            queryParamsHandling="preserve"
            cdkDrag [cdkDragDisabled]="(loading$$ | async) === true || (permissionSvc.permissionType$ | async) === UserRole.Reader " [cdkDragStartDelay]="100">
          <td class="room-table-td checkbox" *ngIf="permissionSvc.isNotReader">
            <dfm-checkbox class="w-fit d-flex dfm-me-0" #rowCheckbox
                          (click)="$event.stopPropagation(); handleCheckboxSelection(+room.id)"></dfm-checkbox>
          </td>
          <td class="room-table-td">{{ room.name | titlecase | dashIfNothing }}</td>
          <td class="room-table-td">{{ room.description | titlecase | dashIfNothing }}</td>
          <td class="room-table-td">{{ roomPlaceInToIndexMap.get(+room.placeInAgenda) | dashIfNothing }}</td>
          <td class="room-table-td">{{ room.type | titlecase | dashIfNothing | translate}}</td>

          <td class="room-table-td">
            <dfm-badge *ngIf="room.status === statusType.Active"
                       color="success"
                       size="sm"
                       fontWeight="medium">
              {{ room.status | statusName | dashIfNothing | translate }}
            </dfm-badge>

            <dfm-badge *ngIf="room.status === statusType.Inactive"
                       color="primary"
                       size="sm">
              {{ room.status | statusName | dashIfNothing | translate}}
            </dfm-badge>
          </td>

          <td class="room-table-td" *dfmPermitted="[Permission.UpdateRooms, Permission.DeleteRooms]">
            <div class="d-flex dfm-gap-16 align-items-center rm-li-action-buttons">
              <ng-container *dfmPermitted="Permission.UpdateRooms">
                <dfm-button
                  *ngIf="room.status === statusType.Inactive"
                  color="link-gray"
                  size="sm"
                  trailingIcon="check-circle"
                  ngbPopover="{{'ChangeStatus' | translate}}"
                  popoverClass="popover-p-8"
                  triggers="mouseenter:mouseleave"
                  [openDelay]="200"
                  (click)="$event.stopPropagation(); changeStatus([ { id: room.id, status: statusType.Active }])"
                ></dfm-button>

                <dfm-button
                  *ngIf="room.status === statusType.Active"
                  color="link-gray"
                  size="sm"
                  trailingIcon="x-circle"
                  ngbPopover="{{'ChangeStatus' | translate}}"
                  popoverClass="popover-p-8"
                  triggers="mouseenter:mouseleave"
                  [openDelay]="200"
                  (click)="$event.stopPropagation(); changeStatus([ { id: room.id, status: statusType.Inactive }])"
                ></dfm-button>
              </ng-container>

              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="pencil-02"
                ngbPopover="{{'Edit' | translate}}"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation(); openAddRoomModal(room);"
                *dfmPermitted="Permission.UpdateRooms"
              ></dfm-button>

              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="trash-01"
                ngbPopover="{{'Delete' | translate}}"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation(); deleteRoom(room.id)"
                *dfmPermitted="Permission.DeleteRooms"
              ></dfm-button>
            </div>

            <dfm-button
              [ngbPopover]="actionMenu"
              autoClose="autoClose"
              triggers="click"
              container="body"
              placement="left"
              popoverClass="popover-p-0"
              class="hidden rm-li-vertical-dots-btn"
              color="link-gray"
              size="sm"
              trailingIcon="dots-vertical"
              (click)="$event.stopPropagation(); toggleMenu(true)"
            ></dfm-button>

            <ng-template #actionMenu>
              <div class="rm-li-menus"
                   aria-labelledby="dropdownManual">
                <ng-container *dfmPermitted="Permission.UpdateRooms">
                  <div *ngIf="!room.status"
                       (click)="$event.stopPropagation(); changeStatus([ { id: room.id, status: statusType.Active }])">
                    <dfm-button trailingIcon="check-circle" color="link-gray"></dfm-button>
                  </div>

                  <div *ngIf="room.status"
                       (click)="$event.stopPropagation(); changeStatus([ { id: room.id, status: statusType.Inactive }])">
                    <dfm-button trailingIcon="x-circle" color="link-gray"></dfm-button>
                  </div>
                </ng-container>

                <div (click)="$event.stopPropagation(); openAddRoomModal(room)" *dfmPermitted="Permission.UpdateRooms">
                  <dfm-button trailingIcon="pencil-02" color="link-gray"></dfm-button>
                </div>

                <div (click)="$event.stopPropagation(); deleteRoom(room.id)" *dfmPermitted="Permission.DeleteRooms">
                  <dfm-button trailingIcon="trash-01" color="link-gray"></dfm-button>
                </div>
              </div>
            </ng-template>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom"
         *ngIf="!rooms.length && (loading$$ | async) === false">
      {{'NoRoomFound' | translate}}
    </div>















  </section>

</div>

<dfm-confirm-status-change-banner [display]="selectedRooms.length"
                                  (confirmationEvent)="handleConfirmation($event)"></dfm-confirm-status-change-banner>
