<div class="d-flex flex-row dfm-gap-16 calendar-main-wrapper" *ngIf="selectedDate$$ | async as selectedDate">
  <section class="side-view">
    <ng-container [ngTemplateOutlet]="sideView"></ng-container>
  </section>
  <section class="flex-row dfm-gap-8 calendar-mobile-header hidden" #tools>
    <ng-container [ngTemplateOutlet]="sideView"></ng-container>
    <dfm-button-icon class="toggle-button-mv h-fit" color="secondary-gray" size="md" icon="chevron-right" (click)="tools?.classList?.toggle('hidden');tools?.classList?.toggle('show')"></dfm-button-icon>
    <ng-container *ngTemplateOutlet="topAction; context: {$implicit: selectedDate, view: calendarViewFormControl.value}">
    </ng-container>
  </section>
  <section class="calendar-body bg-white">
    <ng-container [ngSwitch]="calendarViewFormControl.value">
      <ng-container *ngSwitchCase="'month'">
        <dfm-calendar-month-view
          class="h-100"
          (selectedDateEvent)="updateDate($event)"
          [changeMonth$$]="changeMonth$$"
          (dayViewEvent)="changeToDayView($event)"
          [selectedDate]="selectedDate"
          [newDate$$]="newDate$$"
          (dateChange)="changeDate($event)"
          [appointmentData]="(appointmentDataForMonthView$ | async) ?? {}"
        >
        </dfm-calendar-month-view>
      </ng-container>

      <ng-container *ngSwitchCase="'week'">
        <dfm-calendar-week-view
          size="lg"
          (selectedDateEvent)="updateDate($event.selectedDate)"
          [changeWeek$$]="changeWeek$$"
          (dayViewEvent)="changeToDayView($event)"
          (dateChange)="changeDate($event)"
          [newDate$$]="newDate$$"
          [appointmentData]="(appointmentDataForWeekView$ | async) ?? {}"
          (addAppointment)="addAppointment($event)"
          [format24Hour]="true"
          [showGrayOutSlot] ="true"
          [prioritySlots]="prioritySlots$$ | async"
          [prioritySlotsVariant]="'small'"
          [practiceData]="weekdayToPractice$$ | async"
          [limit] ="(practiceHourMinMax$$ | async ) ?? { min: '00:00:00', max: '24:00:00', grayOutMin: '00:00:00', grayOutMax: '24:00:00' }"
        ></dfm-calendar-week-view>
      </ng-container>

      <ng-container *ngSwitchCase="'day'">
        <dfm-calendar-day-view
          class="h-full"
          (selectedDateEvent)="updateDate($event)"
          [changeDate$$]="changeDate$$"
          [newDate$$]="newDate$$"
          [headerList]="headerList"
          [timeSlot]="selectedSlot$$ | async"
          [format24Hour]="true"
          [prioritySlots]="prioritySlots$$ | async"
          [appointmentData]="(appointmentDataForDayView$ | async) ?? {}"
        ></dfm-calendar-day-view>
      </ng-container>
    </ng-container>
  </section>
  <ng-template #sideView >
    <div class="calendar-header bg-white">
      <div class="d-flex dfm-gap-8">
        <ng-container [ngTemplateOutlet]="topAction"></ng-container>
      </div>
      <div class="d-flex align-items-center dfm-gap-16 ">
        <h4 *ngIf="selectedDate" >
          <ng-container *ngIf="calendarViewFormControl.value === 'day'; else notDayView">
            {{ (selectedDate | date : 'EEE')! | uppercase | translate | titlecase }} {{ (selectedDate | date : 'MMM')! |translate  }} {{ selectedDate | date : 'dd, yyyy'  }}
          </ng-container>
          <ng-template #notDayView>{{ (selectedDate | date : 'MMM')! | translate }} {{ selectedDate | date : ' yyyy' }}</ng-template>
        </h4>
         <div class="d-flex dfm-gap-8 flex-wrap ml-auto calendar-view-dropdown-wrapper align-items-center">
          <div #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu(); $event.stopPropagation(); $event.preventDefault()" (mouseleave)="menuTrigger.closeMenu(); $event.stopPropagation(); $event.preventDefault()"   [matMenuTriggerFor]="infoDetail">
            <dfm-button-icon color="secondary-gray" size="sm" icon="info-circle" ></dfm-button-icon>
            <mat-menu #infoDetail="matMenu" [hasBackdrop]="false">
              <div class="card-info">
                <div>
                  <div></div><h1 class="mat-caption dfm-text-main-500">{{'BLUE_REPRESENTS_NORMAL_APPOINTMENT' | translate}}</h1>
                </div>
                <div>
                  <div></div><h1 class="mat-caption dfm-text-main-500">{{'RED_REPRESENTS_AFFECTED_APPOINTMENT' | translate}}</h1>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>

      </div>
      <div class="d-flex dfm-gap-4">
        <div class="flex-1 calendar-date-buttons">
          <div class="d-flex m-t-2">
            <div>
              <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-left" (click)="changeDate(-1)"></dfm-button-icon>
            </div>

            <div class="h-fit">
              <dfm-button color="secondary-gray" size="sm" class="h-100" (click)="updateToToday()">{{ 'Today' | translate }} </dfm-button>
            </div>

            <div>
              <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-right" (click)="changeDate(1)"></dfm-button-icon>
            </div>
            <div class="max-w-192 dfm-input-dropdown-wrapper-wo-label calendar-view-dropdown">
            <dfm-input-dropdown
              size="sm"
              [formControl]="calendarViewFormControl"
              [showDescription]="false"
              [items]="calendarViewType"
            ></dfm-input-dropdown>
          </div>
          </div>
        </div>

      </div>
      <mat-calendar  [selected]="dateControl.value" (selectedChange)="updateFormDate($event)"></mat-calendar>
    </div>
  </ng-template>
</div>

