<div class="bg-white d-flex flex-column dfm-gap-16 dfm-p-24 calendar-main-wrapper" *ngIf="selectedDate$$ | async as selectedDate">
  <section class="calendar-header">
    <h4 *ngIf="selectedDate" class="">
      <ng-container *ngIf="calendarViewFormControl.value === 'day'; else notDayView">
        {{ (selectedDate | date : 'EEE')! | uppercase | translate | titlecase }} {{ (selectedDate | date : 'MMM')! |translate  }} {{ selectedDate | date : 'dd, yyyy'  }}
      </ng-container>
      <ng-template #notDayView>{{ (selectedDate | date : 'MMM')! | translate }} {{ selectedDate | date : 'dd, yyyy' }}</ng-template></h4>

    <div class="d-flex dfm-gap-8 flex-wrap ml-auto calendar-view-dropdown-wrapper align-items-center">
      <div>
        <dfm-calendar-picker [selectedDate]="this.newDate$$ | async" (formControl)="dataControl = $event"></dfm-calendar-picker>
      </div>

      <div class="max-w-192 dfm-input-dropdown-wrapper-wo-label calendar-view-dropdown">
        <dfm-input-dropdown
          size="sm"
          [formControl]="calendarViewFormControl"
          [showDescription]="false"
          [items]="calendarViewType"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 calendar-date-buttons">
      <div>
        <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-left" (click)="changeDate(-1)"></dfm-button-icon>
      </div>

      <div class="flex-1">
        <dfm-button color="secondary-gray" size="sm" class="h-100" (click)="updateToToday()">{{ 'Today' | translate }} </dfm-button>
      </div>

      <div>
        <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-right" (click)="changeDate(1)"></dfm-button-icon>
      </div>
    </div>
  </section>

  <section class="calendar-body">
    <ng-container [ngSwitch]="calendarViewFormControl.value">
      <ng-container *ngSwitchCase="'month'">
        <dfm-calendar-month-view
          class="h-100"
          (selectedDateEvent)="updateDate($event)"
          [changeMonth$$]="changeMonth$$"
          (dayViewEvent)="changeToDayView($event)"
          [selectedDate]="selectedDate"
          [newDate$$]="newDate$$"
          [dataGroupedByDate]="appointmentsGroupedByDate"
        >
        </dfm-calendar-month-view>
      </ng-container>

      <ng-container *ngSwitchCase="'week'">
        <dfm-calendar-week-view
          (selectedDateEvent)="updateDate($event)"
          [changeWeek$$]="changeWeek$$"
          (dayViewEvent)="changeToDayView($event)"
          [selectedDate]="selectedDate"
          [newDate$$]="newDate$$"
          [dataGroupedByDateAndTime]="appointmentsGroupedByDateAndTIme"
          (addAppointment)="addAppointment($event)"
          [format24Hour]="true"
          [showGrayOutSlot] ="true"
          [prioritySlots]="prioritySlots$$ | async"
          [prioritySlotsVariant]="'small'"
          [limit] ="(practiceHourMinMax$$ | async ) ?? { min: '00:00:00', max: '24:00:00', grayOutMin: '00:00:00', grayOutMax: '24:00:00' }"
        ></dfm-calendar-week-view>
      </ng-container>

      <ng-container *ngSwitchCase="'day'">
        <dfm-calendar-day-view
          class="h-full"
          (selectedDateEvent)="updateDate($event)"
          [changeDate$$]="changeDate$$"
          [newDate$$]="newDate$$"
          [headerList]="headerList"
          [dataGroupedByDateAndRoom]="appointmentGroupedByDateAndRoom"
          [timeSlot]="selectedSlot$$ | async"
          [format24Hour]="true"
        ></dfm-calendar-day-view>
      </ng-container>
    </ng-container>
  </section>
</div>
