.calendar-header {
  display: flex;
  flex-direction: column;
    gap: 16px;
    padding: 12px;
    min-width: min(30%, 300px);
      max-width: min(30%, 300px);

  h4 {
    margin: 0;
    white-space: nowrap;
  }
    .action {
      display: flex;
      justify-content: flex-end;
    }
}

.m-t-2 {
  margin-top: 2px;
}

.calendar-body {
  overflow: auto;
  height: calc(100vh - 64px - 48px - 24px);
    max-height: calc(100vh - 64px - 48px - 24px);
    width: 100%;
}

.calender-picker-mv {
  display: none;
}

.calender-picker {
  display: block;
}
@media (max-width: 1440px) {
  .calendar-body {
    overflow: auto;
    height: calc(100vh - 46px - 48px - 24px);
      max-height: calc(100vh - 46px - 48px - 24px);
      width: 100%;
  }
}

@media (max-width: 960px) {
  .calendar-body {
    overflow: auto;
    height: calc(100vh - 36px - 56px - 48px - 24px);
      height: calc(100dvh - 36px - 56px - 48px - 24px);
      max-height: calc(100vh - 36px - 56px - 48px - 24px);
      max-height: calc(100dvh - 36px - 56px - 48px - 24px);
      width: 100%;
  }
}
.calendar-date-buttons {
  >div {
    gap: .25rem;
  }
}

@media (max-width: 680px) {
  .calendar-main-wrapper {
    padding: 16px 4px 4px;
    flex-direction: column !important;
  }


  .calendar-body {
    overflow: auto;
    height: calc(100vh - 36px - 56px - 48px - 42px - 16px - 20px - 92px - 20px);
    height: calc(100dvh - 36px - 56px - 48px - 42px - 16px - 20px - 92px - 20px);
    max-height: calc(100vh - 36px - 56px - 48px - 42px - 16px - 20px - 92px - 20px);
    max-height: calc(100dvh - 36px - 56px - 48px - 42px - 16px - 20px - 92px - 20px);

    &::-webkit-scrollbar {
      display: none !important;
    }
  }

  .calendar-header {
    padding: 0 12px;
    width: 100%;
    justify-content: space-between;

    .calendar-view-dropdown-wrapper {
      margin-left: 0;

      .calendar-view-dropdown {
        flex: 1;
        max-width: 100%;
      }
    }

    .calendar-date-buttons {
      width: 100%;
    }
                                .calender-picker-mv {
                                  display: block;
                                }
                
                                .calender-picker {
                                  display: none;
                                }
  }
}

.card-info {
  padding: 0 8px;

  >div {
    display: flex;
    align-items: center;
    gap: 8px;

    >div {
      width: 16px;
      height: 16px;
      border-radius: 50% !important;
    }

  }

  h1 {
    margin: 0;
  }

  >div:first-child {
    >div {
      background: var(--dfm-blue);
    }
  }

  >div:nth-child(2) {
    >div {
      background: var(--dfm-danger-500);
    }
  }
}
