.cancelled-bar-chart-wrapper {
  height: inherit;

  section:first-child {
    div span {
      color: var(--dfm-badge-warning-color);
    }
  }

  section:last-child {
    flex: 1;
    
    canvas {
      display: flex;
      align-self: end;
      width: 100%;
      height: 100%;
    }
  }
}
// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .percentage-text{
    font-weight:600;
  }
}
// ======================Media Query for Tab view=================
@media (min-width:680px) and (max-width:1060px) {
  // .cancelled-bar-chart-wrapper{
  //   display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
  // }
//   .cancelled-bar-chart-wrapper canvas{
//   width: 50% !important;
//   height: 50% !important;
// }
}
