<div class="cancelled-bar-chart-wrapper d-flex flex-column justify-content-between dfm-gap-16 dfm-p-16">
  <section class="d-flex justify-content-between dfm-gap-8 align-items-start" *ngIf="status$$ | async as status">
    <header>
      <span class="dfm-text-main-400">{{"Cancelled" | translate}}</span>
       <h2 class="card-value-text">{{ status?.count }}</h2>
    </header>
    <div class="d-flex">
      <div class="chart-arrow-down" [ngClass]="{ 'chart-arrow-up': status?.isUp, 'chart-arrow-down': !status?.isUp }">
        <dfm-button
          color="link-gray"
          size="sm"
          trailingIcon="{{ status?.isUp ? 'arrow-up' : 'arrow-down' }}"
        ></dfm-button>
      </div>
      <span [ngStyle]="{ color: status?.isUp ? '#12B76A' : 'red' }" class="font-weight-medium text-red">{{ status?.percentage | number : '1.2-2'}}</span>
    </div>
  </section>

  <section class="d-flex justify-content-end bar-chart-tab-view">
    <canvas baseChart
            [type]="'bar'"
            [data]="cancelledBarChartConfig"
            [labels]="cancelledBarChartLabels"
            [options]="cancelledBarChartOptions"
            [plugins]="cancelledBarChartPlugins"
            [legend]="cancelledBarChartLegend">
    </canvas>
  </section>
</div>
