<div class="cancelled-bar-chart-wrapper d-flex flex-column justify-content-between dfm-gap-16 dfm-p-16">
  <section class="d-flex justify-content-between dfm-gap-8 align-items-center">
    <header>
      <span class="font-weight-medium">Cancelled</span>
    </header>
    <div class="d-flex">
      <div class="chart-arrow-down">
        <dfm-button
          color="link-gray"
          size="sm"
          trailingIcon="arrow-down"
        ></dfm-button>
      </div>
      <span class="font-weight-medium text-red">6.09%</span>
    </div>
  </section>

  <section class="d-flex justify-content-end bar-chart-tab-view">
    <canvas baseChart
            [type]="'bar'" r
            [data]="cancelledBarChartConfig"
            [labels]="cancelledBarChartLabels"
            [options]="cancelledBarChartOptions"
            [plugins]="cancelledBarChartPlugins"
            [legend]="cancelledBarChartLegend">
    </canvas>
  </section>
</div>
