.cancelled-bar-chart-wrapper {
  height: inherit;

  section:last-child {
    flex: 1;

    canvas {
      display: flex;
      align-self: end;
      width: 100%!important;
    }
  }
}
// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .percentage-text{
    font-weight:600;
  }
}
// ======================Media Query for Tab view=================
@media (min-width:680px) and (max-width:1060px) {
  .cancelled-bar-chart-wrapper
    canvas{
      width: 80% !important;
      height: 80% !important;
    }
    .bar-chart-tab-view{
      display: flex!important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  @media (min-width: 2160px) and (max-width: 3840px){
    .bar-chart-xxl-view{
      z-index: 1;
      max-height: 100%;
      padding: 0px 0px 32px 0px;
    }
  }

