<div #content class="bg-white rounded-4 confirm-action-modal">
  <div class="loading-overlay" *ngIf="(loading$$ | async) === true">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
  <div class="modal-header">
    <h5 class="modal-title">{{ dialogData.titleText | translate }}</h5>
    <dfm-button-icon color="tertiary-gray" icon="x-close" (click)="close()"></dfm-button-icon>
  </div>

  <div class="modal-body">
    <form [formGroup]="appointmentForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex dfm-gap-32 align-items-start">
        <dfm-input
          class="flex-1"
          size="md"
          type="number"
          placeholder="{{ 'TypeAppointmentNumber' | translate }}"
          label="{{ 'AppointmentNumber' | translate }}"
          formControlName="appointmentNumber"
        ></dfm-input>
      </div>

      <div class="d-flex flex-wrap dfm-gap-32 ad-ab-dates">
        <div class="ad-ab-from-date flex-1 max-w-5">
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">
            {{ 'From' | translate }}
          </div>

          <div class="d-flex align-items-start dfm-gap-16 flex-1">
            <div class="flex-1 d-flex flex-column">
              <div class="dfm-button-group-wrapper flex-1 h-fit">
                <div class="input-as-dfm-input">
                  <input formControlName="startedAt"
                    placeholder="{{'dateFormat' | translate}}"
                    required [value]="currentDate" [max]="formValues.endedAt"  [matDatepicker]="picker" readonly class="w-full min-w-128">
                </div>
                <dfm-button-icon
                  color="secondary-gray"
                  size="md"
                  icon="calendar-date"
                  ngbPopover="{{ 'Calendar' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  (click)="picker.open()"
                ></dfm-button-icon>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>

            <div class="dfm-input-dropdown-wrapper-wo-label flex-1 min-w-128 max-w-192">
              <dfm-input-dropdown
                #startTime
                [items]="startTimes"
                [typeToSearch]="true"
                [typeToSearchText]="startTime.value"
                (searchInput)="handleTimeInput($event, 'startTime')"
                formControlName="startTime"
                size="md"
                placeholder="{{ 'hh:mm' | translate }}"
              >
              </dfm-input-dropdown>
            </div>
          </div>
        </div>

        <div class="ad-ab-to-date flex-1 max-w-5">
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">{{ 'Until' | translate }}</div>
          <div class="d-flex align-items-start dfm-gap-16">
            <div class="flex-1 d-flex flex-column">
              <div class="dfm-button-group-wrapper flex-1">
                <div class="input-as-dfm-input">
                  <input formControlName="endedAt"
                    placeholder="{{'dateFormat' | translate}}"
                    required [value]="currentDate" [min]="formValues.startedAt"   [matDatepicker]="picker2" readonly class="w-full min-w-128">
                </div>
                <dfm-button-icon
                  color="secondary-gray"
                  size="md"
                  icon="calendar-date"
                  ngbPopover="{{ 'Calendar' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  (click)="picker2.open()"
                ></dfm-button-icon>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
            </div>

            <div class="dfm-input-dropdown-wrapper-wo-label flex-1 min-w-128 max-w-192">
              <dfm-input-dropdown
                #endTime
                [items]="endTimes"
                [typeToSearch]="true"
                [typeToSearchText]="endTime.value"
                (searchInput)="handleTimeInput($event, 'endTime')"
                formControlName="endTime"
                size="md"
                placeholder="{{ 'hh:mm' | translate }}"
              >
              </dfm-input-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap dfm-gap-32 align-items-start flex-wrap">
        <div class="dfm-input-dropdown-wrapper flex-1 w-full min-w-128">
          <dfm-input-dropdown
            [items]="filteredPatientsList"
            [typeToSearch]="true"
            class="flex-1"
            size="md"
            (searchInput)="handleDropdownSearch($event, 'patient')"
            placeholder="{{ 'SelectPatient' | translate }}"
            label="{{ 'Patient' | translate }}"
            formControlName="patientId"
          >
          </dfm-input-dropdown>
        </div>

        <div class="dfm-input-dropdown-wrapper flex-1 w-full">
          <dfm-input-dropdown
            #exams
            [items]="filteredExamList"
            [typeToSearch]="true"
            [placeholder]="'SelectExams' | translate"
            (searchInput)="handleDropdownSearch($event, 'exam')"
            formControlName="examList"
            size="md"
            label="{{ 'Exams' | translate }}"
          >
          </dfm-input-dropdown>
        </div>
      </div>

      <div class="d-flex flex-wrap dfm-gap-32 align-items-start flex-wrap">
        <div class="dfm-input-dropdown-wrapper flex-1 w-full">
          <dfm-input-dropdown
            #generalUser
            [items]="filteredUserList"
            [typeToSearch]="true"
            placeholder="{{ 'SelectStaff' | translate }}"
            (searchInput)="handleDropdownSearch($event, 'user')"
            formControlName="userId"
            size="md"
            label="{{ 'Staff' | translate }}"
          >
          </dfm-input-dropdown>
        </div>

        <div class="dfm-input-dropdown-wrapper flex-1 w-full">
          <dfm-input-dropdown
            #generalUser
            [items]="filteredRoomList"
            [typeToSearch]="true"
            placeholder="{{ 'SelectRooms' | translate }}"
            (searchInput)="handleDropdownSearch($event,'room')"
            formControlName="roomsId"
            size="md"
            label="{{ 'Rooms' | translate }}"
          >
          </dfm-input-dropdown>
        </div>
      </div>

      <div class="d-flex flex-wrap dfm-gap-32 align-items-start flex-wrap">
        <div class="dfm-input-dropdown-wrapper flex-1 w-full">
          <dfm-input-dropdown
            #generalUser
            [items]="filteredPhysicianList"
            [typeToSearch]="true"
            placeholder="{{ 'SelectDoctor' | translate }}"
            (searchInput)="handleDropdownSearch($event,'physician')"
            formControlName="doctorId"
            size="md"
            label="{{ 'Physician' | translate }}"
          >
          </dfm-input-dropdown>
        </div>

        <div class="dfm-input-dropdown-wrapper flex-1 w-full">
          <dfm-input-dropdown [items]="statusList" placeholder="{{ 'Status' | translate }}" formControlName="approval" size="md"
            label="{{ 'Status' | translate }}">
          </dfm-input-dropdown>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer text-left">
    <dfm-button color="secondary" size="md" (click)="resetForm()">{{ dialogData.cancelButtonText | translate }}</dfm-button>
    <dfm-button color="primary" size="md" (click)="submitSearch()">{{ dialogData.confirmButtonText | translate }}</dfm-button>
  </div>
</div>
