.ad-ex-action-buttons {
  display: flex;
}

section.ad-ex-section2 {
  .ad-ex-name {
    width: 512px;
  }

  .ad-ex-name-expense-room > dfm-input {
    margin-right: 64px;
  }

  .ad-ex-general-staff {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 24px;
    margin-top: 24px;
      padding-bottom: 32px;

    .ad-ex-count-dropdown {
      width: 128px;
    }
  }

  .ad-ex-info-input {
    max-width: 70%;
  }

  .ad-ex-availability-form-fields {
    transition: all linear 200ms;
    max-height: 672px;
    flex-wrap: wrap;
  }

  .ad-ex-time-dropdown {
    min-width: 96px;
  }
}
.add-exam-dropdown{
  width: 25vw;
}

@media (max-width: 720px) {
  .ad-ex-availability-form-fields {
    transition: all linear 200ms;
    max-height: 100% !important;
  }
}
@media (min-width: 680px)and (max-width: 920px){
  .exam-form-mv{
    width: 30%;
    flex: 1;
  }
  .exam-form-exam-mv{
    flex-grow: 2;
  }
}

@media (min-width: 920px) {
  .exam-form-mv {
    width: 30%;
    flex: 1;
  }
}
@media (max-width: 680px) {
  .ad-ex-title-buttons {
    display: none !important;
  }

  .ad-ex-title-buttons-mv {
    display: flex;
  }

  .ad-ex-name-expense-room > dfm-input {
    margin-right: 0!important;
  }

  .ad-ex-form-exam-info {
    & > div {
      flex-direction: column;
    }
  }

  .ad-ex-general-staff {
    display: flex !important;
    flex-direction: column !important;

    .ad-ex-general-staff-dropdown {
      flex: 1;
    }
  }

  .ad-ex-duration {
    flex: 1;
    min-width: 60px;
  }

  .ad-ex-action-buttons {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    z-index: 10000;

    & > dfm-button {
      height: 44px;
    }
  }

  section.ad-ex-section2 {
    box-shadow: none;
    background: transparent;
    padding: 0;
    border-radius: 0%;

    &::-webkit-scrollbar {
      display: none;
    }

    .ad-ex-staff-dropdown, .ad-ex-exam-dropdown, .ad-ex-info-input, dfm-input {
      flex: 1;
      max-width: 100%;
      min-width: 100%;
    }

    form {
      padding: 0;
    }

    .ad-ex-weekdays-tab {
      overflow-x: auto;
    }
  }

  .ad-ex-room-list{
    display: flex !important;
      flex-wrap: nowrap;

    dfm-checkbox {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .add-exam-dropdown{
    width: 50vw;
  }
  .public-rooms-dropdown-mv{
    font-size: 14px!important;
    white-space: normal!important;
  }

}

.order {
  max-width: 144px;
  min-width: 100px;
}

.room-container {
  border: 1px solid var(--dfm-input-border);
  padding: 0 16px;
}
.select-room {
  max-width: min(50%, 280px);
}
