<div class="bg-white d-flex flex-column dfm-gap-16 dfm-p-24 calendar-main-wrapper" *ngIf="selectedDate$$ | async as selectedDate">
  <section class="calendar-header">
    <h4 *ngIf="selectedDate" class="">{{ selectedDate | date : 'MMM, yyyy' }}</h4>

    <div class="d-flex dfm-gap-8 flex-wrap ml-auto calendar-view-dropdown-wrapper">
      <div>
        <input matInput [formControl]="dataControl" [value]="selectedDate"  [matDatepicker]="picker" readonly class="w-0 invisible">
        <dfm-button-icon
          color="secondary-gray"
          size="md"
          icon="calendar-date"
          ngbPopover="{{ 'Calendar' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
          (click)="picker.open()"
        ></dfm-button-icon>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 calendar-date-buttons">
      <div>
        <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-left" (click)="changeDate(-1)"></dfm-button-icon>
      </div>

      <div class="">
        <dfm-button color="secondary-gray" size="sm" class="h-100" (click)="updateToToday()">{{"Today" | translate}} </dfm-button>
      </div>

      <div>
        <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-right" (click)="changeDate(1)"></dfm-button-icon>
      </div>
    </div>
  </section>

  <section class="calendar-body">
    <dfm-calendar-week-view
      (selectedDateEvent)="updateDate($event.selectedDate, $event.isWeekChange)"
      [changeWeek$$]="changeWeek$$"
      (dayViewEvent)="changeToDayView($event)"
      (openAndClosePrioritySlot)="prioritySlotOpenAndClose($event)"
      [selectedDate]="selectedDate"
      [newDate$$]="newDate$$"
      [appointmentData]="appointmentsGroupedByDateAndTIme"
      [prioritySlots]="prioritySlots$$ | async"
      [format24Hour]="true"
      [showGrayOutSlot] ="false"
      [limit] ="(practiceHourMinMax$ | async )?? { min: '00:00:00', max: '24:00:00', grayOutMin: '00:00:00', grayOutMax: '24:00:00' }"
      (currentWeekDays)="currentWeekDays($event)"
      [slotPercentage]="(slotPercentage$$ | async) ?? []"
    ></dfm-calendar-week-view>
  </section>
</div>
