.patient-consultation-line-chart {
  height: inherit;

  .dfm-btn-group {
    border: 1px solid var(--dfm-input-border);
    border-radius: 8px;
    height: 40px;
  }

  .line-chart-legend {
    border-width: 2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }

  .patients-legend {
    background: #6172F3;
  }

  .consultations-legend {
    background: #15B79E;
  }

  section:last-child {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;

    canvas {
      flex: 1;
      width: 100%;
      max-height: 520px;
    }
  }
}
