.vw-ex-sec2-card {
    max-height: 256px;
    min-width: 256px;
}

section.vw-ex-section3  {
  // sec is section
  // page height - top nav - content padding - sec1 height - sec gap - sec2 height - sec gap - extra space
  max-height: calc(100vh - 64px - 24px - 24px - 24px - 256px - 24px - 24px);
}

@media (max-width: 1440px) {
  section.vw-ex-section3 {
    max-height: calc(100vh - 36px - 24px - 24px - 24px - 256px - 24px - 24px);
  }

  section.vw-ex-section2 > div {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  .vw-ex-main-wrapper {
    padding: 0;
  }

  section.vw-ex-section1 {
    position: fixed;
    width: 100%;
    left: 0;
    top: 36px;
    padding: 24px;
    background: var(--dfm-body-bg);

    .vw-ex-title-buttons, .vw-ex-action-buttons {
      display: none !important;
    }

    .vw-ex-title-buttons-mv {
      display: flex;
    }
  }

  section.vw-ex-section2 {
    margin-top: 56px;
  }

  section.vw-ex-section3 {
    // page height - top nav - content padding - sec1 height - sec gap - sec gap - bottom bar height
    max-height: calc(100vh - 36px - 24px - 24px - 24px - 24px - 65px);
  }

  .vw-ex-action-buttons-mv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    z-index: 10000;

    &>dfm-button {
      height: 44px;
      flex: 1;
    }
  }
}

