<div *ngIf="examDetails$$ | async as examDetails" class="d-flex flex-column dfm-gap-24">
	<section class="d-flex align-items-center justify-content-between dfm-gap-16 vw-ex-section1">
		<div class="d-flex dfm-gap-8 align-items-center dfm-text-primary vw-ex-title-buttons">
			<dfm-button color="link" size="lg" routerLink="/exam" queryParamsHandling="merge">{{ 'Exam' | translate }} </dfm-button>
			<div style="width: 16px; height: 16px" class="h-fit">
				<dfm-icon name="chevron-right"></dfm-icon>
			</div>
			<dfm-button color="link-gray" size="lg">{{ 'View' | translate }} </dfm-button>
		</div>

		<div class="d-flex dfm-gap-16 vw-ex-action-buttons">
			<dfm-button
				color="link"
				size="md"
				leadingIcon="pencil-02"
				[routerLink]="['../', 'edit']"
        queryParamsHandling="merge"
				[state]="{ comingFromRoute: 'view', edit: true }"
				*dfmPermitted="Permission.UpdateExams"
				>{{ 'EditExam' | translate }}
			</dfm-button>

			<dfm-button
				color="link"
				size="md"
				class="text-nowrap"
				leadingIcon="trash-01"
				(click)="deleteExam(examDetails.id)"
				*dfmPermitted="Permission.DeleteExams"
			>
				{{ 'DeleteExam' | translate }}
			</dfm-button>
		</div>

		<!-- Mobile View -->
		<div class="hidden dfm-gap-8 align-items-center vw-ex-title-buttons-mv">
			<div class="rounded-circle overflow-hidden">
				<dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" routerLink="/exam" queryParamsHandling="merge"> </dfm-button-icon>
			</div>

			<dfm-button color="link" size="lg" routerLink="./" queryParamsHandling="merge">{{ 'ExamView' | translate }} </dfm-button>
		</div>
		<!-- ** -->
	</section>

	<div class="d-flex flex-column dfm-gap-24 view-page-content-height">
		<section class="d-flex flex-column dfm-gap-24 vw-ex-section2">
			<div class="d-flex dfm-gap-24">
				<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium">{{ 'ExamDetails' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
						<div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'Name' | translate }}</span>
							<span class="font-weight-medium flex-1">{{ examDetails.name  }}</span>
						</div>
            <div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'BodyType' | translate }}</span>
							<span class="font-weight-medium flex-1">{{ examDetails?.bodyType?.split('_')?.[0] | titlecase | dashIfNothing | translate }} {{(examDetails?.bodyType?.split('_')?.[1] ?? '') | titlecase | translate}}</span>
						</div>
            <div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'BodyPart' | translate }}</span>
							<span class="font-weight-medium flex-1">{{ examDetails?.bodyPart | dashIfNothing | translate  }}</span>
						</div>

						<div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'Expensive' | translate }}</span>
							<span class="font-weight-medium flex-1">{{ examDetails.expensive }}</span>
						</div>

						<div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'Status' | translate }}</span>
							<span class="font-weight-medium flex-1" [ngClass]="examDetails.status === 0 ? 'dfm-text-danger-600' : 'dfm-text-success-600'">{{
								examDetails.status | statusName | translate
							}}</span>
						</div>
						<div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'Uncombinable' | translate }}</span>
							<span *ngIf="uncombinablesExam$$ | async as uncombinablesExam" class="flex-1 font-weight-medium">{{
								uncombinablesExam | joinWithAnd : 'name' | dashIfNothing
							}}</span>
						</div>
					</div>
				</div>

				<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium text-break">{{ 'RoomsInvolvingTheExam' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
						<div class="d-flex dfm-gap-8 justify-content-between" *ngFor="let room of examDetails.roomsForExam">
							<span>{{ room?.name | titlecase }}</span>
						</div>

						<span class="dfm-text-main-600" *ngIf="!examDetails.roomsForExam?.length">No rooms found</span>
					</div>
				</div>

				<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium">{{ 'ExamInfo' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
						<span class="font-weight-medium flex-1">{{ examDetails.info | titlecase }}</span>
					</div>


				</div>
        <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
          <header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium">{{ 'ExamInstructions' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
						<span class="font-weight-medium flex-1" *ngIf="examDetails.instructions?.length; else noInstructionData">{{ examDetails.instructions | titlecase }}</span>
            <ng-template #noInstructionData>
              <span
                class="dfm-text-main-600"
                >{{ 'NoDataFound' | translate }}</span
              >
            </ng-template>
					</div>
				</div>
			</div>

			<div class="d-flex dfm-gap-24">

				<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium text-break">{{ 'MandatoryStaffs' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto" *ngIf="staffsGroupedByTypes.mandatory?.length">
						<div class="d-flex dfm-gap-8 justify-content-between">
							<span class="flex-1">{{ 'Staff' | translate }}</span>
							<span class="flex-1 font-weight-medium">{{ staffsGroupedByTypes.mandatory | joinWithAnd : 'name' | dashIfNothing }}</span>
						</div>
					</div>

					<span class="dfm-text-main-600" *ngIf="!staffsGroupedByTypes.mandatory.length">{{ 'NoMandatoryStaffFound' | translate }}</span>
				</div>

        <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium text-break">{{ 'GeneralStaff' | translate }}</span>
					</header>

					<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
						<div class="d-flex dfm-gap-8 justify-content-between" *ngIf="staffsGroupedByTypes.assistants.length">
							<span class="flex-1">Assistants</span>
							<span class="flex-1 font-weight-medium">{{ staffsGroupedByTypes.assistants | joinWithAnd : 'name' | dashIfNothing }}</span>
						</div>

						<div class="d-flex dfm-gap-8 justify-content-between" *ngIf="staffsGroupedByTypes.radiologists.length">
							<span class="flex-1">{{ 'Radiologist' | translate }}</span>
							<span class="flex-1 font-weight-medium">{{ staffsGroupedByTypes.radiologists | joinWithAnd : 'name' | dashIfNothing }}</span>
						</div>

						<div class="d-flex dfm-gap-8 justify-content-between" *ngIf="staffsGroupedByTypes.nursing.length">
							<span class="flex-1">{{ 'Nursing' | translate }}</span>
							<span class="flex-1 font-weight-medium">{{ staffsGroupedByTypes.nursing | joinWithAnd : 'name' | dashIfNothing }}</span>
						</div>

						<div class="d-flex dfm-gap-8 justify-content-between" *ngIf="staffsGroupedByTypes.secretaries.length">
							<span class="flex-1">{{ 'Secretary' | translate }}</span>
							<span class="flex-1 font-weight-medium">{{ staffsGroupedByTypes.secretaries | joinWithAnd : 'name' | dashIfNothing }}</span>
						</div>

						<span
							class="dfm-text-main-600"
							*ngIf="
								!staffsGroupedByTypes.secretaries.length &&
								!staffsGroupedByTypes.nursing.length &&
								!staffsGroupedByTypes.radiologists.length &&
								!staffsGroupedByTypes.assistants.length
							"
							>{{ 'NoGeneralStafFfound' | translate }}</span
						>
					</div>
				</div>

				<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 vw-ex-sec2-card">
					<header class="d-flex align-items-center dfm-gap-8">
						<div class="dfm-button-gray-400">
							<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
						</div>
						<span class="font-weight-medium">{{ 'ExamAvailabilityInfo' | translate }}</span>
					</header>

					<span *ngIf="!examDetails.practiceAvailability?.length" class="dfm-text-main-600">{{
						'CorrespondsToTheOpeningHoursOfThePractice' | translate
					}}</span>
					<span *ngIf="examDetails.practiceAvailability?.length" class="dfm-text-main-600">{{ 'GetDetailedForException' | translate }}</span>
				</div>
			</div>
		</section>

    <ng-container *ngIf="examDetails.practiceAvailability?.length">
      <section class="d-flex flex-column dfm-gap-16 dfm-card dfm-p-16" *ngIf="practiceAvailability$$ | async as practiceAvailability">
        <header class="d-flex align-items-center dfm-gap-8">
          <div class="dfm-button-gray-400">
            <dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
          </div>
          <span class="font-weight-medium">{{ 'ExamAvailabilityData' | translate }}</span>
        </header>

        <div class="overflow-y-auto h-fit h-fit">
          <dfm-table [items]="practiceAvailability" *ngIf="examDetails?.practiceAvailability?.length">
            <ng-template #headerRowTemplate>
              <dfm-table-header-cell>{{ 'SlotNo' | translate }}</dfm-table-header-cell>
              <dfm-table-header-cell *ngFor="let column of columns">{{ column | weekdayToName | translate }}</dfm-table-header-cell>
            </ng-template>

            <ng-template #bodyRowTemplate let-item>
              <dfm-table-body-cell>{{ item.slotNo }}</dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.monday.dayStart && item.monday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.monday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.monday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.tuesday.dayStart && item.tuesday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.tuesday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.tuesday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.wednesday.dayStart && item.wednesday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.wednesday.dayStart | dfmUtcToLocal: true : true  }} </span>
                  -
                  <span> {{ item.wednesday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.thursday.dayStart && item.thursday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.thursday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.thursday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.friday.dayStart && item.friday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.friday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.friday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.saturday.dayStart && item.saturday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.saturday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.saturday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
              <dfm-table-body-cell>
                <div *ngIf="item.sunday.dayStart && item.sunday.dayEnd; else dash" class="d-flex dfm-gap-8">
                  <span> {{ item.sunday.dayStart | dfmUtcToLocal: true : true }} </span>
                  -
                  <span> {{ item.sunday.dayEnd | dfmUtcToLocal: true : true }} </span>
                </div>
              </dfm-table-body-cell>
            </ng-template>
          </dfm-table>
          <div
            class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom dfm-text-main-600"
            *ngIf="!examDetails?.practiceAvailability?.length"
          >
            {{ 'NoExceptionFound' | translate }}
          </div>
        </div>
      </section>
    </ng-container>

	</div>

	<div class="hidden bg-white vw-ex-action-buttons-mv" *dfmPermitted="[Permission.UpdateExams, Permission.DeleteExams]">
		<dfm-button color="secondary" size="sm" (click)="deleteExam(examDetails.id)" *dfmPermitted="Permission.DeleteExams">{{
			'Delete' | translate
		}}</dfm-button>
		<dfm-button
			color="primary"
			size="sm"
			[routerLink]="['../', 'edit']"
      queryParamsHandling="merge"
			[state]="{ comingFromRoute: 'view', edit: true }"
			*dfmPermitted="Permission.UpdateExams"
			>{{ 'Edit' | translate }}
		</dfm-button>
	</div>
</div>

<ng-template #dash>
	<span> {{ '' | dashIfNothing }} </span>
</ng-template>

