.vw-ex-sec2-card {
    max-height: 256px;
    min-width: 256px;
}

@media (max-width: 1440px) {
  section.vw-ex-section2 > div {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  section.vw-ex-section1 {
    padding: 0 8px;

    .vw-ex-title-buttons, .vw-ex-action-buttons {
      display: none !important;
    }

    .vw-ex-title-buttons-mv {
      display: flex;
    }
  }

  .vw-ex-action-buttons-mv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    z-index: 10000;

    &>dfm-button {
      height: 44px;
      flex: 1;
    }
  }
}

