<div #content class="bg-white rounded-4 add-appointment-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'AddAppointment' | translate }}</h5>
    <dfm-button-icon color="tertiary-gray" icon="x-close" (click)="close(false)"></dfm-button-icon>
  </div>

  <div class="modal-body">
    <form [formGroup]="appointmentForm">
      <div class="d-flex flex-column dfm-gap-8">
        <div class="d-flex dfm-gap-16">
          <div class="d-flex flex-column dfm-gap-8">
            <span class="text-sm font-weight-medium dfm-ms-2">{{ 'StartedAt' | translate }} *</span>
            <div class="dfm-button-group-wrapper w-fit h-fit">
              <div class="input-as-dfm-input">
                <input class="w-full" formControlName="startedAt" placeholder="{{'dd/mm/yyyy' | translate}}" ngbDatepicker #date="ngbDatepicker" />
              </div>
              <div>
                <dfm-button-icon
                  color="tertiary-gray"
                  size="md"
                  icon="calendar-date"
                  ngbPopover="{{ 'Calendar' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  (click)="date.toggle()"
                ></dfm-button-icon>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column dfm-gap-8">
            <span class="text-sm font-weight-medium">{{ 'StartTime' | translate }}</span>
            <span class="time-text"> {{ selectedTimeInUTC ?? selectedTimeInUTCOrig | dfmUtcToLocal : true }} </span>
          </div>
        </div>

        <div class="d-flex flex-column dfm-gap-8">
          <div class="d-flex dfm-gap-8 flex-wrap">
            <dfm-input
              class="flex-1 min-w-228"
              size="md"
              #firstname
              [dfmNameInput]="firstname"
              [placeholder]="'EnterFirstName' | translate"
              [label]="('PatientFirstName' | translate) + ' *'"
              formControlName="patientFname"
            ></dfm-input>

            <dfm-input
              class="flex-1 min-w-228"
              size="md"
              #lastname
              [dfmNameInput]="lastname"
              [placeholder]="'EnterLastName' | translate"
              [label]="('PatientLastName' | translate) + ' *'"
              formControlName="patientLname"
            ></dfm-input>
          </div>

          <div class="d-flex dfm-gap-8 flex-wrap">
            <dfm-input
              #phone
              [dfmNumberInput]="phone"
              class="flex-1 min-w-228"
              size="md"
              [placeholder]="'EnterTelephone' | translate"
              [label]="('PatientTelephone' | translate) + ' *'"
              formControlName="patientTel"
            ></dfm-input>

            <div class="d-flex flex-column flex-1 min-w-228">
              <dfm-input
                class="flex-1 "
                size="md"
                [placeholder]="'EnterEmail' | translate"
                [label]="'PatientEmail' | translate"
                formControlName="patientEmail"
                (focusout)="handleEmailInput($event)"
              >
              </dfm-input>
              <small *ngIf="appointmentForm.get('patientEmail')?.hasError('email')" class="validation-error">{{ 'InvalidEmail' | translate }}.</small>
            </div>
          </div>
        </div>

        <div class="dfm-input-multi-dropdown-wrapper-mb-0 flex-1 dfm-mb-8">
          <dfm-input-dropdown
            #exams
            [items]="filteredExamList"
            [multiple]="true"
            [placeholder]="
              !!exams.value?.length ? exams.value.length + ' ' + ('Selected' | translate) : ('Select' | translate) + ' ' + ('Exams' | translate)
            "
            [showDescription]="false"
            [typeToSearch]="true"
            (searchInput)="handleDropdownSearch($event, 'exam')"
            formControlName="examList"
            size="md"
            label="{{ 'Exams' | translate }} *"
          >
          </dfm-input-dropdown>
        </div>

        <span
          class="font-weight-medium text-sm dfm-my-8"
          *ngIf="exams?.value?.length && formValues.startedAt?.day && !slots?.length && (loadingSlots$$ | async) === false"
        >
          {{"NoSlotsFoundForSelectedExamsAndTime" | translate}}
        </span>

        <span class="font-weight-medium dfm-text-main-500 text-sm dfm-my-8" *ngIf="loadingSlots$$ | async"> {{"LoadingSlots" | translate}}... </span>

        <div class="ad-ap-slots-container dfm-gap-16 w-full overflow-x-auto" *ngIf="slots?.length">
          <ng-container *ngIf="!isCombinable; else combinable">
            <div class="dfm-card d-flex flex-column dfm-p-16 card-item" *ngFor="let examID of exams.value">
              <div class="d-flex flex-column gap-1">
                <div class="d-flex gap-2 align-items-center text-sm">
                  <span class="font-weight-medium">{{"ExamName" | translate}}: </span>
                  <span>{{ examIdToDetails[examID]?.name }}</span>
                </div>
              </div>

              <div class="d-flex align-items-center gap-3 overflow-y-auto max-h-128 dfm-mt-12 flex-wrap">
                <ng-container *ngIf="examIdToAppointmentSlots[examID] as slots; else noSlots">
                  <div
                    class="time-slot-text dfm-p-8 text-center text-sm font-weight-medium w-128"
                    *ngFor="let slot of examIdToAppointmentSlots[examID];"
                    (click)="handleSlotSelectionToggle(slot)"
                    [ngClass]="{
                      'time-slot-disabled-text': !checkSlotAvailability(slot),
                      'time-slot-selected-text': selectedTimeSlot[examID]?.slot === slot.start + '-' + slot.end
                    }"
                  >
                    {{ (slot.start?.slice(0, -3))! | dfmUtcToLocal: true }} - {{ (slot.end?.slice(0, -3))! | dfmUtcToLocal : true }}
                  </div>
                </ng-container>
                <ng-template #noSlots>
                  <span class="dfm-text-main-300">No slots found for this exam</span>
                </ng-template>
              </div>
            </div>
          </ng-container>
          <ng-template #combinable>
            <div class="d-flex flex-column gap-1">
              <div class="d-flex gap-2 align-items-center text-sm">
                <span class="font-weight-medium">Exam(s): </span>
                <span>
                  <ng-container *ngFor="let examID of exams.value; let i = index">
                    {{ examIdToDetails[+examID]?.name }}{{ i !== exams.value.length - 1 ? ',' : '' }}
                  </ng-container>
                </span>
              </div>

              <div class="d-flex align-items-center gap-3 overflow-y-auto max-h-128 dfm-mt-12 flex-wrap">
                <div
                  class="time-slot-text dfm-p-8 text-center text-sm font-weight-medium w-128"
                  *ngFor="let slot of examIdToAppointmentSlots[+exams.value[0]]"
                  (click)="handleSlotSelectionToggle(slot)"
                  [ngClass]="{
                    'time-slot-selected-text': selectedTimeSlot[exams.value[0]]?.slot === slot.start + '-' + slot.end
                  }"
                >
                  {{ slot.start?.slice(0, -3) | dfmUtcToLocal: true }} - {{ slot.end?.slice(0, -3) | dfmUtcToLocal: true }}
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <!--          <div class="d-flex flex-column align-items-center gap-3 overflow-x-auto max-h-128 dfm-mt-12 flex-wrap"-->
        <!--               *ngIf="slots.length">-->
        <!--            <div-->
        <!--              class="time-slot-text dfm-p-8 text-center text-sm font-weight-medium w-128"-->
        <!--              *ngFor="let slot of examIdToAppointmentSlots[exams.value[0]];"-->
        <!--              (click)="handleSlotSelectionToggle(slot)"-->
        <!--              [ngClass]="{-->
        <!--                      'time-slot-disabled-text': !checkSlotAvailability(slot),-->
        <!--                      'time-slot-selected-text': selectedTimeSlot[exams.value[0]]?.slot === (slot.start + '-' + slot.end)-->
        <!--                    }"-->
        <!--            >-->
        <!--              {{ slot.start?.slice(0, -3) }} - {{ slot.end?.slice(0, -3) }}-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        -->
        <!--                <span *ngIf="slots.length && checkSlotAvailable(exams.value[0])"></span>-->



        <div class="d-flex dfm-gap-16 dfm-mt-8">
          <div class="dfm-input-dropdown-wrapper flex-1 w-full min-w-228" *ngIf="(isDoctorConsentDisable$$ | async) === false">
            <dfm-input-dropdown
              [items]="filteredPhysicianList"
              [typeToSearch]="true"
              (searchInput)="handleDropdownSearch($event, 'doctor')"
              class="flex-1"
              size="md"
              [placeholder]="'SelectDoctor' | translate"
              [label]="'Doctor' | translate"
              formControlName="doctorId"
            >
            </dfm-input-dropdown>
          </div>

          <div class="dfm-input-dropdown-wrapper flex-1 min-w-228" [ngClass]="{'dfm-input-error': appointmentForm.get('userId')?.hasError('required') && appointmentForm.get('userId')?.touched }">
            <dfm-input-dropdown
              #generalUsers
              [items]="filteredUserList"
              [placeholder]="
                !!generalUsers.value?.length ? generalUsers.value.length + ' z' + ('Selected' | translate) : ('SelectGeneralUser' | translate)
              "
              [typeToSearch]="true"
              (searchInput)="handleDropdownSearch($event, 'user')"
              formControlName="userId"
              size="md"
              [label]="('GeneralUser' | translate) + ' *'"
            >
            </dfm-input-dropdown>
          </div>

        </div>
        <dfm-text-area
          [label]="'CommentsClinicalData' | translate"
          [placeholder]="'EnterComments' | translate"
          formControlName="comments"
        ></dfm-text-area>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <dfm-button color="secondary" size="md" class="cancel-btn" (click)="close(false)">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="secondary" size="sm" class="cancel-btn-mv" (click)="close(false)">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="primary" size="md" class="add-btn" [disabled]="(submitting$$ | async) === true" (click)="saveAppointment()">{{
      'Add' | translate
    }}</dfm-button>
    <dfm-button color="primary" size="sm" class="add-btn-mv" [disabled]="(submitting$$ | async) === true" (click)="saveAppointment()">{{
      'Add' | translate
    }}</dfm-button>
  </div>
</div>
