section.sf-ed-section2 {
  // header height - content padding - section 1 height - row gap - maintaining bottom gap
  max-height: calc(100vh - 64px - 24px - 36px - 24px - 24px);

  .sf-ad-staff-dropdown, .sf-ad-exam-dropdown {
    max-width: 504px;
  }

  .sf-ad-info-input {
    max-width: 70%;
  }

  .add-slot-icon {
    width: 24px;
    height: 24px;
    font-size: 32px;
    line-height: 24px;
  }

  dfm-badge {

  }

  //.studies-dropdown-text {
  //  position: absolute;
  //  top: 55%;
  //  left: 12px;
  //}
}

@media (max-width: 1440px) {
  section.sf-ed-section2 {
    // header height - content padding - section 1 height - row gap - extra gap
    max-height: calc(100vh - 36px - 24px - 36px - 24px - 24px);
  }
}

@media (max-width: 680px) {
  section.sf-ed-section2 {
    // header height - content padding - section 1 height - row gap - bottom nav bar height - extra gap
    max-height: calc(100vh - 36px - 24px - 36px - 24px - 65px - 24px);
  }
}
