<div class="d-flex flex-column dfm-gap-24 dfm-px-8 sf-ad-main-wrapper">
  <section class="d-flex align-items-center justify-content-between dfm-gap-16">
    <div class="d-flex dfm-gap-8 align-items-center dfm-text-primary sf-ad-title-buttons">
      <dfm-button color="link" size="lg" routerLink="/staff">Staff </dfm-button>

      <div style="width: 16px; height: 16px" class="h-fit">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>

      <div class="d-flex align-items-center dfm-gap-8" *ngIf="comingFromRoute === 'view' && staffID">
        <dfm-button color="link" size="lg" [routerLink]="['../', 'view']">View </dfm-button>

        <div style="width: 16px; height: 16px" class="h-fit">
          <dfm-icon name="chevron-right"></dfm-icon>
        </div>
      </div>

      <dfm-button color="link-gray" size="lg">{{ comingFromRoute ? 'Edit' : 'Add' }} </dfm-button>
    </div>

    <div class="dfm-gap-16 sf-ad-action-buttons">
      <dfm-button color="secondary" size="md" [routerLink]="[comingFromRoute === 'view' ? '../view' : '/staff']">Cancel</dfm-button>
      <dfm-button color="primary" size="md" class="text-nowrap" (click)="saveStaff()"
        >{{ comingFromRoute ? 'Save Changes' : 'Add Staff' }}
      </dfm-button>
    </div>

    <!--  Mobile View  -->
    <div class="hidden dfm-gap-8 align-items-center sf-ad-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" [routerLink]="comingFromRoute === 'view' ? '../view' : '/staff'">
        </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg" routerLink="./"> {{ edit ? 'Edit Staff' : 'Add Staff' }} </dfm-button>
    </div>
    <!--  **  -->
  </section>

  <section class="dfm-card overflow-y-auto hide-scrollbar sf-ad-section2">
    <form [formGroup]="addStaffForm" class="dfm-p-16 d-flex flex-column dfm-gap-32" *ngIf="(loading$$ | async) === false">
      <div class="d-flex flex-column dfm-gap-16 sf-ad-form-general-info">
        <div class="d-flex dfm-gap-16 flex-wrap">
          <dfm-input size="md" placeholder="Enter First Name" label="First Name *" formControlName="firstname"> </dfm-input>

          <dfm-input size="md" placeholder="Enter Last Name" label="Last Name *" formControlName="lastname"> </dfm-input>
        </div>

        <div class="d-flex dfm-gap-16 flex-wrap">
          <dfm-input type="email" size="md" placeholder="Enter Email" label="Email *" formControlName="email"> </dfm-input>

          <dfm-input type="number" size="md" placeholder="Enter Telephone" label="Telephone *" formControlName="telephone"> </dfm-input>
        </div>

        <div *ngIf="generalUserTypes$$ | async as staffTypes" class="sf-ad-staff-dropdown">
          <div class="dfm-input-dropdown-wrapper">
            <dfm-input-dropdown
              #examsDropdown
              size="md"
              #dropdown
              [placeholder]="'Select Staff Type'"
              label="Studies *"
              [items]="staffTypes"
              formControlName="userType"
            >
            </dfm-input-dropdown>
          </div>
        </div>

        <div *ngIf="exams$$ | async as exams" class="position-relative dfm-input-multi-dropdown-wrapper sf-ad-exam-dropdown">
          <dfm-input-dropdown
            #examsDropdown
            size="md"
            [multiple]="true"
            #dropdown
            [placeholder]="!!examsDropdown.value?.length ? examsDropdown.value.length + ' Selected' : 'Select Studies involving this Staff'"
            label="Studies *"
            [items]="exams"
            formControlName="examLists"
          >
          </dfm-input-dropdown>
          <!--        <span *ngIf="!!examsDropdown.value?.length"-->
          <!--              class="studies-dropdown-text text-sm font-weight-medium text-center">-->
          <!--          {{ examsDropdown.value?.length }} Selected-->
          <!--        </span>-->
        </div>

        <dfm-text-area size="md" placeholder="Enter Info" label="Info" class="sf-ad-info-input" formControlName="info"> </dfm-text-area>
      </div>

      <div class="d-flex flex-column dfm-gap-16">
        <div class="d-flex flex-column dfm-gap-8">
          <span class="text-md font-weight-semi-bold">Add Practice Data</span>

          <div class="w-fit">
            <dfm-radio-button
              label="Always"
              hint="Corresponds to the opening hours of the practice"
              size="sm"
              [checkedValue]="false"
              formControlName="practiceAvailabilityToggle"
              (change)="handleRadioButtonChange(false)"
            ></dfm-radio-button>

            <dfm-radio-button
              label="Get Detailed"
              hint="Use only for exceptions"
              size="sm"
              formControlName="practiceAvailabilityToggle"
              [checkedValue]="true"
              (change)="handleRadioButtonChange(true)"
            ></dfm-radio-button>
          </div>
        </div>

        <div *ngIf="formValues.practiceAvailabilityToggle" class="d-flex flex-column dfm-gap-24">
          <div class="d-flex flex-column dfm-gap-8">
            <span class="text-sm font-weight-semi-bold">Choose Day</span>

            <div class="d-flex dfm-gap-16 weekday-header sf-ad-weekdays-tab hide-scrollbar">
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.ALL)" class="pointer" (click)="selectWeekday(weekdayEnum.ALL)"
                >VIEW ALL
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.MON)" class="pointer" (click)="selectWeekday(weekdayEnum.MON)">MON </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.TUE)" class="pointer" (click)="selectWeekday(weekdayEnum.TUE)">TUE </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.WED)" class="pointer" (click)="selectWeekday(weekdayEnum.WED)">WED </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.THU)" class="pointer" (click)="selectWeekday(weekdayEnum.THU)">THU </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.FRI)" class="pointer" (click)="selectWeekday(weekdayEnum.FRI)">FRI </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.SAT)" class="pointer" (click)="selectWeekday(weekdayEnum.SAT)">SAT </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.SUN)" class="pointer" (click)="selectWeekday(weekdayEnum.SUN)">SUN </dfm-badge>
            </div>
          </div>

          <div formGroupName="practiceAvailability" class="d-flex flex-column dfm-gap-32 sf-add-practice-availability-form-fields">
            <div
              *ngFor="let controlArray of practiceAvailabilityWeekWiseControlsArray()"
              [formArrayName]="getFormArrayName(controlArray)"
              class="d-flex flex-column flex-wrap dfm-gap-16"
            >
              <span class="text-sm font-weight-semi-bold">
                {{ getFormArrayName(controlArray) | weekdayToName }}
              </span>

              <div [formGroupName]="i" *ngFor="let controls of controlArray.controls; let i = index" class="d-flex flex-column dfm-gap-16">
                <div class="d-flex dfm-gap-32 align-items-end">
                  <div class="d-flex flex-column dfm-gap-8">
                    <!--                    <dfm-input-dropdown [items]="10 | timeInInterval" size="sm" placeholder="Start Time">-->

                    <!--                    </dfm-input-dropdown>-->
                    <label class="text-sm font-weight-medium">Start Time</label>
                    <ngb-timepicker formControlName="dayStart" size="small" [spinners]="false"></ngb-timepicker>
                    <span class="text-sm text-red" *ngIf="controls.get('dayStart')?.hasError('startTimeErr')">Start Time must be smaller.</span>
                  </div>

                  <div class="d-flex flex-column dfm-gap-8">
                    <label class="text-sm font-weight-medium">End Time</label>
                    <ngb-timepicker formControlName="dayEnd" size="small" [spinners]="false"></ngb-timepicker>
                    <span class="text-sm text-red" *ngIf="controls.get('dayEnd')?.hasError('endTimeErr')">End Time must be greater.</span>
                  </div>

                  <dfm-button-icon
                    *ngIf="controlArray.length > 1"
                    size="sm"
                    icon="trash-01"
                    color="tertiary"
                    class="dfm-mb-4"
                    (click)="removeSlot(controlArray, i)"
                  ></dfm-button-icon>
                </div>
              </div>

              <div class="d-flex align-items-center dfm-gap-8 pointer w-fit" (click)="addSlot(controlArray)">
                <div class="dfm-bg-primary rounded-circle text-white text-center icon-24">&plus;</div>
                <span class="text-sm dfm-text-main-600">Click to add slot</span>
              </div>
            </div>
          </div>

          <!--          <div formArrayName="practiceAvailability" class="d-flex dfm-gap-16" *ngIf="!!formValues.practiceAvailability">-->
          <!--            <div [formGroupName]="i" *ngFor="let control of practiceAvailabilityControls; let i = index" class="d-flex flex-column dfm-gap-8">-->
          <!--              <span>{{ control.value?.weekday | weekdayToName  }}</span>-->

          <!--              <div class="d-flex dfm-gap-16 flex-wrap">-->
          <!--                <dfm-input size="sm" placeholder="Enter First Name" label="First Name *" formControlName="dayStart">-->
          <!--                </dfm-input>-->

          <!--                <dfm-input size="sm" placeholder="Enter Last Name" label="Last Name *" formControlName="dayEnd">-->
          <!--                </dfm-input>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
    </form>
  </section>
</div>
