<div class="d-flex flex-column dfm-gap-16 position-relative">
  <section class="list-page-section-1">
    <dfm-button class="hidden pr-li-title-buttons" color="link" size="lg" routerLink="./">{{"PrioritySlots" | translate}} </dfm-button>
    <ng-container *ngIf="(calendarView$$ | async) === false; else space">
      <!-- <dfm-button class="pr-li-title-buttons" color="link" size="lg" routerLink="./">{{ 'PrioritySlots' | translate }} </dfm-button> -->
      <dfm-input
        class="flex-1 pr-li-search"
        size="md"
        placeholder="{{ 'SearchByPrioritySlots' | translate }}"
        icon="search-sm"
        [formControl]="searchControl"
      ></dfm-input>

      <div class="d-flex align-items-center dfm-button-group-wrapper pr-li-button-dropdown-group">
        <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="copy-03"
            ngbPopover="{{ 'Calendar' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="copyToClipboard()"
          ></dfm-button-icon>
        </div>
        <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-bg-transparent">
          <dfm-input-dropdown
            [items]="downloadItems"
            [showDescription]="false"
            [formControl]="downloadDropdownControl"
            placeholder="{{ 'Download' | translate }}"
            size="md"
          ></dfm-input-dropdown>
        </div>
      </div>
    </ng-container>
    <ng-template #space>
      <span class="d-flex flex-1"></span>
    </ng-template>

    <div class="d-flex dfm-gap-8 align-items-center">
      <div class="d-flex dfm-gap-8">
      <dfm-button-icon
        color="secondary-gray"
        size="md"
        icon="list"
        ngbPopover="{{ 'ListView' | translate }}"
        triggers="mouseenter:mouseleave"
        popoverClass="popover-p-8"
        [openDelay]="200"
        (click)="toggleView()"
        *ngIf="(calendarView$$ | async) === true"
      ></dfm-button-icon>
      <dfm-button-icon
        *ngIf="(calendarView$$ | async) === false"
        color="secondary-gray"
        size="md"
        icon="calendar-date"
        ngbPopover="{{ 'Calendar' | translate }}"
        triggers="mouseenter:mouseleave"
        popoverClass="popover-p-8"
        [openDelay]="200"
        (click)="toggleView()"
      ></dfm-button-icon>
      <dfm-button color="primary" size="md" *dfmPermitted="Permission.CreatePrioritySlots" class="text-nowrap" [disabled]="false" (click)="openAddPriorityModal()"
        ><span class="add-slot-btn"> {{ 'AddPrioritySlots' | translate }} </span><span class="add-slot-btn-mv">{{ 'Add' | translate }}</span>
      </dfm-button>
    </div>
    </div>
  </section>
  <ng-container *ngIf="(calendarView$$ | async) === false; else calendarView">
    <dfm-input
      class="flex-1 pr-li-searchbar-mv"
      size="md"
      placeholder="{{'SearchByPrioritySlots' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <section class="list-page-content-height" *ngIf="filteredPrioritySlots$$ | async as prioritySlots">
      <dfm-table [items]="prioritySlots" [rowClickable]="true" (rowClicked)="navigateToViewAbsence($event)" class="dfm-table-wrapper">
        <ng-template #headerRowTemplate>
          <dfm-table-header-cell *ngFor="let column of columns">{{ column | translate }}</dfm-table-header-cell>
        </ng-template>

        <ng-template #bodyRowTemplate let-item>
          <dfm-table-body-cell>{{ item.startedAt  | dfmUtcToLocal | dfmDefaultDate | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>{{ item.endedAt  | dfmUtcToLocal | dfmDefaultDate | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>
            <div [ngClass]="item.priority">
              <dfm-badge color="success" size="sm" fontWeight="medium">
                {{ item.priority | dashIfNothing | translate }}
              </dfm-badge>
            </div>
          </dfm-table-body-cell>

          <dfm-table-body-cell *dfmPermitted="[Permission.UpdatePrioritySlots, Permission.DeletePrioritySlots]">
            <div class="d-flex dfm-gap-16 align-items-center pr-li-action-buttons">
              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="pencil-02"
                ngbPopover="{{ 'Edit' | translate }}"
                triggers="mouseenter:mouseleave"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation(); openAddPriorityModal(item)"
                *dfmPermitted="Permission.UpdatePrioritySlots"
              ></dfm-button>

              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="trash-01"
                ngbPopover="{{ 'Delete' | translate }}"
                triggers="mouseenter:mouseleave"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation(); deletePrioritySlot(item.id)"
                *dfmPermitted="Permission.DeletePrioritySlots"
              ></dfm-button>
            </div>

            <!-- Action Menu -->
            <dfm-button
              [ngbPopover]="actionMenu"
              autoClose="autoClose"
              triggers="click"
              container="body"
              placement="left"
              popoverClass="popover-p-0"
              class="hidden pr-li-vertical-dots-btn"
              color="link-gray"
              size="sm"
              trailingIcon="dots-vertical"
              (click)="$event.stopPropagation(); toggleMenu(true)"
            ></dfm-button>

            <ng-template #actionMenu>
              <div class="pr-li-menus" aria-labelledby="dropdownManual">
                <div
                  (click)="$event.stopPropagation(); openAddPriorityModal(item)"
                  ngbPopover="{{ 'Edit' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  *dfmPermitted="Permission.UpdatePrioritySlots"
                >
                  <dfm-button trailingIcon="pencil-02" color="link-gray"></dfm-button>
                </div>

                <div
                  (click)="$event.stopPropagation(); deletePrioritySlot(item.id)"
                  ngbPopover="{{ 'Delete' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  *dfmPermitted="Permission.DeletePrioritySlots"
                >
                  <dfm-button trailingIcon="trash-01" color="link-gray"></dfm-button>
                </div>
              </div>
            </ng-template>
            <!-- Action Menu End-->
          </dfm-table-body-cell>
        </ng-template>
      </dfm-table>
      <div class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom" *ngIf="!prioritySlots.length">
        {{ 'NoPrioritySlotFound' | translate }}
      </div>
    </section>
  </ng-container>
  <ng-template #calendarView>
    <dfm-priority-slots-calendar-view></dfm-priority-slots-calendar-view>
  </ng-template>

  <!-- <div ngbDropdown #optionsMenu="ngbDropdown">
    <div class="shadow-lg pr-li-plus-btn-menu pr-li-menus" ngbDropdownMenu aria-labelledby="dropdownManual"> -->
  <!-- <div ngbDropdownItem (click)="$event.stopPropagation(); openSearchModal()"> -->
  <!-- <div ngbDropdownItem (click)="$event.stopPropagation();">
    <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>
  </div>
  <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
    <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>
  </div>
  <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
    <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>
  </div>
</div>
</div> -->

  <!-- <dfm-button color="secondary" size="md" class="hidden shadow-lg pr-li-plus-btn rounded-2"
              (click)="$event.stopPropagation(); optionsMenu.open(); toggleMenu()">
    <dfm-icon #showMoreButtonIcon name="plus" class="pr-li-plus-btn-icon rotate-z-0 position-absolute"></dfm-icon>
  </dfm-button> -->
</div>
