<div class="d-flex flex-column dfm-gap-16 position-relative">
  <!-- <button  mat-mini-fab color="primary" class="refresh-btn" (click)="onRefresh()">
    <mat-icon>refresh</mat-icon>
  </button> -->
  <section class="list-page-section-1">
    <!-- <dfm-button class="pr-li-title-buttons" color="link" size="lg" routerLink="./">{{"PrioritySlots" | translate}} </dfm-button> -->
    <ng-container *ngIf="(calendarView$$ | async) === false; else space">
      <dfm-input
        class="flex-1 pr-li-search"
        size="md"
        placeholder="{{ 'SearchByPrioritySlots' | translate }}"
        icon="search-sm"
        [formControl]="searchControl"
      ></dfm-input>

      <div class="d-flex align-items-center dfm-button-group-wrapper pr-li-button-dropdown-group">
        <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="copy-03"
            ngbPopover="{{ 'Calendar' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="copyToClipboard()"
          ></dfm-button-icon>
        </div>
        <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent">
          <dfm-input-dropdown
            [items]="downloadItems"
            [showDescription]="false"
            [formControl]="downloadDropdownControl"
            placeholder="{{ 'Download' | translate }}"
            size="md"
          ></dfm-input-dropdown>
        </div>
      </div>
    </ng-container>
    <ng-template #space>
      <span class="d-flex flex-1">
        <dfm-button class="pr-li-title-buttons" color="link" size="lg" routerLink="./" queryParamsHandling="merge">{{"PrioritySlots" | translate}} </dfm-button>
      </span>
    </ng-template>

    <div class="d-flex dfm-gap-8 align-items-center">
      <div class="d-flex dfm-gap-8">
      <dfm-button-icon
        color="secondary-gray"
        size="md"
        icon="list"
        ngbPopover="{{ 'ListView' | translate }}"
        triggers="mouseenter:mouseleave"
        popoverClass="popover-p-8"
        [openDelay]="200"
        (click)="toggleView()"
        *ngIf="(calendarView$$ | async) === true"
      ></dfm-button-icon>
      <dfm-button-icon
        *ngIf="(calendarView$$ | async) === false"
        color="secondary-gray"
        size="md"
        icon="calendar-date"
        ngbPopover="{{ 'Calendar' | translate }}"
        triggers="mouseenter:mouseleave"
        popoverClass="popover-p-8"
        [openDelay]="200"
        (click)="toggleView()"
      ></dfm-button-icon>
      <dfm-button color="primary" size="md" *dfmPermitted="Permission.CreatePrioritySlots" class="text-nowrap" [disabled]="false" (click)="openAddPriorityModal()"
        ><span class="add-slot-btn"> {{ 'AddPrioritySlots' | translate }} </span><span class="add-slot-btn-mv">{{ 'Add' | translate }}</span>
      </dfm-button>
    </div>
    </div>
  </section>
  <ng-container *ngIf="(calendarView$$ | async) === false; else calendarView">
    <dfm-input
      class="flex-1 pr-li-searchbar-mv"
      size="md"
      placeholder="{{'SearchByPrioritySlots' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <section class="list-page-content-height" *ngIf="filteredPrioritySlots$$ | async as prioritySlots">
      <dfm-data-table [data]="(tableData$$ | async) ?? {items: []}"  [stickyActions]="true"  noDataMessage="{{ (isLoading ? 'Loading' : 'NoPrioritySlotFound') | translate }}"
                    [rowClickable]="true" [stickyCheckbox]="true" (rowClicked)="navigateToViewAbsence($event)"
                    [stickyFirstColumn]="false" [headers]="tableHeaders" (scrolled)="onScroll($event)" (sorted)="onSort($event)">
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-row-cell [fullContent]="item.startedAt">{{ item.startedAt  | dfmUtcToLocal : false : true | dfmDefaultDate | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.endedAt">{{ item.endedAt  | dfmUtcToLocal : false : true | dfmDefaultDate | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.priority">
          <div [ngClass]="item.priority">
            <dfm-badge color="success" size="sm" fontWeight="medium">
              {{ item.priority | dashIfNothing | translate }}
            </dfm-badge>
          </div>
        </dfm-table-row-cell>
        <dfm-data-table-action-cell *dfmPermitted="[Permission.UpdatePrioritySlots, Permission.DeletePrioritySlots]">
          <ng-template #actionCellTemplate>
            <dfm-data-table-action icon="pencil-02" tooltip="{{ 'Edit' | translate }}" (click)="$event.stopPropagation(); openAddPriorityModal(item)" *dfmPermitted="Permission.UpdatePrioritySlots"></dfm-data-table-action>
            <dfm-data-table-action icon="trash-01" tooltip="{{ 'Delete' | translate }}" (click)="$event.stopPropagation(); deletePrioritySlot(item.id)" *dfmPermitted="Permission.DeletePrioritySlots"></dfm-data-table-action>
          </ng-template>
        </dfm-data-table-action-cell>
      </ng-template>
    </dfm-data-table>
    </section>
  </ng-container>
  <ng-template #calendarView>
    <dfm-priority-slots-calendar-view></dfm-priority-slots-calendar-view>
  </ng-template>

  <!-- <div ngbDropdown #optionsMenu="ngbDropdown">
    <div class="shadow-lg pr-li-plus-btn-menu pr-li-menus" ngbDropdownMenu aria-labelledby="dropdownManual"> -->
  <!-- <div ngbDropdownItem (click)="$event.stopPropagation(); openSearchModal()"> -->
  <!-- <div ngbDropdownItem (click)="$event.stopPropagation();">
    <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>
  </div>
  <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
    <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>
  </div>
  <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
    <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>
  </div>
</div>
</div> -->

  <!-- <dfm-button color="secondary" size="md" class="hidden shadow-lg pr-li-plus-btn rounded-2"
              (click)="$event.stopPropagation(); optionsMenu.open(); toggleMenu()">
    <dfm-icon #showMoreButtonIcon name="plus" class="pr-li-plus-btn-icon rotate-z-0 position-absolute"></dfm-icon>
  </dfm-button> -->
</div>
