.pr-li-button-dropdown-group {
    background: transparent;

    .pr-li-info-cell {
      max-width: 512px;
    }

    div:last-child {
      max-width: 160px;
    }
  }

  .pr-li-searchbar-mv{
    display: none;
  }

  @media (max-width: 680px) {
    .pr-li-search, .pr-li-button-dropdown-group {
      display: none !important;
    }

    .pr-li-title-buttons {
      display: block;
    }

    .pr-li-plus-btn {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1000;
      height: 44px;
      width: 44px;
    }

    .pr-li-menus {
      min-width: fit-content !important;
      max-width: 44px;
      border: none;
      border-radius: 12px;
      flex-direction: column;
      padding: 2px;

      div + div {
        border-top: 1px solid var(--dfm-main-200);
      }

      div {
        padding: 8px;
      }
    }

    .pr-li-plus-btn-menu {
      position: fixed;
      bottom: 144px;
      right: 28px;
    }

    .pr-li-action-buttons-menu {
      right: 28px;
      top: -48px;
    }

    .pr-li-action-buttons {
      display: none !important;
    }

    .pr-li-vertical-dots-btn {
      display: block;
    }

    .menu-point-forward {
      position: absolute;
      background: white;
      transform: rotateZ(45deg);
      right: -8px;
      bottom: 8px;
      border-radius: 4px;
    }

    .pr-li-searchbar-mv{
      display: block;
    }
  }
