<table class="calender-month-view">
  <thead class="calender-month-view-weekday">
  <th>{{ weekDayEnum.MON | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.TUE | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.WED | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.THU | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.FRI | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.SAT | weekdayToName : true | uppercase | translate}}</th>
  <th>{{ weekDayEnum.SUN | weekdayToName : true | uppercase | translate}}</th>
  </thead>

    <tbody class="calendar-month-view-body">
  <tr *ngFor="let days of daysInMonthMatrix;">
    <td class="calender-month-view-day-cell" *ngFor="let day of days">
      <div class="calender-month-view-day-cell-content" >
        <div class="calender-month-view-day-exam-event-container" #parentElement dfmDragAreaEvent [calendarType]="'month'" (editAppointment)="editAppointment($event)" [day]="[day,+selectedDate.getMonth(),selectedDate.getFullYear()]">

          <ng-template #eventDetails>
            <div class="calender-month-view-day-exam-details-expanded">
                <span class="calender-month-view-day-exam-details-expanded-title text-center">
                  <b>{{selectedDate | date : 'EEE'}}</b>
                </span>
                <span class="calender-month-view-day-exam-details-expanded-title text-center date">
                  <b>{{day}}</b>
                </span>
                <div class="dfm-card-container">
                  <div class="calender-month-view-day-exam-event-details" *ngFor="let data of dataGroupedByDate[day + '-' + (+selectedDate.getMonth() + 1) + '-' + selectedDate.getFullYear()]" draggable="true" dfmDragEvent [draggedElData]="data" [calendarType]="'month'">
                    <span class="calender-month-view-day-exam-event-title text-truncate ">
                      {{ data?.startedAt | dfmDefaultDate : 'time' | dfmUtcToLocal : true}}
                      -
                      {{ data?.endedAt | dfmDefaultDate : 'time' | dfmUtcToLocal : true }}

                      <b>{{(data?.patientFname | titlecase) + ' ' + data?.patientLname | titlecase }}</b>
                    </span>
                  </div>
                </div>
            </div>
          </ng-template>

          <!-- <div class="calender-month-view-event-circle-icon">
            {{ dataGroupedByDate[day + '-' + (+selectedDate.getMonth() + 1) + '-' + selectedDate.getFullYear()].length}}
          </div> -->
          <div class="calender-month-view-day-exam-event-details" *ngFor="let data of dataGroupedByDate[day + '-' + (+selectedDate.getMonth() + 1) + '-' + selectedDate.getFullYear()]" draggable="true" dfmDragEvent [draggedElData]="data" [calendarType]="'month'">
            <span class="calender-month-view-day-exam-event-title text-truncate ">
              {{ data?.startedAt | dfmDefaultDate : 'time' | dfmUtcToLocal : true}}
              -
              {{ data?.endedAt | dfmDefaultDate : 'time' | dfmUtcToLocal : true}}

              <b>{{(data?.patientFname | titlecase) + ' ' + data?.patientLname | titlecase }}</b>
            </span>
            <!-- <span class="calender-month-view-day-exam-event-time"
                  *ngIf="dataGroupedByDate[day + '-' + (+selectedDate.getMonth() + 1) + '-' + selectedDate.getFullYear()]?.length !== 1">
              Multiple timings
            </span> -->
          </div>
          <div class="calender-month-view-day-exam-event-details more-btn" [ngbPopover]="eventDetails" triggers="click" [autoClose]="'outside'" container="body" *ngIf="parentElement.scrollHeight > parentElement.clientHeight">
            <span class="calender-month-view-day-exam-event-title text-truncate ">View more</span>
          </div>

        </div>

					<div
						*ngIf="day && day <= 31"
						class="calender-month-view-day text-sm"
						[ngClass]="{
							'calender-month-view-selected-day':
								selectedDate.getDate() === day &&
								((nowDate.getDate() === selectedDate.getDate() && nowDate.getMonth() !== selectedDate.getMonth()) ||
									selectedDate.getDate() !== nowDate.getDate()),
							'calender-month-view-today font-weight-medium': nowDate.getDate() === day && nowDate.getMonth() === selectedDate.getMonth()
						}"
						(click)="changeToDayView(day, selectedDate.getMonth(), selectedDate.getFullYear())"
					>
						{{ day }}
					</div>

        <div
          *ngIf="day && day > 31"
          class="calender-month-view-day calender-month-view-day-light text-sm"
        >
          {{ day - 31 }}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
