
$diflexmo-primary: #4e2267;
$diflexmo-secondary: #a589b7;
$diflexmo-primary-text: #e0dde4;
$diflexmo-secondary-text: #fff;
$diflexmo-secondary-lighter: rgba($diflexmo-primary-text, 0.5);
$diflexmo-green: #039855;
$diflexmo-priority-slot-high: rgba(#ff0000, 0.5);
$diflexmo-priority-slot-medium: rgba(#ffa500, 0.5);
$diflexmo-priority-slot-low: rgba(#008000, 0.5);
