$diflexmo-primary: #4e2267;
$diflexmo-secondary: #a589b7;
$diflexmo-primary-text: #e0dde4;
$diflexmo-secondary-text: #fff;
$diflexmo-secondary-lighter: rgba($diflexmo-primary-text, 0.5);
$diflexmo-green: #039855;
