
$diflexmo-primary: #4e2267;
$diflexmo-secondary: #a589b7;
$diflexmo-primary-text: #e0dde4;
$diflexmo-secondary-text: #FFFFFF;
$diflexmo-transparent-bg: transparent;
$diflexmo-secondary-lighter: rgba($diflexmo-primary-text, 0.5);
$diflexmo-green: #039855;
$diflexmo-priority-slot-high: rgba(#ff0000, 0.2);
$diflexmo-priority-slot-medium: rgba(#ffa500, 0.2);
$diflexmo-priority-slot-low: rgba(#008000, 0.2);
$diflexmo-yellow: #FEC84B;
$diflexmo-blue: #175CD3;
$diflexmo-blue-light: #EFF8FF;
$diflexmo-gray-bg: #F2F4F7;
$diflexmo-gray-color: #364152;
$diflexmo-light-gray: #eeeeee;
$diflexmo-tag-bg:rgba(244, 227, 207, 0.5);
$diflexmo-yellow: #FEC84B;
$diflexmo-yellow-light: #fdf0d2;
