.ad-rm-main-wrapper {
  transition: all ease 200ms;
  padding-bottom: 16px;

  .ad-rm-section2 {
    // viewport - m-top - modal header height - modal footer header - p-bottom - m-bottom - extra
    max-height: calc(100vh - 24px - 76px - 64px - 16px - 24px - 48px);
    overflow-y: auto;
  }
}

@media (max-width: 680px) {
  .ad-rm-weekdays-tab {
    overflow-x: auto;
  }
}
