<dfm-mat-spinner></dfm-mat-spinner>

<div class="bg-white rounded-4 ad-rm-main-wrapper dfm-px-16">
  <section class="modal-header ad-rm-section1">
    <h5 class="modal-title ad-rm-title-buttons">{{ modalData?.edit ? ('EditRoom' |translate) : ('AddRoom' | translate )}}</h5>
    <dfm-button-icon class="ad-rm-title-buttons" color="tertiary-gray" icon="x-close"
                     (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-rm-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon
          color="tertiary-gray"
          size="sm"
          icon="chevron-left"
          (click)="closeModal(false)"
        >
        </dfm-button-icon>
      </div>

      <dfm-button
        color="link"
        size="lg"
      > {{ modalData?.edit ? ('EditRoom' | translate) : ('AddRoom' | translate )}}
      </dfm-button>
    </div>
  </section>

  <section class="modal-body dfm-pb-24 ad-rm-section2">
    <form [formGroup]="addRoomForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16" *ngIf="room$$ | async">
      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="flex-1">
        <dfm-input  size="md" placeholder="{{'EnterRoomName' | translate}}" label="{{'RoomName' | translate }} *" formControlName="name">
        </dfm-input>
        <div class="validation-error" *ngIf="addRoomForm.get('name')?.hasError('required') && addRoomForm.get('name')?.touched">
          {{ 'RequiredField' | translate }}
        </div>
        </div>
        <div class="flex-1">

        <dfm-input type="number"  size="md" placeholder="{{'PlaceInAgenda' | translate}}" label="{{'PlaceInAgenda'|translate}} *"
                   formControlName="placeInAgendaIndex" [disabled]="true">
        </dfm-input>
        <div class="validation-error" *ngIf="addRoomForm.get('placeInAgendaIndex')?.hasError('required') && addRoomForm.get('placeInAgendaIndex')?.touched">
          {{ 'RequiredField' | translate }}
        </div>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap align-items-start flex-1">
        <dfm-input class="flex-1 w-full" size="md" placeholder="{{'EnterRoomDescription' | translate}}" label="{{'Description' | translate}}"
                   formControlName="description">
        </dfm-input>

        <div class="d-flex flex-column dfm-gap-16 flex-1 ad-rm-form-room-type" style="width: 50%">
          <span class="text-sm font-weight-medium dfm-text-main-700">{{'RoomType' | translate}} *</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="{{'Public' | translate}}" [checkedValue]="'public'" formControlName="type"
                              (change)="handle($event)"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="{{'Private' | translate}}" [checkedValue]="'private'"
                              formControlName="type"></dfm-radio-button>
          </div>
          <small class="validation-error"
                 *ngIf="addRoomForm.get('type')?.hasError('required') && addRoomForm.get('type')?.touched">
           {{'RequiredField' | translate}}
          </small>
        </div>

      </div>

      <div class="d-flex flex-column dfm-gap-8">
        <span class="font-weight-medium">{{'AddAvailabilityData' | translate}}</span>

        <div class="w-fit">
          <dfm-radio-button
            label="{{'Always' | translate}}"
            hint="{{'Openinghoursofthepractice' | translate}}"
            size="sm"
            [checkedValue]="false"
            formControlName="practiceAvailabilityToggle"
            (change)="toggleAvailabilityForm(false)"
          ></dfm-radio-button>

          <dfm-radio-button
            label="{{'GetDetailed' | translate}}"
            hint="{{'OnlyForException' | translate}}"
            size="sm"
            formControlName="practiceAvailabilityToggle"
            [checkedValue]="true"
            (change)="toggleAvailabilityForm(true)"
          ></dfm-radio-button>
        </div>
      </div>

      <ng-container *ngIf="formValues.practiceAvailabilityToggle">
        <dfm-time-slots
          [timeSlotData$$]="roomAvailabilityData$$"
          [practiceHourData$$]="practiceHourData$$"
          [emitEvents$$]="emitEvents$$"
          (formValuesEvent)="saveForm($event)"
        ></dfm-time-slots>
      </ng-container>
    </form>
  </section>

  <section class="modal-footer ad-rm-footer-buttons">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">{{'Cancel' | translate}}</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="(submitting$$ | async) === true" class="text-nowrap"
                (click)="saveRoom()">{{ modalData?.edit ? ('SaveChanges' |translate): ('AddRoom' | translate)}}</dfm-button>
  </section>
</div>
