<div class="d-flex flex-column dfm-p-16">
  <section class="d-flex justify-content-between align-items-center dfm-gap-32 dfm-mb-16">
    <header class="d-flex align-items-center dfm-gap-8">
      <div class="dfm-button-gray-400">
        <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
      </div>
      <span class="font-weight-medium">Upcoming Appointments in 4 hours ({{ upcomingAppointments.length }})</span>
    </header>

    <dfm-button-icon
      color="secondary"
      size="sm"
      icon="calendar-date"
    ></dfm-button-icon>
  </section>

  <section>
    <div class="d-flex flex-column dfm-gap-16 upcoming-events-container">
      <div *ngFor="let appointment of upcomingAppointments" class="d-flex flex-row dfm-gap-8 position-relative">
        <div class="circle-icon"></div>
        <div
          class="d-flex flex-column justify-content-center dfm-bg-main-50 dfm-px-10 dfm-py-4 text-xs text-center rounded">
          <span class="font-weight-medium"> {{ appointment.time | date : 'h:mm' }} </span>
          <span class="dfm-text-main-400"> Room {{ appointment.roomNo }} </span>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="rounded-circle avatar-container">
            <img *ngIf="appointment.avatar" [src]="appointment.avatar"
                 class="rounded-circle border-light border-1"
                 alt="Doctor's avatar"
                 width="40"
                 height="40">

            <div *ngIf="!appointment.avatar" class="circle-gray-200-40 d-flex justify-content-center align-items-center">
              {{ appointment.name.toString()[0].toUpperCase() }}
            </div>
          </div>
          <div class="d-flex flex-column dfm-px-10 dfm-py-4 text-xs">
            <span class="font-weight-medium"> {{ appointment.name | titlecase }} </span>
            <span class="dfm-text-main-400"> Room {{ appointment.post | titlecase }} </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
