<div class="d-flex flex-column dfm-p-16 h-100">
	<section class="d-flex justify-content-between align-items-center dfm-gap-32 dfm-mb-16">
		<header class="d-flex align-items-center dfm-gap-8" *ngIf="filteredUpcomingAppointments$$ | async as upcomingAppointments">
			<div class="dfm-button-gray-400">
				<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
			</div>
			<span class="font-weight-medium">{{ 'UpcomingAppointmentsInFourHours' | translate }} ({{ upcomingAppointments.length }})</span>
		</header>

		<dfm-button-icon
			color="secondary"
			size="sm"
			icon="calendar-date"
			ngbPopover="{{ 'Calendar' | translate }}"
			triggers="mouseenter:mouseleave"
			popoverClass="popover-p-8"
			[openDelay]="200"
			(click)="redirectToCalender()"
		></dfm-button-icon>
	</section>

	<section
		*ngIf="filteredUpcomingAppointments$$ | async as upcomingAppointments"
		class="h-92"
		infiniteScroll
		[scrollWindow]="false"
	>
		<div *ngIf="!noDataFound" class="d-flex flex-column dfm-gap-16 upcoming-events-container">
			<table>
				<thead class="text-xs">
					<th class="mx-1"></th>
					<th class="mx-1">{{ 'Time' | translate }}</th>
					<th class="mx-1"></th>
					<th class="text-start mx-1">{{ 'Patient' | translate }}</th>
					<th class="text-start mx-1">{{ 'Exam' | translate }}</th>
					<th class="text-start mx-1">{{ 'Room' | translate }}</th>
				</thead>
				<tbody>
					<tr *ngFor="let appointment of upcomingAppointments" class="position-relative text-xs">
						<div class="circle-icon"></div>
						<td class="mx-3">
							<span>{{ appointment?.exam?.startedAt ?? appointment.startedAt | dfmDefaultDate : 'time' | dfmUtcToLocal : true }}</span>
						</td>
						<td class="mx-3">
							<div class="rounded-circle avatar-container d-flex justify-content-center">
								<div class="circle-gray-200-40 d-flex justify-content-center align-items-center">
									{{ appointment?.patientFullName?.toString()[0].toUpperCase() }}
								</div>
							</div>
						</td>
						<td class="mx-3 name-td">
							<span class="font-weight-medium"> {{ appointment?.patientFullName | titlecase }}</span>
						</td>
						<td class="mx-3 exam-td">
							<span class="font-weight-medium"> {{ appointment?.examName| titlecase }}</span>
						</td>
						<td class="mx-3 room-td">
							<span class="font-weight-medium">{{ appointment.roomName | dashIfNothing }}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="chart-wrapper align-self-center dfm-mb-16 no-data-found" *ngIf="noDataFound">
			<span class="dfm-text-main-400">{{ 'NoDataFound' | translate }}</span>
		</div>
	</section>
</div>
