<div class="d-flex flex-column dfm-p-16 h-100">
	<section class="d-flex justify-content-between align-items-center dfm-gap-32 dfm-mb-16">
		<header class="d-flex align-items-center dfm-gap-8" *ngIf="filteredUpcommingAppointments$$ | async as upcomingAppointments">
			<div class="dfm-button-gray-400">
				<dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
			</div>
			<span class="font-weight-medium">{{ 'UpcomingAppointmentsInFourHours' | translate }} ({{ upcomingAppointments.length }})</span>
		</header>

		<dfm-button-icon
			color="secondary"
			size="sm"
			icon="calendar-date"
			ngbPopover="{{ 'Calendar' | translate }}"
			triggers="mouseenter:mouseleave"
			popoverClass="popover-p-8"
			[openDelay]="200"
			(click)="redirectToCalender()"
		></dfm-button-icon>
	</section>

	<section *ngIf="filteredUpcommingAppointments$$ | async as upcomingAppointments" class="h-92">
		<div *ngIf="!noDataFound" class="d-flex flex-column dfm-gap-16 upcoming-events-container">
			<div *ngFor="let appointment of upcomingAppointments" class="d-flex flex-row dfm-gap-8 position-relative">
				<div class="circle-icon"></div>
				<div class="d-flex flex-column justify-content-center dfm-bg-main-50 dfm-px-10 dfm-py-4 text-xs text-center rounded">
					<ng-container class="font-weight-medium">
						<span>{{ appointment?.exam?.startedAt | dfmDefaultDate : 'time' }}</span>
					</ng-container>
				</div>
				<!-- <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-center justify-content-between gap-2 font-weight-medium">
					<div class="w-100 d-flex flex-3 text-center px-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div class="w-100 d-flex flex-1 justify-content-center align-items-center px-2"><small>Patient</small></div>
					<div class="w-100 d-flex flex-1 justify-content-center align-items-center px-2"><small>Exam</small></div>
					<div class="w-100 d-flex flex-1 justify-content-center align-items-center px-2"><small>Room</small></div>
        </div> -->

					<div class="d-flex flex-row align-items-center">
						<div class="rounded-circle avatar-container">
							<div class="circle-gray-200-40 d-flex justify-content-center align-items-center">
								{{ appointment?.patientFname?.toString()[0].toUpperCase() }}
							</div>
						</div>
						<div class="d-flex flex-column dfm-px-10 dfm-py-4 text-xs name">
							<span class="font-weight-medium"> {{ appointment?.patientFname | titlecase }} {{ appointment?.patientLname | titlecase }} </span>
						</div>
						<div class="d-flex flex-column dfm-px-10 dfm-py-4 text-xs">
							<span class="font-weight-medium"> {{ appointment?.exam?.name | titlecase }}</span>
						</div>
						<div class="d-flex flex-column dfm-px-10 dfm-py-4 text-xs">
							<span class="font-weight-medium" *ngFor="let room of appointment.rooms; let i = index">
								{{ room?.name | titlecase }}{{ i < appointment.rooms.length ? ',' : '' }}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="chart-wrapper align-self-center dfm-mb-16 no-data-found" *ngIf="noDataFound">
			<span class="dfm-text-main-400">{{ 'NoDataFound' | translate }}</span>
		</div>
	</section>
</div>
