.rounded{
    // width :24%!important;
}

.no-data-found {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-92 {
  height: 92%;
}

div section:last-child {
  overflow-y: scroll;
  max-height: 280px;
  // height: inherit;

  div.upcoming-events-container {
    border-left: 1px solid var(--dfm-input-border);
    padding: 16px 8px 16px 24px;
    margin: 0 0 0 8px;

    .circle-icon {
      position: absolute;
      z-index: 1;
      background: white;
      border: 2px solid var(--dfm-primary);
      border-radius: 50%;
      width: 16px;
      height: 16px;
      left: -32px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .patient-name, .exam-name, .room-name, .patient-title, .exam-title, .room-title {
      white-space:normal;
      max-width: 100px;
      width: 100px;
      word-wrap: break-word;
    }

    .avatar-container {
      object-fit: contain;
      border: 1px solid var(--bs-gray-200)
    }
    // .patient-title{
    //   margin: 0px 20px 0px 0px;
    // }
    // .exam-title{
    //   margin: 0px 15px 0px 0px;
    // }
    .time-title, .avatar-title{
      visibility: hidden;
    }
    @media only screen and (min-width: 1060px) and (max-width: 1300px) {
      .avatar-container {
        display: none;
      }
    }
  }
}

@media (min-width:320px) and (max-width:525px){
  .patient-title{
    margin-left:25px!important;
  }
  .exam-title{
    margin-left: 40px!important;
  }
  .room-title{
    margin-left:35px!important;
  }
}

@media(min-width:425px)and (max-width: 534px) {
  // .patient-title{
  // margin: 0px 0px 0px 60px!important;
  // }
  // .exam-title{
  //   margin: 0px 0px 0px 50px!important;
  // }

}
@media(min-width:1301px) and (max-width:1920px){
  // .patient-title{
  // margin-left:51px!important;
  // }
  // .exam-title{
  //   margin-left: -10px!important;
  // }
}
.cursor-pointer {
  cursor: pointer;
}
