<div role="grid">
  <div role="presentation" class="calender-day-view-header">
    <div class="text-xs calender-day-view-time-format">
      <div>
        {{ (selectedDate | date : 'OOOO')?.split('+')?.join(' +') }}
      </div>
    </div>

    <div role="presentation" class="calender-day-view-weekday-header">
      <div role="row" class="calender-day-view-weekdays">
        <div class="calender-day-view-weekday-header-left-vertical-line"></div>
        <ng-container *ngIf="headerList?.length; else todayHeader">
          <div role="columnheader" class="calender-day-view-weekday flex-1" *ngFor="let header of headerList">
            <div class="calender-day-view-header-cell-left-line"></div>
            <h3>
              <div
                class="text-xs font-weight-medium w-fit calender-day-view-day-name">{{ header.name | titlecase }}</div>
            </h3>
          </div>
        </ng-container>

        <ng-template #todayHeader>
          <div role="columnheader" class="calender-day-view-weekday">
            <div class="calender-day-view-header-cell-left-line"></div>
            <h3>
              <div
                class="text-xs font-weight-medium w-fit calender-day-view-day-name">{{ selectedDate.getDay() | weekdayToName : false : true | uppercase  }}</div>
              <div class="w-fit calender-day-view-date"
                   [ngClass]="{ 'calender-day-view-date-today': todayDate.getDate() === selectedDateOnly && todayDate.getMonth() === selectedDate.getMonth() }">
                {{ selectedDateOnly }}
              </div>
            </h3>
          </div>

          <div role="columnheader" class="calender-day-view-weekday flex-1">
            <h3>
              <div class="text-xs font-weight-medium w-fit calender-day-view-day-name"></div>
              <div class="w-fit calender-day-view-date"></div>
            </h3>
          </div>
        </ng-template>
      </div>

      <div class="">

      </div>
    </div>
  </div>

  <div class="calender-day-view-body-container">
    <div role="presentation" class="calender-day-view-body">
      <div role="row" class="calender-day-view-time-slot-container">
        <div class="calender-day-view-time-slot text-sm" *ngFor="let time of 15 | timeInInterval : true">
          <span>{{ time }}</span>
          <div class="calender-day-view-horizontal-line"></div>
        </div>
      </div>

      <div role="presentation" class="calender-day-view-events-container-main">
        <div role="row" class="calender-day-view-events-container">
          <div>
            <div *ngFor="let i of 15 | timeInInterval" class="calender-day-view-horizontal-line">
            </div>
          </div>
          <div class="calender-day-view-events-left-vertical-line"></div>
          <ng-container *ngIf="headerList.length; else singleGridCol;">
            <div *ngFor="let h of headerList" role="gridcell" class="calender-day-view-body-grid-column">
              <div class="calender-day-view-body-grid-absolute"></div>
              <div class="calender-day-view-body-events-container" role="presentation">
                <ng-container *ngIf="dataGroupedByDateAndRoom[dateString] as dataGroupedByRoom">
                  <ng-container
                    *ngIf="dataGroupedByRoom && dataGroupedByRoom[h.value] as roomData">
                    <ng-container
                      *ngFor="let data of roomData; let eventNo = index;">

                      <div class="calender-day-view-event-container"
                           [ngStyle]="{
                          'top.px': getTop([data.appointment]),
                          'height.px': getHeight([data.appointment])
                       }"
                      >
                        <!-- POP OVER -->
                        <ng-template #eventDetails>
                          <div class="calender-day-view-event-details-expanded">
                            <div class="d-flex flex-column dfm-gap-4">
                              <span class="font-weight-medium"> Exam </span>
                              <span *ngIf="data.exams?.length">{{ data.exams | joinWithAnd : 'name'}}</span>
                            </div>

                            <div class="d-flex flex-column dfm-gap-4">
                              <span class="font-weight-medium dfm-mt-8"> Comments </span>
                              <span class=""> {{ data.appointment?.comments | dashIfNothing }} </span>
                            </div>

                            <div class="d-flex flex-column dfm-gap-4">
                              <span class="font-weight-medium dfm-mt-8">Staff</span>
                              <div *ngFor="let exam of data.exams" class="dfm-ps-4 dfm-pt-4">
                                <div *ngFor="let user of exam?.user"
                                     class="d-flex align-items-center dfm-gap-8">
                                  <div class="circle-gray-200-40">
                                    <!--                                    {{ user ? user?.firstname[0] : 'U' | uppercase }}-->
                                  </div>
                                  <div class="d-flex flex-column">
                                    <span>{{ user?.firstname | titlecase }} {{ user?.lastname | titlecase }}</span>
                                    <span class="dfm-text-main-500">{{ user?.userType | titlecase }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <!-- POP OVER ENDS -->

                        <div class="calender-day-view-event-details-container" (click)="$event.stopPropagation()"
                             [routerLink]="['/', 'appointment', data.appointment.id, 'view']">
                          <div class="d-flex dfm-gap-4" triggers="hover" [ngbPopover]="eventDetails"
                               [autoClose]="'outside'" container="body">
                            <div class="circle-gray-200-24">
                              {{ data.appointment.patientFname[0] | uppercase }}
                            </div>

                            <div class="d-flex flex-column">
                              <span class="calender-day-view-event-title">
                                {{ data.appointment.patientFname + ' ' + data.appointment.patientLname }}
                              </span>
                              <span class="calender-day-view-event-time">
                                {{ data.appointment.startedAt | date : 'hh:mm' }} -
                                {{ data.appointment.endedAt | date : 'hh:mm' }}
                              </span>
                            </div>
                          </div>

                          <div class="calender-day-view-event-more-button"
                               (click)="$event.stopPropagation(); moreMenu.toggle(); handleMoreButtonClick(moreMenu)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path
                                d="M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path
                                d="M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </div>

                          <div ngbDropdown #moreMenu="ngbDropdown" [autoClose]="false">
                            <div ngbDropdownMenu class="view-more-menu">
                              <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close(); changeRadiologists(data.appointment.id)">
                                <div class="icon-20">
                                  <dfm-icon name="home-03"></dfm-icon>
                                </div>
                                <span>Change Radiologist</span>
                              </button>

                              <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                <div class="icon-20" style="transform: rotateZ(180deg)">
                                  <dfm-icon name="alert-circle"></dfm-icon>
                                </div>
                                <span>Detail Research</span>
                              </button>

                              <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                <div class="icon-20">
                                  <dfm-icon name="home-03"></dfm-icon>
                                </div>
                                <span>Detail Appointment</span>
                              </button>

                              <button ngbDropdownItem (click)="$event.stopPropagation(); moveMenu.open()">
                                <div class="icon-20">
                                  <dfm-icon name="arrow-right"></dfm-icon>
                                </div>
                                <span>Move</span>
                                <div class="icon-20 ml-auto">
                                  <dfm-icon name="chevron-right"></dfm-icon>
                                </div>

                                <div ngbDropdown #moveMenu="ngbDropdown" placement="auto" container="body">
                                  <div ngbDropdownMenu class="view-more-menu">
                                    <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                      <span>Proposals</span>
                                    </button>

                                    <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                      <span>Manual</span>
                                    </button>

                                    <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                      <span>Shorten</span>
                                    </button>

                                    <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close()">
                                      <span>Expand</span>
                                    </button>
                                  </div>
                                </div>
                              </button>

                              <button ngbDropdownItem
                                      (click)="$event.stopPropagation(); readAppointment(data.appointment.id); moreMenu.close()">
                                <div class="icon-20">
                                  <dfm-icon name="file-06"></dfm-icon>
                                </div>
                                <span>Read</span>
                              </button>

                              <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close();"
                                      [routerLink]="['/', 'appointment', data.appointment.id, 'edit']"
                                      [state]="{ edit: true, comingFromRoute: 'appointment' }">
                                <div class="icon-20">
                                  <dfm-icon name="pencil-02"></dfm-icon>
                                </div>
                                <span>Edit</span>
                              </button>

                              <div class="dropdown-divider"></div>

                              <button ngbDropdownItem
                                      (click)="$event.stopPropagation(); deleteAppointment(data.appointment.id); moreMenu.close()">
                                <div class="icon-20">
                                  <dfm-icon name="trash-01"></dfm-icon>
                                </div>
                                <span>Delete</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>

          <ng-template #singleGridCol>
            <div role="gridcell" class="calender-day-view-body-grid-column">
              <div></div>
              <div role="presentation">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
