.header-appointment-dot-btn {
  left: 4px;
  position: relative;
}

.effectedAppointments {
	border-left: 2px solid #E57373 !important;
  background: #FFEBEE !important;
}

.font-10{
  font-size: 10px !important;
}

.calender-day-view {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: inherit;

  .calender-day-view-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .calender-day-view-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }
}

h3 {
  margin: 0;
}

.calender-day-view-header {
  display: flex;

  .calender-day-view-time-zone {
    display: flex;
    flex-direction: column;
    justify-content: end;
    vertical-align: middle;
    min-width: 64px;
    font-size: 0.7rem;

    div {
      white-space: nowrap;
      height: 24px;
    }
  }

  .calender-day-view-weekday-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    .calender-day-view-weekdays {
      display: flex;
      width: 100%;

      .calender-day-view-weekday-header-left-vertical-line {
        width: 8px;
        min-width: 8px;
        height: 100%;
        align-self: end;
        -webkit-align-self: flex-end;
      }

      .calender-day-view-weekday-alt {
        text-align: center;
        text-align: -webkit-center;
        min-width: 128px;
        color: var(--dfm-main-500);
        padding: 8px 0;
        position: relative;
        background: var(--dfm-table-odd-cell-bg);

        .calender-day-view-day-name {
          flex-direction: column;
            min-height: 18px;
            line-height: 16px;
            max-height: 72px;
            width: 100%;
            margin: 8px;
        }

        .calender-day-view-date {
          transition: all 150ms linear;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 1.5rem;

        }

        .calender-day-view-header-cell-left-line {
          border-left: 1px solid var(--dfm-main-200);
          bottom: 0;
          height: 100%;
          position: absolute;
        }

        .calender-day-view-date-today {
          background: coral;
          color: white;
        }
      }

      .calender-day-view-weekday {
        text-align: center;
        text-align: -webkit-center;
        min-width: 128px;
        width: 128px;
        color: var(--dfm-main-500);
        padding: 8px 0;
        position: relative;
        background: var(--dfm-table-odd-cell-bg);

        .calender-day-view-day-name {
          flex-direction: column;
            min-height: 18px;
            line-height: 16px;
            max-height: 72px;
            width: 100%;
            margin: 8px;
        }

        .calender-day-view-header-cell-left-line {
          border-left: 1px solid var(--dfm-main-200);
          bottom: 0;
          height: 100%;
          position: absolute;
        }

        .calender-day-view-date {
          transition: all 150ms linear;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 1.5rem;

        }

        .calender-day-view-date-today {
          background: coral;
          color: white;
        }
      }
    }
  }
}

.calender-day-view-body-container {
  overflow-y: auto;
  overflow-x: hidden;

  .calender-day-view-body {
    display: flex;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      height: 2px;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid var(--dfm-main-300);
    }

    .calender-day-view-time-slot-container {
      height: auto;
      overflow-y: hidden;
      min-width: 64px;
      display: flex;
      flex-direction: column;
      margin-top: 4px;

      .calender-day-view-time-slot {
        min-height: 60px;
        padding-right: 8px;
        text-align: right;
        position: relative;

        span {
          position: relative;
          top: -16px;
          font-size: 10px;
        }
      }
    }

    .calender-day-view-events-container-main {
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      flex: 1;

      .calender-day-view-events-container {
        min-width: 100%;
        display: inline-flex;
        vertical-align: top;
        cursor: pointer;

        .calender-day-view-horizontal-line {
          height: 60px;

          &:first-child::after {
            margin-top: -4px;
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-300);
            cursor: pointer;
          }
        }

        .calender-day-view-horizontal-line-light {
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            margin-top: -20px;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-100);
            cursor: pointer !important;
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            margin-top: -40px;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-100);
            cursor: pointer !important;
          }
        }

        .calender-day-view-events-left-vertical-line {
          width: 8px;
          min-width: 8px;
        }

        .calender-day-view-body-grid-column {
          min-width: 128px;
          width: 128px;
          flex: 1;
          border-left: 1px solid var(--dfm-main-200);
          padding-right: 12px;
          position: relative;

          .calender-day-view-body-grid-absolute {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }

          .calender-day-view-body-events-container {
            position: relative;
            height: 100%;
            width: 100%;
            &.drag-backdrop {
                position: absolute;
                top: 0;
                z-index: -1;
                opacity: .5;
              }
            
              &.drag-started {
                z-index: 999;
              }
          }
        }
      }
    }
  }
}

.calender-day-view-event-container {
  position: absolute;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid var(--dfm-blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 1;
  background: var(--dfm-blue-light);
  box-shadow: 0 0.125rem 0.25rem rgb(30 30 28 / 8%);
  transition: 200ms all linear;
  cursor: pointer;

  &:hover {
    z-index: 2;
    box-shadow: 0 0.125rem 1.25rem rgb(30 30 28 / 10%);
  }

  .calender-day-view-event-details-expanded {
    min-width: 256px !important;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0 8px;

    .calender-day-view-event-details-expanded-title {
      font-weight: 600;
    }

    .calender-day-view-event-patients-container {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 40vh;

      &::-webkit-scrollbar {
        width: 12px;
      }

      .calender-day-view-event-patients-container {
        display: flex;
        flex-direction: column;

        .calender-day-view-event-patient-details {
          display: flex;
          flex-direction: column;
          padding: 8px;
        }

        .calender-day-view-event-patient-details-divider {
          border-bottom: 1px solid var(--dfm-main-200);
          margin: 0 8px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
  }

  .calender-day-view-event-details-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    padding: 16px 8px 8px 8px;
    font-size: 0.9rem;

    .calender-day-view-event-title {
      width: calc(100% - 24px);
      font-weight: 600;
      font-size: 0.7rem;
    }

    .calender-day-view-event-time {
      font-size: 0.6rem;
      font-weight: 400;
      color: var(--dfm-main-500);
    }
  }

  .calender-day-view-event-details-container-sm {
    padding: 0 8px !important;
    align-self: center !important;
  }

  .calender-day-view-event-more-button {
    top : 2px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    color: var(--dfm-primary) !important;
    position: absolute;
    bottom: 2px;
    right: 25px;

    svg {
      color: var(--dfm-primary) !important;
    }

    &:hover {
      transition: all 150ms linear;
      background: var(--dfm-main-200);
      cursor: pointer;
    }
  }
}
.center {
  height: 40px !important;
  justify-content: center !important;
}

.view-more-menu {
  border: 1px solid var(--dfm-main-100);
  box-shadow: 0 0.125rem 0.25rem rgb(30 30 28 / 8%);

  button {
    display: flex;
    padding: 8px 16px;
    gap: 8px;

    &:active {
      background: white;
      color: black;
    }
  }
}

.appointment-title {
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 20px;
  color: black;
  background: transparent;
  pointer-events: none;
  margin-left: 8px;
}

.ad-ap-modal-shadow {
  .modal-content {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.gray-out-area {
  background: var(--dfm-main-200);
  width: 100%;
  position: absolute;
  opacity: .5;
  margin-left: 8px;
}
.calendar-comments-text{
  word-wrap: break-word;
  max-width:200px;
  min-width:50px;
}

.resizable {
  height: 100px;
  position: absolute;
}

.resizable .resizers .resizer {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4286f4;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top {
  right: 15px;
  top: -4px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom {
  left: 15px;
  bottom: -4px;
  cursor: nesw-resize;
}
@media (max-width: 680px) {
  .calender-day-view-event-details-expanded {
    min-width: auto !important;
  }

  .calender-day-view-event-patients-container {
    overflow-y: auto;
    max-height: 256px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.mat-menu-item {
  display: flex !important;
  align-items: center;
  gap: 12px;
  max-height: 40px;
}





.dfm-card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calender-month-view-day-exam-event-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 8px;
  font-size: 0.9rem;
  border-left: 2px solid var(--dfm-blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: var(--dfm-blue-light);
  cursor: pointer;

  &.more-btn {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    border: unset;
    border-radius: unset;
    background: #f7f5f5;
    cursor: pointer;
    width: 100%;

    &:hover {
      font-weight: 600;
    }
  }
}

.calender-month-view-day-exam-event-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  width: 100%;

  .calender-month-view-event-circle-icon {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: -13px;
    top: -8px;
    background: var(--dfm-blue);
    color: white;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 22px;
  }

  .calender-month-view-day-exam-event-title {
    min-height: 12px;
    font-size: 10px !important;
  }

  .calender-month-view-day-exam-event-time {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--dfm-main-500);
  }

  .calender-month-view-day-exam-details-expanded {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .calender-month-view-day-exam-details-expanded-title {
      font-weight: 600;

      &.date {
        margin-top: -8px;
      }
    }

    .calender-month-view-day-exam-details-expanded-patients-container {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 40vh;

      &::-webkit-scrollbar {
        width: 12px;
      }

      .calender-month-view-day-exam-details-expanded-patient-details-container {
        display: flex;
        flex-direction: column;


        .calender-month-view-day-exam-details-expanded-patient-details-divider {
          border-bottom: 1px solid var(--dfm-main-200);
          margin: 0 8px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
  }
}
