.calender-day-view {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: inherit;

  .calender-day-view-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .calender-day-view-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }
}

h3 {
  margin: 0;
}

.calender-day-view-header {
  display: flex;

  .calender-day-view-time-zone {
    display: flex;
    flex-direction: column;
    justify-content: end;
    vertical-align: middle;
    min-width: 64px;
    //max-width: 80px;
    font-size: 0.7rem;

    div {
      white-space: nowrap;
      height: 24px;
    }
  }

  .calender-day-view-weekday-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    .calender-day-view-weekdays {
      display: flex;
      width: 100%;

      .calender-day-view-weekday-header-left-vertical-line {
        width: 8px;
        min-width: 8px;
        height: 100%;
        align-self: end;
        -webkit-align-self: flex-end;
        //border-right: 1px solid var(--dfm-main-200);;
      }

      .calender-day-view-weekday-alt {
        text-align: center;
        text-align: -webkit-center;
        //width: 256px;
        min-width: 128px;
        //max-width: 256px;
        color: var(--dfm-main-500);
        padding: 8px 0;
        position: relative;
        background: var(--dfm-table-odd-cell-bg);

        .calender-day-view-day-name {
          height: 40px;
          line-height: 40px;
        }

        .calender-day-view-date {
          transition: all 150ms linear;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 1.5rem;

          //&:hover {
          //  cursor: pointer;
          //  background: var(--dfm-main-200);
          //  color: black;
          //}
        }

        .calender-day-view-header-cell-left-line {
          border-left: 1px solid var(--dfm-main-200);
          bottom: 0;
          height: 100%;
          //margin-left: -8px;
          position: absolute;
        }

        .calender-day-view-date-today {
          background: coral;
          color: white;
        }
      }

      .calender-day-view-weekday {
        text-align: center;
        text-align: -webkit-center;
        //width: 256px;
        min-width: 128px;
        width: 128px;
        color: var(--dfm-main-500);
        padding: 8px 0;
        position: relative;
        background: var(--dfm-table-odd-cell-bg);

        .calender-day-view-day-name {
          height: 40px;
          line-height: 40px;
        }

        .calender-day-view-header-cell-left-line {
          border-left: 1px solid var(--dfm-main-200);
          bottom: 0;
          height: 100%;
          //margin-left: -8px;
          position: absolute;
        }

        .calender-day-view-date {
          transition: all 150ms linear;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 1.5rem;

          //&:hover {
          //  cursor: pointer;
          //  background: var(--dfm-main-200);
          //  color: black;
          //}
        }

        .calender-day-view-date-today {
          background: coral;
          color: white;
        }
      }
    }
  }
}

.calender-day-view-body-container {
  //max-height: calc(100vh - 368px);
  overflow-y: auto;
  overflow-x: hidden;

  .calender-day-view-body {
    display: flex;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      height: 2px;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid var(--dfm-main-300);
      //left: 96px;
    }

    .calender-day-view-time-slot-container {
      height: auto;
      overflow-y: hidden;
      min-width: 64px;
      display: flex;
      flex-direction: column;
      margin-top: 4px;

      .calender-day-view-time-slot {
        min-height: 60px;
        padding-right: 8px;
        text-align: right;
        position: relative;

        span {
          position: relative;
          top: -16px;
          font-size: 10px;
        }
      }
    }

    .calender-day-view-events-container-main {
      overflow-x: auto;
      //overflow-y: scroll;
      display: flex;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      flex: 1;

      .calender-day-view-events-container {
        min-width: 100%;
        display: inline-flex;
        vertical-align: top;
        // position: relative;

        .calender-day-view-horizontal-line {
          //position: absolute;
          //width: calc(100vw - 128px);
          height: 60px;
          //top: -12px;
          //left: 64px;

          &:first-child::after {
            margin-top: -4px;
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            //margin-top: -4px;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-300);
            cursor: pointer;
          }
        }

        .calender-day-view-horizontal-line-light {
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            margin-top: -20px;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-100);
            cursor: pointer !important;
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            margin-top: -40px;
            z-index: 1;
            pointer-events: none;
            border-bottom: 1px solid var(--dfm-main-100);
            cursor: pointer !important;
          }
        }

        .calender-day-view-events-left-vertical-line {
          width: 8px;
          min-width: 8px;
          //border-right: 1px solid var(--dfm-main-200);
        }

        .calender-day-view-body-grid-column {
          //width: 256px;
          min-width: 128px;
          width: 128px;
          flex: 1;
          border-left: 1px solid var(--dfm-main-200);
          padding-right: 12px;
          position: relative;
          //overflow: hidden;

          .calender-day-view-body-grid-absolute {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }

          .calender-day-view-body-events-container {
            position: relative;
            height: 100%;
            width: 100%;
            //overflow-y: hidden;
          }
        }
      }
    }
  }
}

.calender-day-view-event-container {
  position: absolute;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid var(--dfm-blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 1;
  background: var(--dfm-blue-light);
  box-shadow: 0 0.125rem 0.25rem rgb(30 30 28 / 8%);
  transition: 200ms all linear;
  cursor: pointer;

  &:hover {
    z-index: 2;
    box-shadow: 0 0.125rem 1.25rem rgb(30 30 28 / 10%);
  }

  .calender-day-view-event-details-expanded {
    min-width: 256px !important;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 0 8px;

    .calender-day-view-event-details-expanded-title {
      font-weight: 600;
    }

    .calender-day-view-event-patients-container {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      max-height: 40vh;

      &::-webkit-scrollbar {
        width: 12px;
      }

      .calender-day-view-event-patients-container {
        display: flex;
        flex-direction: column;

        .calender-day-view-event-patient-details {
          display: flex;
          flex-direction: column;
          padding: 8px;
          //&:hover {
          //  background: var(--dfm-main-100);
          //}
        }

        .calender-day-view-event-patient-details-divider {
          border-bottom: 1px solid var(--dfm-main-200);
          margin: 0 8px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
        }
      }
    }
  }

  .calender-day-view-event-details-container {
    display: flex;
    flex-direction: column;
    //justify-content: start;
    //align-items: center;
    gap: 4px;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    //height: fit-content;
    padding: 16px 8px 8px 8px;
    font-size: 0.9rem;

    .calender-day-view-event-title {
      font-weight: 600;
      font-size: 0.8rem;
    }

    .calender-day-view-event-time {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--dfm-main-500);
    }
  }

  .calender-day-view-event-details-container-sm {
    padding: 0 8px !important;
    align-self: center !important;
  }

  .calender-day-view-event-more-button {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    color: var(--dfm-primary) !important;
    position: absolute;
    bottom: 2px;
    right: 2px;
    //align-self: end;

    svg {
      color: var(--dfm-primary) !important;
    }

    &:hover {
      transition: all 150ms linear;
      background: var(--dfm-main-200);
      cursor: pointer;
    }
  }
}

.view-more-menu {
  border: 1px solid var(--dfm-main-100);
  box-shadow: 0 0.125rem 0.25rem rgb(30 30 28 / 8%);

  button {
    display: flex;
    padding: 8px 16px;
    /* align-items: center; */
    gap: 8px;

    &:active {
      background: white;
      color: black;
    }
  }
}

.appointment-title {
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 20px;
  color: black;
  background: transparent;
  pointer-events: none;
  margin-left: 8px;
}

.ad-ap-modal-shadow {
  .modal-content {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.gray-out-area {
  background: var(--dfm-main-200);
  width: 100%;
  position: absolute;
  opacity: .5;
  z-index: 2;
}

@media (max-width: 680px) {
  .calender-day-view-event-details-expanded {
    min-width: auto !important;
  }

  .calender-day-view-event-patients-container {
    overflow-y: auto;
    max-height: 256px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
