<div role="grid" class="calender-day-view">
  <div class="calender-day-view-absolute">
    <div class="calender-day-view-container" *ngIf="timeSlot?.timings">
      <div role="presentation" class="calender-day-view-header " >
        <div class="text-xs calender-day-view-time-zone">
          <div>
            {{ (selectedDate | date : 'OOOO')?.split('+')?.join(' +') }}
          </div>
        </div>

        <div role="presentation" class="calender-day-view-weekday-header hide-scrollbar" (scroll)="onScroll(scrollOne, scrollTwo)" #scrollOne>
          <div role="row" class="calender-day-view-weekdays">
            <div class="calender-day-view-weekday-header-left-vertical-line"></div>
            <ng-container *ngIf="headerList?.length; else todayHeader">
              <div role="columnheader" class="calender-day-view-weekday flex-1" *ngFor="let header of headerList">
                <div class="calender-day-view-header-cell-left-line"></div>
                <h3>
                  <div
                    class="text-xs font-weight-medium w-fit calender-day-view-day-name">{{ header.name | titlecase }}</div>
                </h3>
              </div>
            </ng-container>

            <ng-template #todayHeader>
              <div role="columnheader" class="calender-day-view-weekday-alt">
                <div class="calender-day-view-header-cell-left-line"></div>
                <h3>
                  <div
                    class="text-xs font-weight-medium w-fit calender-day-view-day-name">{{ selectedDate.getDay() | weekdayToName : false : true | uppercase  }}</div>
                  <div class="w-fit calender-day-view-date"
                       [ngClass]="{ 'calender-day-view-date-today': todayDate.getDate() === selectedDateOnly && todayDate.getMonth() === selectedDate.getMonth() }">
                    {{ selectedDateOnly }}
                  </div>
                </h3>
              </div>

              <div role="columnheader" class="calender-day-view-weekday-alt flex-1 max-w-full">
                <h3>
                  <div class="text-xs font-weight-medium w-fit calender-day-view-day-name"></div>
                  <div class="w-fit calender-day-view-date"></div>
                </h3>
              </div>
            </ng-template>
          </div>

          <div class="">

          </div>
        </div>
      </div>

      <div class="calender-day-view-body-container hide-scrollbar" >
        <div role="presentation" class="calender-day-view-body">
          <div role="row" class="calender-day-view-time-slot-container">
            <div class="calender-day-view-time-slot text-sm" *ngFor="let time of timeSlot.timings">
              <span>{{ time }}</span>
              <div class="calender-day-view-horizontal-line"></div>
            </div>
          </div>

          <div role="presentation" class="calender-day-view-events-container-main" (scroll)="onScroll(scrollTwo, scrollOne)" #scrollTwo>
            <div role="row" class="calender-day-view-events-container">
              <div>
                <ng-container *ngFor="let i of timeSlot.timings">
                  <div class="calender-day-view-horizontal-line"></div>
                  <div class="calender-day-view-horizontal-line-light"></div>
                </ng-container>
              </div>
              <div class="calender-day-view-events-left-vertical-line"></div>
              <ng-container *ngIf="headerList.length; else singleGridCol;">
                <div *ngFor="let h of headerList" role="gridcell" class="calender-day-view-body-grid-column">
                  <div class="calender-day-view-body-grid-absolute"></div>

                  <div class="calender-day-view-body-events-container" role="presentation" #eventsContainer (dblclick)="addAppointment($event, eventsContainer)">
                    <ng-container *ngIf="dataGroupedByDateAndRoom[dateString] as dataGroupedByRoom">
                      <ng-container
                        *ngIf="dataGroupedByRoom && dataGroupedByRoom[h.value] as roomData">
                        <ng-container
                          *ngFor="let data of roomData; let eventNo = index;">

                          <div *ngIf="getHeight([data.appointment]) as eventHeight" #eventContainer class="calender-day-view-event-container" (dblclick)="$event.preventDefault()"
                               [ngStyle]="{ 'top.px': getTop([data.appointment]), 'height.px': eventHeight }"
                          >
                            <div class="overflow-hidden">
                              <!-- POP OVER -->
                              <ng-template #eventDetails>
                                <div class="calender-day-view-event-details-expanded">
                                  <div class="d-flex flex-column dfm-gap-4">
                                    <span class="font-weight-medium"> Exam </span>
                                    <span *ngIf="data.exams?.length">{{ data.exams | joinWithAnd : 'name'}}</span>
                                  </div>

                                  <div class="d-flex flex-column dfm-gap-4">
                                    <span class="font-weight-medium dfm-mt-8"> Comments </span>
                                    <span class=""> {{ data.appointment?.comments | dashIfNothing }} </span>
                                  </div>

                                  <div class="d-flex flex-column dfm-gap-4">
                                    <span class="font-weight-medium dfm-mt-8">Staff</span>
                                    <ng-container *ngIf="data.exams | isData : 'users'; else dash">
                                      <div *ngFor="let exam of data.exams" class="dfm-ps-4 dfm-pt-4">
                                        <div *ngFor="let user of exam?.users"
                                             class="d-flex align-items-center dfm-gap-8">
                                          <div class="circle-gray-200-40">
                                            <!--                                    {{ user ? user?.firstname[0] : 'U' | uppercase }}-->
                                          </div>
                                          <div class="d-flex flex-column">
                                            <span>{{ user?.firstname | titlecase }} {{ user?.lastname | titlecase }}</span>
                                            <span class="dfm-text-main-500">{{ user?.userType | titlecase }}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>
                                    <ng-template #dash>
                                      <span>{{ '' | dashIfNothing }}</span>
                                    </ng-template>
                                  </div>
                                </div>
                              </ng-template>
                              <!-- POP OVER ENDS -->

                              <div class="calender-day-view-event-details-container" (click)="$event.stopPropagation()"
                                   [ngClass]="{ 'calender-day-view-event-details-container-sm m-0-auto': +eventHeight <= 40 }"
                                   [routerLink]="['/', 'appointment', data.appointment.id, 'view']">
                                <div class="d-flex dfm-gap-4" triggers="hover" [ngbPopover]="eventDetails"
                                     [autoClose]="'outside'" container="body">
                                  <div class="circle-gray-200-24" *ngIf="+eventHeight > 40">
                                    {{ data.appointment.patientFname[0] | uppercase }}
                                  </div>

                                  <div class="d-flex flex-column">
                                    <span class="calender-day-view-event-title">
                                      {{ data.appointment.patientFname + ' ' + data.appointment.patientLname }}
                                    </span>

                                    <span class="calender-day-view-event-time" *ngIf="+eventHeight > 40">
                                      {{ data.appointment.startedAt | date : 'hh:mm' }} -
                                      {{ data.appointment.endedAt | date : 'hh:mm' }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="calender-day-view-event-more-button"
                                 (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu)">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                                  stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path
                                  d="M19 13C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13Z"
                                  stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path
                                  d="M5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z"
                                  stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>

                              <div ngbDropdown #moreMenu="ngbDropdown" [autoClose]="false">
                                <div ngbDropdownMenu class="view-more-menu">
                                  <button ngbDropdownItem
                                          (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu); changeRadiologists(data.appointment)">
                                    <div class="icon-20">
                                      <dfm-icon name="home-03"></dfm-icon>
                                    </div>
                                    <span>{{ 'Change' | translate }} {{ 'Radiologist' | translate }}</span>
                                  </button>

<!--                                  <button ngbDropdownItem-->
<!--                                          (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu)">-->
<!--                                    <div class="icon-20" style="transform: rotateZ(180deg)">-->
<!--                                      <dfm-icon name="alert-circle"></dfm-icon>-->
<!--                                    </div>-->
<!--                                    <span>Detail Research</span>-->
<!--                                  </button>-->

<!--                                  <button ngbDropdownItem-->
<!--                                          (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu)">-->
<!--                                    <div class="icon-20">-->
<!--                                      <dfm-icon name="home-03"></dfm-icon>-->
<!--                                    </div>-->
<!--                                    <span>Detail Appointment</span>-->
<!--                                  </button>-->

                                  <button ngbDropdownItem
                                          (click)="$event.stopPropagation(); moveMenu.toggle()">
                                    <div class="icon-20">
                                      <dfm-icon name="arrow-right"></dfm-icon>
                                    </div>
                                    <span>{{ 'Move' | translate }}</span>
                                    <div class="icon-20 ml-auto">
                                      <dfm-icon name="chevron-right"></dfm-icon>
                                    </div>

                                    <div ngbDropdown #moveMenu="ngbDropdown" placement="auto">
                                      <div ngbDropdownMenu class="view-more-menu">
<!--                                        <button ngbDropdownItem-->
<!--                                                (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu)">-->
<!--                                          <span>Proposals</span>-->
<!--                                        </button>-->

<!--                                        <button ngbDropdownItem-->
<!--                                                (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu)">-->
<!--                                          <span>Manual</span>-->
<!--                                        </button>-->

                                        <button ngbDropdownItem
                                                (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu); openChangeTimeModal(data.appointment, false, eventContainer)">
                                          <span>{{ 'Shorten' | translate }}</span>
                                        </button>

                                        <button ngbDropdownItem
                                                (click)="$event.stopPropagation(); toggleMoreMenu(moreMenu); openChangeTimeModal(data.appointment, true, eventContainer)">
                                          <span>{{ 'Extend' | translate }}</span>
                                        </button>
                                      </div>
                                    </div>
                                  </button>

                                  <button ngbDropdownItem (click)="$event.stopPropagation(); moreMenu.close();"
                                          [routerLink]="['/', 'appointment', data.appointment.id, 'edit']"
                                          [state]="{ edit: true, comingFromRoute: 'appointment' }">
                                    <div class="icon-20">
                                      <dfm-icon name="pencil-02"></dfm-icon>
                                    </div>
                                    <span>{{ 'Edit' | translate }}</span>
                                  </button>

                                  <div class="dropdown-divider"></div>

                                  <button ngbDropdownItem
                                          (click)="$event.stopPropagation(); deleteAppointment(data.appointment.id); moreMenu.close()">
                                    <div class="icon-20">
                                      <dfm-icon name="trash-01"></dfm-icon>
                                    </div>
                                    <span>{{ 'Delete' | translate}}</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

              <ng-template #singleGridCol>
                <div role="gridcell" class="calender-day-view-body-grid-column">
                  <div></div>
                  <div role="presentation">
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
