<div class="cancelled-bar-chart-wrapper d-flex flex-column justify-content-between dfm-gap-16 dfm-p-16">
  <section class="d-flex justify-content-between dfm-gap-8 align-items-start" >
    <header>
      <span class="dfm-text-main-400">{{"Completed" | translate}}</span>
<!--       <h2 class="card-value-text" *ngIf="status$$ | async as status">{{ status?.count }}</h2>-->
    </header>
    <div class="d-flex" *ngIf="status$$ | async as status">
      <div class="chart-arrow-down" [ngClass]="{ 'chart-arrow-up': status?.isUp, 'chart-arrow-down': !status?.isUp }">
        <dfm-button
          color="link-gray"
          size="sm"
          trailingIcon="{{ status?.isUp ? 'arrow-up' : 'arrow-down' }}"
        ></dfm-button>
      </div>
      <span [ngStyle]="{ color: status?.isUp ? '#12B76A' : 'red' }" class="font-weight-medium text-red">{{ status?.percentage | number : '1.2-2'}}</span>
    </div>
  </section>

  <section class="d-flex justify-content-end bar-chart-tab-view bar-chart-xxl-view">
    <ng-container *ngIf="(isNoData$$ | async) === true; else graph">
      <div class="d-flex justify-content-center align-items-center w-100">{{'NoDataFound' | translate}}</div>
    </ng-container>
    <ng-template #graph>
      <canvas baseChart
              [type]="'bar'" r
              [data]="cancelledBarChartConfig"
              [labels]="completedBarChartLabels"
              [options]="cancelledBarChartOptions"
              [plugins]="cancelledBarChartPlugins"
              [legend]="cancelledBarChartLegend">
      </canvas>
    </ng-template>
  </section>
</div>
