.pr-vw-sec2-card {
  //max-height: 256px;
  min-width: 378px;
}

@media (max-width: 1440px) {
  section.pr-vw-section2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  section.pr-vw-section1 {
    padding: 0 8px;

    .pr-vw-title-buttons, .pr-vw-action-buttons {
      display: none !important;
    }

    .pr-vw-title-buttons-mv {
      display: flex !important;
    }
  }

  .pr-vw-action-buttons-mv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    z-index: 10000;

    & > dfm-button {
      height: 44px;
    }
  }
}

