<div *ngIf="prioritySlotDetails$$ | async as priorityDetails" class="d-flex flex-column dfm-gap-24">
	<section class="d-flex align-items-center justify-content-between dfm-gap-16 pr-vw-section1">
		<div class="d-flex dfm-gap-8 align-items-center dfm-text-primary pr-vw-title-buttons">
			<dfm-button color="link" size="lg" routerLink="/priority-slots">{{ 'PrioritySlots' | translate }} </dfm-button>
			<div style="width: 16px; height: 16px" class="h-fit">
				<dfm-icon name="chevron-right"></dfm-icon>
			</div>
			<dfm-button color="link-gray" size="lg">{{ 'View' | translate }} </dfm-button>
		</div>

		<div class="d-flex dfm-gap-16 pr-vw-action-buttons">
			<dfm-button
				color="link"
				size="md"
				leadingIcon="pencil-02"
				*dfmPermitted="Permission.UpdatePrioritySlots"
				(click)="openEditPriorityModal(priorityDetails.id)"
				>{{ 'EditPrioritySlots' | translate }}
			</dfm-button>

			<dfm-button
				color="link"
				size="md"
				class="text-nowrap"
				leadingIcon="trash-01"
				*dfmPermitted="Permission.DeletePrioritySlots"
				(click)="deletePriority(priorityDetails.id)"
			>
				{{ 'DeletePrioritySlots' | translate }}
			</dfm-button>
		</div>

		<!-- Mobile View -->
		<div class="hidden dfm-gap-8 align-items-center pr-vw-title-buttons-mv">
			<div class="rounded-circle overflow-hidden">
				<dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" routerLink="/priority-slots"> </dfm-button-icon>
			</div>

			<dfm-button color="link" size="lg" routerLink="./">{{ 'PrioritySlotsView' | translate }} </dfm-button>
		</div>
		<!-- ** -->
	</section>

	<section class="d-flex dfm-gap-24 pr-vw-section2 view-page-content-height">
		<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 pr-vw-sec2-card">
			<header class="d-flex align-items-center dfm-gap-8">
				<div class="dfm-button-gray-400">
					<dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
				</div>
				<span class="font-weight-medium">{{ 'PriorityDetails' | translate }}</span>
			</header>

			<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
				<!-- <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Name</span>
          <span class="flex-1">{{ priorityDetails.name | titlecase }}</span>
        </div> -->

				<div class="d-flex dfm-gap-8 justify-content-left">
					<span class="flex-1">{{ 'StartDate' | translate }}</span>
					<span class="flex-1" *ngIf="!priorityDetails.endedAt"
						>{{ priorityDetails.startedAt | date : 'dd/MM/yyyy, HH:mm' }} - {{ priorityDetails.slotEndTime?.slice(0, -3) }}</span
					>
					<span class="flex-1" *ngIf="priorityDetails.endedAt">{{ priorityDetails.startedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>
				</div>

				<div class="d-flex dfm-gap-8 justify-content-between" *ngIf="priorityDetails.isRepeat">
					<span class="flex-1">{{ 'EndDate' | translate }}</span>
					<span class="flex-1">{{ priorityDetails.endedAt | date : 'dd/MM/yyyy, HH:mm' | dashIfNothing }}</span>
				</div>

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'Priority' | translate }}</span>
					<span class="text-break flex-1" style="white-space: pre-wrap">{{ priorityDetails.priority | translate }}</span>
				</div>

				<!--        <div class="d-flex dfm-gap-8 justify-content-between" *ngIf="priorityDetails.users">-->
				<!--          <span class="flex-1">{{"Radiologist" | translate}} </span>-->
				<!--          <div class="radiologist-name d-flex flex-column flex-1">-->
				<!--            <span class="text-break" style="white-space: pre-wrap" *ngIf="priorityDetails.users.length === 0"> — </span>-->
				<!--            <div class="d-flex flex-column" *ngIf="priorityDetails.users.length > 0">-->
				<!--              <span class="text-break flex-1" style="white-space: pre-wrap" *ngFor="let radiologist of priorityDetails.users"-->
				<!--                >{{ radiologist.firstname }} {{ radiologist.lastname }}</span-->
				<!--              >-->
				<!--            </div>-->
				<!--          </div>-->
				<!--        </div>-->

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'NextSlotOpen' | translate }} %</span>
					<span class="text-break flex-1" style="white-space: pre-wrap">{{ priorityDetails?.nxtSlotOpenPct | dashIfNothing }}</span>
				</div>

				<!-- <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Priority</span>
          <span class="flex-1">{{ priorityDetails.priority }}</span>
        </div> -->

				<!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
				<!--          <span class="flex-1">Status</span>-->
				<!--          <span class="font-weight-medium flex-1"-->
				<!--                [ngClass]="priorityDetails.status === 0 ? 'dfm-text-danger-600' : 'dfm-text-success-600'">{{ priorityDetails.status | statusName }}</span>-->
				<!--        </div>-->

				<!-- <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Staff</span>
          <span class="flex-1 text-break"> {{ priorityDetails.user | joinWithAnd : 'firstname' | dashIfNothing }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Room</span>
          <span class="flex-1 text-break">{{ priorityDetails.rooms | joinWithAnd : 'name' | titlecase | dashIfNothing }}</span>
        </div> -->
			</div>
		</div>

		<!-- <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16">
      <header class="d-flex align-items-center dfm-gap-8">
        <div class="dfm-button-gray-400">
          <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
        </div>
        <span class="font-weight-medium">Priority Information</span>
      </header>

      <div class="d-flex dfm-gap-8 justify-content-between">
        <span class="flex-1">Priority</span>
        <span class="text-break" style="white-space: pre-wrap">{{ priorityDetails.priority }}</span>
      </div>

      <div class="d-flex dfm-gap-8 justify-content-between" *ngIf="priorityDetails.users">
        <span class="flex-1">Radiologist </span>
        <div class="radiologist-name d-flex flex-column">
          <span class="text-break" style="white-space: pre-wrap" *ngIf="(priorityDetails.users.length === 0)"> — </span>
          <div *ngIf="priorityDetails.users.length>0">
            <span class="text-break" style="white-space: pre-wrap" *ngFor="let radiologist of priorityDetails.users">{{ radiologist.firstname }} {{radiologist.lastname }}</span>
          </div>
        </div>
      </div>
    </div> -->

		<div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16 pr-vw-sec2-card">
			<header class="d-flex align-items-center dfm-gap-8">
				<div class="dfm-button-gray-400">
					<dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
				</div>
				<span class="font-weight-medium">{{ 'PriorityRepeatDetails' | translate }}</span>
			</header>

			<div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
				<!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
				<!--          <span class="flex-1">Start Date</spa  n>-->
				<!--          <span class="flex-1">{{ priorityDetails.startedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>-->
				<!--        </div>-->

				<!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
				<!--          <span class="flex-1 text-nowrap">End Date</span>-->
				<!--          <span class="flex-1 text-truncate">{{ priorityDetails.endedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>-->
				<!--        </div>-->

				<!-- <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Holiday</span>
          <span class="flex-1">{{ priorityDetails.isHoliday ? 'Yes' : 'No' | dashIfNothing }}</span>
        </div> -->

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'Repeat' | translate }}</span>
					<span class="flex-1">{{ priorityDetails.isRepeat ? ('Yes' | translate) : ('AllDay' | dashIfNothing | translate) }}</span>
				</div>

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'RepeatType' | translate }}</span>
					<span class="flex-1"
						><span>{{ priorityDetails.repeatType | titlecase | dashIfNothing | translate }}</span>
					</span>
				</div>

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'RepeatEvery' | translate }}</span>
					<span class="flex-1"
						>{{ priorityDetails.repeatFrequency }}
						<span *ngIf="priorityDetails.repeatFrequency">{{ priorityDetails.repeatType | repeatTypeToName }}</span>
					</span>
				</div>

				<div class="d-flex dfm-gap-8 justify-content-between">
					<span class="flex-1">{{ 'RepeatOn' | translate }}</span>
					<span class="flex-1" *ngIf="priorityDetails.repeatDays && priorityDetails.repeatType === repeatType.Monthly">{{
						priorityDetails.repeatDays.split(',') | joinWithAnd | dashIfNothing
					}}</span>
					<span class="flex-1" *ngIf="priorityDetails.repeatDays && priorityDetails.repeatType === repeatType.Weekly">{{
						priorityDetails.repeatDays.split(',') | weekdayToName : true | joinWithAnd | dashIfNothing
					}}</span>
					<span class="flex-1" *ngIf="priorityDetails.repeatDays && priorityDetails.repeatType === repeatType.Daily">{{ '' | dashIfNothing }}</span>
					<span *ngIf="!priorityDetails.repeatDays" class="flex-1">{{ '' | dashIfNothing }}</span>
				</div>
			</div>
		</div>
	</section>

	<div class="hidden bg-white pr-vw-action-buttons-mv" *dfmPermitted="[Permission.UpdatePrioritySlots, Permission.DeletePrioritySlots]">
		<dfm-button color="secondary" size="sm" *dfmPermitted="Permission.DeletePrioritySlots" (click)="deletePriority(priorityDetails.id)">{{
			'Delete' | translate
		}}</dfm-button>
		<dfm-button color="primary" size="sm" *dfmPermitted="Permission.UpdatePrioritySlots" (click)="openEditPriorityModal(priorityDetails.id)">{{
			'Edit' | translate
		}}</dfm-button>
	</div>
</div>

<ng-template #dash>
	<span> {{ '' | dashIfNothing }} </span>
</ng-template>

