<div class="dfm-container">
  <mat-tab-group>
    <mat-tab [label]="'Daily' | translate ">
      <div>
        <div>
          <dfm-input
            #repeatFrequency
            class="flex-1"
            formControlName="repeatFrequency"
            label="{{ 'RepeatEvery' | translate }} *"
            placeholder="{{ 'EnterRepeatCount' | translate }}"
            size="md"
            type="text"
            required
          >
          </dfm-input>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'Weekly' | translate "> Content 2 </mat-tab>
    <mat-tab [label]="'Monthly' | translate "> Content 3 </mat-tab>
  </mat-tab-group>
  <div class="d-flex flex-column dfm-gap-16 flex-1 mt-4">
    <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'Ends' | translate }} *</span>
    <div class="w-fit d-flex justify-content-between dfm-gap-24">
      <dfm-radio-button
        class="font-weight-normal"
        label="{{ 'Never' | translate }}"
        formControlName="priority"
      ></dfm-radio-button>
      <dfm-radio-button
        class="font-weight-normal"
        label="{{ 'Until' | translate }}"
        formControlName="priority"
      >
        <div class="dfm-button-group-wrapper flex-1">
          <div class="input-as-dfm-input">
            <input
            placeholder="{{'dateFormat' | translate}}"
            required  [matDatepicker]="picker2" readonly class="w-full min-w-128">
          </div>
          <dfm-button-icon
            color="secondary-gray"
            size="md"
            icon="calendar-date"
            ngbPopover="{{ 'Calendar' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="picker2.open()"
          ></dfm-button-icon>
          <mat-datepicker #picker2></mat-datepicker>
        </div>
        <!-- <small
          class="validation-error"
          *ngIf="prioritySlotForm.get('endedAt')?.hasError('required') && prioritySlotForm.get('endedAt')?.touched"
        >
          {{ 'RequiredField' | translate }}
        </small> -->
    </dfm-radio-button>
    </div>
  </div>

</div>
