<div class="dfm-p-16 d-flex flex-column dfm-gap-16">
  <div class="d-flex align-items-center">
    <img src="./assets/icons/Drag.svg" class="pointer dfm-me-8">
    <span class="font-weight-medium">Appointments</span>
  </div>

  <div class="chart-wrapper align-self-center">
    <canvas baseChart
            [type]="'doughnut'"
            [data]="doughnutChartConfig"
            [labels]="doughnutChartLabels"
            [options]="doughnutChartOptions"
            [plugins]="doughnutChartPlugins"
            [legend]="doughnutChartLegend">
    </canvas>
  </div>

  <div class="d-flex flex-column text-sm dfm-gap-4 dfm-ms-4">
    <div class="d-flex dfm-gap-8">
      <span class="font-weight-medium">{{ appointmentDetails.total }}</span>
      <span class="dfm-text-main-400">Total</span>
    </div>
    <div class="d-flex dfm-gap-8">
      <span class="font-weight-medium">{{ appointmentDetails.new }}</span>
      <span class="dfm-text-main-400">New</span>
    </div>
    <div class="d-flex dfm-gap-8">
      <span class="font-weight-medium">{{ appointmentDetails.unconfirmed }}</span>
      <span class="dfm-text-main-400">Unconfirmed</span>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center dfm-gap-4">
  </div>
</div>
