@import '../../node_modules/bootstrap/scss/functions';

@import '../../node_modules/diflexmo-angular-design/assets/styles.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './themes/theme';

//.dfm-card-header {
//  display: none !important;
//}

dfm-input-dropdown input {
  border: none !important;
}

// Having styling issues with dfm-card component so created a class
.dfm-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  //height: fit-content;
  flex: 1;
}
