@import '../../node_modules/bootstrap/scss/functions';

@import '../../node_modules/diflexmo-angular-design/lib/styles/styles.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './themes/theme';

//.dfm-card-header {
//  display: none !important;
//}

// custom styles for dfm elements ===========================================================
dfm-input-dropdown {
  input {
    border: none !important;
  }

  label.dfm-input-label {
    position: absolute;
    z-index: 1;
    top: -28px;
  }

  div.selected-items.selected-items-with-dropdown-icon {
    left: 0 !important;
    top: 48px !important;
    width: fit-content;
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    max-width: 90% !important;
  }
}

// button group wrapper
.dfm-button-group-wrapper {
  background: white;
  border: 1px solid var(--dfm-input-border);
  border-radius: 8px;
  height: 40px;
}

// use this for single select dropdown
.dfm-input-dropdown-wrapper {
  background: white;
  border: 1px solid var(--dfm-input-border);
  border-radius: 8px;
  height: 40px;
  margin-top: 28px;
}

.dfm-input-dropdown-wrapper-wo-label {
  background: white;
  border: 1px solid var(--dfm-input-border);
  border-radius: 8px;
  height: 40px;
}

// use this for multi type dropdown
.dfm-input-multi-dropdown-wrapper {
  background: white;
  border: 1px solid var(--dfm-input-border);
  border-radius: 8px;
  height: 40px;
  margin-top: 28px;
  margin-bottom: 40px;
}


.dfm-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  //height: fit-content;
  flex: 1;
}

dfm-button {
  button {
    height: inherit;
    width: inherit;
  }
}

dfm-table-body-cell td {
  overflow: visible !important;
}

// Third party library styling ========================================================
ngb-timepicker {
  input {
    height: 40px;
    border-radius: 8px;
  }

  input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--dfm-input-border-focus) !important;
    border-width: 2px;
  }
}

// others ===================================================================
button:disabled {
  background: #D0D5DD !important;
  color: white !important;
}

.carousel-inner {
  height: 360px !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 24px;
  height: 24px;

  border-radius: 50%;

  &:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  }
}

.carousel-control-prev, .carousel-control-next {
  display: block;
  width: auto;
}

.carousel-control-prev {
  left: 16px;
}

.carousel-control-next {
  right: 16px;
}

.carousel-indicators {
  display: flex;
  column-gap: 8px;

  .active {
    background: var(--dfm-primary);
  }

  button {
    background: var(--bs-gray-400);
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

    &:hover {
      background: rgba(var(--dfm-primary), 0.5);
    }
  }

}

// Custom Global styling ==============================================================
.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.flex-1 {
  flex: 1;
}

.h-inherit {
  height: inherit;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.min-w-fit {
  min-width: fit-content;
}

.max-w-fit {
  max-width: fit-content;
}

.text-red {
  color: red;
}

.hidden {
  display: none;
}

.x-circle {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
}

.modal-header  {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: none;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  border: none;
}

//input[type="time"]::-webkit-calendar-picker-indicator{
//  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
//}
//
//input[type="time"]:focus{
//  outline: none;
//}

//.input-dropdown[_ngcontent-cob-c76] .selected-items[_ngcontent-cob-c76] {
//  position: absolute;
//  /* top: 7px; */
//  /* right: 8px; */
//  left: 0;
//  bottom: 0;
//  display: flex;
//  justify-content: flex-end;
//  flex-wrap: wrap;
//  gap: 8px;
//  max-width: calc(100% - 200px);
//}
