.ab-li-button-dropdown-group {
  background: transparent;

  .ab-li-info-cell {
    max-width: 512px;
  }

  div:last-child {
    max-width: 160px;
  }
}

@media (max-width: 680px) {
  .ab-li-section-1 {
    justify-content: space-between;
  }

  .ab-li-search, .ab-li-button-dropdown-group {
    display: none !important;
  }

  .ab-li-title-buttons, .ab-li-search-mv, .ab-li-plus-btn {
    display: block;
  }

  .ab-li-plus-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    height: 44px;
    width: 44px;
  }

  .ab-li-menus {
    min-width: fit-content !important;
    max-width: 44px;
    border: none;
    border-radius: 12px;
    flex-direction: column;
    padding: 2px;

    div + div {
      border-top: 1px solid var(--dfm-main-200);
    }

    div {
      padding: 8px;
    }
  }

  .ab-li-plus-btn-menu {
    position: fixed;
    bottom: 144px;
    right: 28px;
  }

  .ab-li-action-buttons-menu {
    right: 28px;
    top: -48px;
  }

  .ab-li-action-buttons {
    display: none !important;
  }

  .ab-li-vertical-dots-btn {
    display: block;
  }

  .menu-point-forward {
    position: absolute;
    background: white;
    transform: rotateZ(45deg);
    right: -8px;
    bottom: 8px;
    border-radius: 4px;
  }
}
