<div class="d-flex flex-column position-relative dfm-gap-16">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden ab-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >{{'Absence' | translate}}
    </dfm-button>

    <dfm-input
      class="flex-1 ab-li-search"
      size="md"
      placeholder="{{'AbsenceSearch' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper ab-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-bg-transparent">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{'Download' | translate}}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 align-items-center">
      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="false"
        (click)="openAddAbsenceModal()"
      >{{'AddAbsence' | translate}}
      </dfm-button>
    </div>
  </section>

  <dfm-input
    size="md"
    placeholder="{{'AbsenceSearch' | translate}}"
    icon="search-sm"
    class="w-full hidden ab-li-search-mv"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height" *ngIf="filteredAbsences$$ | async as absences">
    <dfm-table [items]="absences" [rowClickable]="true" (rowClicked)="navigateToViewAbsence($event)"
               class="dfm-table-wrapper">
      <ng-template #headerRowTemplate>
        <dfm-table-header-cell *ngFor="let column of columns">{{ column | translate}}</dfm-table-header-cell>
      </ng-template>

      <ng-template #bodyRowTemplate let-item>
        <dfm-table-body-cell>
          <div class="text-truncate">{{ item.name | titlecase | dashIfNothing }}</div>
        </dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.startedAt | date: 'dd/MM/yyyy, HH:mm' | dashIfNothing }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.endedAt | date: 'dd/MM/yyyy, HH:mm' | dashIfNothing }}</dfm-table-body-cell>
        <dfm-table-body-cell>
          <div class="text-truncate ab-li-info-cell"> {{ item.info | dashIfNothing }} </div>
        </dfm-table-body-cell>

        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-16 align-items-center ab-li-action-buttons">
            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="pencil-02"
              ngbPopover="{{'Edit' | translate}}"
              triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8"
              [openDelay]="200"
              (click)="$event.stopPropagation(); openAddAbsenceModal(item);"
            ></dfm-button>

            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="trash-01"
              ngbPopover="{{'Delete' | translate}}" triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8" [openDelay]="200"
              (click)="$event.stopPropagation(); deleteAbsence(item.id)"
            ></dfm-button>
          </div>

          <!-- Action Menu -->
          <dfm-button
            [ngbPopover]="actionMenu"
            autoClose="autoClose"
            triggers="click"
            container="body"
            placement="left"
            popoverClass="popover-p-0"
            class="hidden ab-li-vertical-dots-btn"
            color="link-gray"
            size="sm"
            trailingIcon="dots-vertical"
            (click)="$event.stopPropagation(); toggleMenu(true)"
          ></dfm-button>

          <ng-template #actionMenu>
            <div class="ab-li-menus"
                 aria-labelledby="dropdownManual">
              <div (click)="$event.stopPropagation(); openAddAbsenceModal(item)" ngbPopover="{{'Edit' | translate}}"
                   triggers="mouseenter:mouseleave" popoverClass="popover-p-8" [openDelay]="200">
                <dfm-button trailingIcon="pencil-02" color="link-gray"></dfm-button>
              </div>

              <div (click)="$event.stopPropagation(); deleteAbsence(item.id)" ngbPopover="{{'Delete' | translate}}"
                   triggers="mouseenter:mouseleave" popoverClass="popover-p-8" [openDelay]="200">
                <dfm-button trailingIcon="trash-01" color="link-gray"></dfm-button>
              </div>
            </div>
          </ng-template>
          <!-- Action Menu End-->

        </dfm-table-body-cell>
      </ng-template>
    </dfm-table>
    <div class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom" *ngIf="!absences.length">
      {{'NoDataFound' | translate}}
    </div>
  </section>
  <!--  <div ngbDropdown #optionsMenu="ngbDropdown">-->
  <!--    <div class="shadow-lg ab-li-plus-btn-menu ab-li-menus" ngbDropdownMenu aria-labelledby="dropdownManual">-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); openSearchModal()">-->
  <!--        <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <dfm-button color="secondary" size="md" class="hidden shadow-lg ab-li-plus-btn rounded-2"-->
  <!--              (click)="$event.stopPropagation(); optionsMenu.open(); toggleMenu()">-->
  <!--    <dfm-icon #showMoreButtonIcon name="plus" class="ab-li-plus-btn-icon rotate-z-0 position-absolute"></dfm-icon>-->
  <!--  </dfm-button>-->
</div>
