<div class="d-flex justify-content-between align-items-center dfm-gap-8 dfm-px-16 h-100 patients-bar-chart-wrapper">
  <section class="d-flex flex-column h-100 justify-content-center dfm-gap-8">
    <header>
      <span class="dfm-text-main-400">Patients</span>
    </header>
    <h2 class="card-value-text">82</h2>
  </section>

  <section class="d-flex flex-column justify-content-between align-items-end h-100 dfm-pt-16">
    <header class="d-flex dfm-gap-8">
      <img src="/src/assets/icons/arrow-narrow-down-left.svg" width="12">
      <span class="dfm-me-16 percentage-text">6.09%</span>
    </header>
    <canvas baseChart
            width="120"
            [type]="'bar'" r
            [data]="patientsBarChartConfig"
            [labels]="patientsBarChartLabels"
            [options]="patientsBarChartOptions"
            [plugins]="patientsBarChartPlugins"
            [legend]="patientsBarChartLegend">
    </canvas>
  </section>
</div>
