.patients-bar-chart-wrapper {
  section:last-child span {
    color: var(--dfm-badge-warning-color);
  }

  //canvas {
  //  height: auto;
  //  width: auto;
  //}
}
// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .card-value-text{
    font-weight: 600;
    font-size: 30px;
  }
  .percentage-text{
    font-weight:600;
  }
}

// ======================Media Query for Tab view=================
@media (min-width:680px) and (max-width:1060px) {
  .patients-bar-tab-view
  canvas{
    width: 300px;
  }
}