<div class="d-flex justify-content-between align-items-center dfm-gap-8 dfm-px-16 h-100 appointments-bar-chart-wrapper">
  <section class="d-flex flex-column h-100 justify-content-center dfm-gap-8">
    <header>
      <span class="dfm-text-main-400">{{"Appointments" | translate}}</span>
    </header>
    <h2 class="card-value-text">{{ appointmentDetails?.count }}</h2>
  </section>

  <section class="d-flex flex-column justify-content-between align-items-end h-100 dfm-pt-16 appointment-bar-tab-view">
    <header class="d-flex align-items-center">
      <div [ngClass]="{ 'chart-arrow-up': appointmentDetails?.isUp, 'chart-arrow-down': !appointmentDetails?.isUp }">
        <dfm-button color="link-gray" size="sm" trailingIcon="{{ appointmentDetails?.isUp ? 'arrow-up' : 'arrow-down' }}"></dfm-button>
      </div>
      <span [ngStyle]="{ color: appointmentDetails?.isUp ? '#12B76A' : 'red' }" class="font-weight-medium">{{ appointmentDetails?.percentage }}</span>
    </header>
    <canvas
      baseChart
      width="120"
      [type]="'bar'"
      [data]="appointmentBarChartConfig"
      [options]="appointmentBarChartOptions"
      [plugins]="appointmentBarChartPlugins"
      [legend]="appointmentBarChartLegend"
    >
    </canvas>
  </section>
</div>
