<div class="bg-white rounded-4 ad-us-main-wrapper dfm-px-16">
  <section class="modal-header">
    <h5 class="modal-title ad-us-title-buttons">{{ modalData.edit ? 'Edit' : 'Add' }} User</h5>
    <dfm-button-icon class="ad-us-title-buttons" color="tertiary-gray" icon="x-close"
                     (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-us-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon
          color="tertiary-gray"
          size="sm"
          icon="chevron-left"
          (click)="closeModal(false)"
        >
        </dfm-button-icon>
      </div>

      <dfm-button
        color="link"
        size="lg"
      > {{ modalData.edit ? 'Edit' : 'Add' }} User
      </dfm-button>
    </div>
  </section>

  <section class="modal-body dfm-pb-24 ad-us-section2">
    <form [formGroup]="addUserForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex flex-column dfm-gap-16 flex-1">
        <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Select User Type *</span>
        <div class="w-fit d-flex justify-content-between dfm-gap-24">
          <dfm-radio-button class="font-weight-normal" label="Scheduler User"
                            *ngIf="modalData?.userDetails?.userType !== userType.Secretary"
                            [checkedValue]="userType.Scheduler"
                            formControlName="userType"></dfm-radio-button>
          <dfm-radio-button class="font-weight-normal" label="Scheduler User"
                            *ngIf="modalData?.userDetails?.userType === userType.Secretary"
                            [checkedValue]="userType.Secretary"
                            formControlName="userType"></dfm-radio-button>
          <dfm-radio-button class="font-weight-normal" label="General user"
                            [checkedValue]="userType.General"
                            formControlName="userType"></dfm-radio-button>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">
        <dfm-input #firstname [dfmNameInput]="firstname" class="flex-1" size="md" placeholder="Enter first name"
                   label="First Name *"
                   formControlName="firstname">
        </dfm-input>

        <dfm-input #lastname [dfmNameInput]="lastname" class="flex-1" size="md" placeholder="Enter last name"
                   label="Last Name *" formControlName="lastname">
        </dfm-input>
      </div>

      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">
        <div class="d-flex flex-column flex-1 w-full">
          <dfm-input
            [required]="modalData?.userDetails?.userType ? modalData.userDetails.userType === userType.Scheduler : formValues.userType === userType.Scheduler"
            [label]="modalData?.userDetails?.userType ? (modalData.userDetails.userType === userType.General ? 'Email' : 'Email *' ) : (formValues.userType === userType.General ? 'Email' : 'Email *')"
            class="flex-1" size="md"
            placeholder="Enter email"
            formControlName="email" (focusout)="handleEmailInput($event)">
          </dfm-input>
          <small *ngIf="addUserForm.get('email')?.hasError('email')" class="validation-error">Email is Invalid.</small>
        </div>

        <dfm-input #phone [dfmNumberInput]="phone" class="flex-1" size="md" placeholder="Enter telephone"
                   label="Telephone"
                   formControlName="telephone">
        </dfm-input>
      </div>

      <div
        *ngIf="modalData.edit ? (modalData.userDetails.userType === userType.Scheduler || modalData.userDetails.userType === userType.Secretary) : (formValues.userType === userType.Scheduler || formValues.userType === userType.Secretary)"
        class="d-flex dfm-gap-32 flex-wrap">
        <dfm-input class="flex-1" size="md" placeholder="Enter GSM" label="GSM" formControlName="gsm">
        </dfm-input>

        <dfm-text-area class="flex-1" label="Address" placeholder="Enter address"
                       formControlName="address"></dfm-text-area>
      </div>
    </form>
  </section>

  <section class="modal-footer ad-us-footer-buttons">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">Cancel</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="(loading$$ | async) === true"
                (click)="saveUser()">{{ modalData.edit ? 'Save Changes' : 'Add User' }}</dfm-button>
  </section>
</div>
