<dfm-mat-spinner></dfm-mat-spinner>

<div class="bg-white rounded-4 ad-us-main-wrapper dfm-px-16">
  <section class="modal-header ad-us-section1">
    <h5 class="modal-title ad-us-title-buttons">{{ modalData.edit ? ('EditUser' | translate) : ('AddUser' | translate) }}</h5>
    <dfm-button-icon class="ad-us-title-buttons" color="tertiary-gray" icon="x-close" (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-us-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" (click)="closeModal(false)"> </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg"> {{ modalData.edit ? ('EditUser' | translate) : ('AddUser' | translate) }} </dfm-button>
    </div>
  </section>

  <section class="modal-body ad-us-section2">
    <form [formGroup]="addUserForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex flex-column dfm-gap-16 flex-1">
        <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'SelectUserType' | translate }}*</span>
        <div class="w-fit d-flex justify-content-between dfm-gap-24">
          <dfm-radio-button
            class="font-weight-normal"
            label="{{ 'SchedulerUser' | translate }}"
            *ngIf="modalData?.userDetails?.userType !== userType.Secretary"
            [checkedValue]="userType.Scheduler"
            formControlName="userType"
          ></dfm-radio-button>
          <dfm-radio-button
            class="font-weight-normal"
            label="{{ 'SchedulerUser' | translate }}"
            *ngIf="modalData?.userDetails?.userType === userType.Secretary"
            [checkedValue]="userType.Secretary"
            formControlName="userType"
          ></dfm-radio-button>
          <dfm-radio-button
            class="font-weight-normal"
            label="{{ 'GeneralUser' | translate }}"
            [checkedValue]="userType.General"
            formControlName="userType"
          ></dfm-radio-button>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="flex-1">
          <dfm-input
            #firstname
            [dfmNameInput]="firstname"
            size="md"
            placeholder="{{ 'EnterFirstName' | translate }}"
            label="{{ 'FirstName' | translate }} *"
            formControlName="firstname"
          >
          </dfm-input>
          <div class="validation-error" *ngIf="addUserForm.get('firstname')?.hasError('required') && addUserForm.get('firstname')?.touched">
            {{ 'RequiredField' | translate }}
          </div>
        </div>
        <div class="flex-1">
          <dfm-input
            #lastname
            [dfmNameInput]="lastname"
            size="md"
            placeholder="{{ 'EnterLastName' | translate }}"
            label="{{ 'LastName' | translate }} *"
            formControlName="lastname"
          >
          </dfm-input>
          <div class="validation-error" *ngIf="addUserForm.get('lastname')?.hasError('required') && addUserForm.get('lastname')?.touched">
            {{ 'RequiredField' | translate }}
          </div>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="d-flex flex-column flex-1 w-full">
          <dfm-input
            [required]="
              modalData?.userDetails?.userType ? modalData.userDetails.userType === userType.Scheduler : formValues.userType === userType.Scheduler
            "
            [label]="
              modalData?.userDetails?.userType
                ? modalData.userDetails.userType === userType.General
                  ? ('Email' | translate)
                  : ('RequiredEmail' | translate)
                : formValues.userType === userType.General
                ? ('Email' | translate)
                : ('RequiredEmail' | translate)
            "
            class="flex-1"
            size="md"
            placeholder="{{ 'EnterEmail' | translate }}"
            formControlName="email"
            (focusout)="handleEmailInput($event)"
          >
          </dfm-input>
          <div class="validation-error" *ngIf="addUserForm.get('email')?.hasError('required') && addUserForm.get('email')?.touched">
            {{ 'RequiredField' | translate }}
          </div>
          <small *ngIf="addUserForm.get('email')?.hasError('email')" class="validation-error">{{ 'InvalidEmail' | translate }}</small>
        </div>

        <dfm-input
          #phone
          [dfmNumberInput]="phone"
          class="flex-1"
          size="md"
          placeholder="{{ 'EnterTelephone' | translate }}"
          label="{{ 'Telephone' | translate }}"
          formControlName="telephone"
        >
        </dfm-input>
      </div>

      <div
        *ngIf="
          modalData.edit
            ? modalData.userDetails.userType === userType.Scheduler || modalData.userDetails.userType === userType.Secretary
            : formValues.userType === userType.Scheduler || formValues.userType === userType.Secretary
        "
        class="d-flex dfm-gap-32 flex-wrap"
      >
        <dfm-input class="flex-1" size="md" placeholder="{{ 'EnterGsm' | translate }}" label="GSM" formControlName="gsm"> </dfm-input>

        <dfm-text-area
          class="flex-1"
          label="{{ 'Address' | translate }}"
          placeholder="{{ 'EnterAddress' | translate }}"
          formControlName="address"
        ></dfm-text-area>
      </div>
    </form>
  </section>

  <section class="modal-footer ad-us-footer-buttons">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="(loading$$ | async) === true" (click)="saveUser()">{{
      modalData.edit ? ('SaveChanges' | translate) : ('AddUser' | translate)
    }}</dfm-button>
  </section>
</div>
