.ad-us-main-wrapper {
  transition: all ease 200ms;
  padding-bottom: 16px;

  .ad-us-section2 {
    // viewport - m-top - modal header height - modal footer header - p-bottom - m-bottom - extra
    max-height: calc(100vh - 24px - 76px - 64px - 16px - 24px - 48px);
    overflow-y: auto;
  }
}

@media (max-width: 680px) {
  .ad-us-main-wrapper {
    position: fixed !important;
    height: calc(100vh - 40px) !important;
    width: 100vw !important;
    top: 40px !important;
    left: 0 !important;
    border-radius: 0 !important;
    background: var(--dfm-base-layout-bg) !important;
    padding-left: 8px;
    padding-right: 8px;

    .ad-us-title-buttons-mv {
      display: flex;
    }

    .ad-us-title-buttons {
      display: none !important;
    }

    .ad-us-section2 {
      // viewport - nav bar height - modal header height - modal footer header - extra space
      max-height: calc(100vh - 40px - 76px - 64px - 16px);
      margin-top: 16px;

      form {
        & > div {
          flex-direction: column;

          dfm-input {
            width: 100%;
          }
        }
      }
    }
  }

  .ad-us-footer-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    dfm-button {
      flex: 1;
    }
  }
}
