.search-filter {
  flex: 1;
}

.dfm-btn-group {
  border: 1px solid var(--dfm-input-border);
  border-radius: 8px;
  height: 40px;

  div:first-child {
    border-right: 1px solid var(--dfm-input-border);
  }

  div:last-child {
    flex: 1 ;
  }
}

.table-wrapper {
  overflow-y: scroll;
  max-height: 256px;
}
