<div class="d-flex flex-column dfm-gap-16 dfm-p-16">
  <section class="d-flex justify-content-between dfm-gap-8 align-items-center">
    <header>
      <span class="font-weight-medium">Consultations</span>
    </header>
    <div class="d-flex dfm-gap-8">
      <img src="/assets/icons/arrow-narrow-up-right.svg" width="12">
      <span class="text-success">21.77%</span>
    </div>
  </section>

  <section class="consultations-chart-wrapper">
    <div class="position-absolute d-flex flex-column align-items-center flex-shrink-1">
      <span class="font-weight-medium text-md">21</span>
      <span class="text-sm dfm-text-main-400">Today</span>
    </div>
    <canvas baseChart
            [type]="'doughnut'"
            [data]="doughnutChartConfig"
            [labels]="doughnutChartLabels"
            [options]="doughnutChartOptions"
            [plugins]="doughnutChartPlugins"
            [legend]="doughnutChartLegend">
    </canvas>
  </section>
</div>
