.consultations-chart-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  object-fit: contain;
  height: 184px;

  div, span {
    height: fit-content;
    width: fit-content;
  }

  div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  canvas {
    //height: 186px;
  }
}
