<div class="d-flex flex-column dfm-gap-16 ed-et-main-wrapper">
  <section class="d-flex align-items-center justify-content-between dfm-gap-16">
    <div class="d-flex dfm-gap-8 align-items-center dfm-text-primary ed-et-title-buttons">
      <dfm-button color="link" size="lg" routerLink="/email"> Email Template </dfm-button>

      <div style="width: 16px; height: 16px" class="h-fit">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>

      <div class="d-flex align-items-center dfm-gap-8">
        <dfm-button color="link" size="lg">Edit</dfm-button>
      </div>
    </div>
  </section>

  <section class="dfm-card dfm-p-16 ed-et-section2 hide-scrollbar">
    <form [formGroup]="emailTemplateForm" *ngIf="email$$ | async" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex dfm-gap-32 align-items-center">
        <dfm-input class="flex-1" size="md" placeholder="Appointment Confirmation Diflexmo" label="Title *" formControlName="title"></dfm-input>

        <dfm-input class="flex-1" size="md" placeholder="Lorem Ipsum" label="Subject *" formControlName="subject"></dfm-input>

        <div class="d-flex flex-column dfm-gap-16 flex-1 ad-ab-repeat-radio">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Status *</span>

          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="Active" [checkedValue]="1" formControlName="status"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="Inactive" [checkedValue]="0" formControlName="status"></dfm-radio-button>
          </div>
        </div>
      </div>

      <div class="d-flex gap-3 flex-column">
        <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Content *</span>
        <div class="content-div">
          <angular-editor formControlName="content" [config]="contentConfig"></angular-editor>
        </div>
      </div>
      <div class="exam-date d-flex flex-column gap-3">
        <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Content for Admin *</span>
        <div class="content-div">
          <angular-editor formControlName="adminContent" [config]="adminContentConfig"></angular-editor>
        </div>
      </div>
    </form>

    <div class="dfm-gap-16 ed-et-action-buttons">
      <dfm-button color="secondary" size="md" routerLink="/email"> Cancel </dfm-button>
      <dfm-button color="primary" size="md" class="text-nowrap" (click)="saveEmailTemplate(email$$)">Save Changes </dfm-button>
    </div>
  </section>
</div>

