.ed-et-main-wrapper {
  transition: all ease 200ms;

  .ed-et-action-buttons {
    display: flex;
  }

  .ed-et-section2 {
    // viewport - nav - padding - sec1 height - sec gap - extra
    max-height: calc(100vh - 48px - 24px - 40px - 16px - 16px);
    overflow-y: auto;
  }
}

.time-slot-text {
  background: var(--dfm-main-100);
  border-radius: 10px;
  padding: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 128px;
  flex: 1;
  transition: 200ms all ease-in-out;

  &:hover {
    //background: var(--dfm-main-200);
    //color: var(--dfm-primary);
    cursor: pointer;
  }
}

.time-slot-disabled-text {
  color: darkgray;

  &:hover {
    cursor: text;
  }
}

.time-slot-selected-text {
  background: var(--dfm-primary);
  color: white;
}

.time-text {
  border: 1px solid var(--dfm-main-300);
  border-radius: 4px;
  padding: 8px 8px 8px 12px;
  width: 128px;
}

.ed-et-slots-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1440px) {
  .ed-et-main-wrapper {
    max-height: calc(100vh - 36px - 24px - 40px - 16px - 16px);
  }
}

@media (max-width: 1280px) {
  .ed-et-slots-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .ed-et-main-wrapper {
    max-height: calc(100vh - 38px - 24px - 36px - 16px - 16px - 20px);

    .ed-et-title-buttons-mv {
      display: flex;
    }

    .ed-et-title-buttons {
      display: none !important;
    }

    .ed-et-title-buttons {
      display: none !important;
    }

    .ed-et-title-buttons-mv {
      display: flex;
    }

    .ed-et-action-buttons {
      background: white;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      column-gap: 16px;
      padding: 16px 24px;
      display: flex;
      align-items: center;
      z-index: 10000;

      & > dfm-button {
        height: 44px;
        flex: 1;
      }
    }

    .ed-et-section2 {
      background: transparent;
      padding: 0;
      box-shadow: none;
      border-radius: 0;

      form {
        .ed-et-multi-dropdown {
          margin-bottom: 8px;
        }

        & > div {
          flex-direction: column;
          width: 100%;

          dfm-input {
            width: 100%;
          }
        }
      }
    }
  }
  .ed-et-slots-container {
    margin-top: 16px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 368px) {
  .ed-et-dates {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.pr-hr-main-wrapper {
  transition: all ease 200ms;
}


@media (max-width: 680px) {
  .pr-hr-main-wrapper {
    .pr-hr-time-dropdown {
      min-width: 96px !important;
    }

    .pr-hr-title-buttons-mv {
      display: flex;
    }

    .pr-hr-title-buttons {
      display: none !important;
    }

    .pr-hr-section2 {
      background: transparent;
      padding: 0;
      box-shadow: none;
      border-radius: 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .pr-hr-weekdays-tab {
        overflow-x: scroll !important;
      }
    }

    //.pr-hr-save-changes-btn-mv {
    //  display: flex;
    //  margin-left: auto;
    //}
  }
  .email-temp-field-mv{
    width: 100%;
  }
  .email-temp-radio-field-mv{
    justify-content: start!important;
  }
}
