.notification-wrapper {
  height: inherit;

  section:last-child {
    height: inherit;
    overflow-y: auto;
  }

  section:last-child>div {
    border-bottom: 1px solid var(--dfm-secondary);
  }
}

.no-data-found-wrapper {
  height: inherit;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .notification-wrapper{
    max-height: 300px;
    height: 300px;
  }
  .notification-mobile-view{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
