<div class="notification-wrapper d-flex flex-column dfm-gap-8 dfm-p-16">
  <section class="d-flex justify-content-between align-items-center dfm-gap-32 dfm-mb-16" *ngIf="filteredNotifications$$ | async as notifications">
    <header class="d-flex align-items-center dfm-gap-8">
      <div class="dfm-button-gray-400">
        <dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
      </div>
      <span class="font-weight-medium">{{"Notifications" | translate}} ({{ notifications.length }})</span>
    </header>
  </section>

  <section class="d-flex flex-column doctor-list-wrapper" *ngIf="filteredNotifications$$ | async as notifications" infiniteScroll [scrollWindow]="false" (scrolled)="onScroll()">
    <div *ngFor="let notification of notifications; let i = index;"
         class="d-flex dfm-gap-16 justify-content-between text-sm dfm-py-16 notification-mobile-view"
         [ngClass]="{
            'dfm-py-16' : i > 0 && i < notifications.length - 1,
            'dfm-pb-16' : i === 0,
            'dfm-pt-16 border-0' : i === notifications.length - 1
         }"
    >
      <div class="text-sm d-flex flex-column">
        <div class="d-flex dfm-gap-8">
          <span class="font-weight-medium text-nowrap">{{ notification.title | translate }}</span>
          <span class="dfm-text-main-400">({{ notification.subTitle | translate}})</span>
        </div>
        <span>{{notification.message | translate}}</span>
      </div>
      <span class="dfm-text-main-400 text-nowrap"> {{ notification.date | dfmUtcToLocal | dfmDefaultDate : 'datetime'  }} </span>
    </div>
    <div class="no-data-found-wrapper d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom" *ngIf="!notifications.length">
      {{ 'NoDataFound' | translate }}
    </div>
  </section>
</div>
