<div class="position-relative">
	<div class="d-flex flex-column dfm-gap-24 dfm-pb-8 ap-li-main-wrapper">
		<section class="dfm-px-16 dfm-pt-16 d-flex flex-column dfm-gap-8">
			<div class="d-flex justify-content-between">
				<header class="d-flex align-items-center dfm-gap-8">
					<div class="dfm-button-gray-400">
						<dfm-button size="md" leadingIcon="drag" class="cursor-default" color="link-gray"></dfm-button>
					</div>
					<span class="font-weight-medium">{{ 'AppointmentsList' | translate }}</span>
				</header>
				<div class="ap-li-section2-action-bar">
					<dfm-button color="primary" size="md" class="text-nowrap" routerLink="/appointment/add"
						[state]="{ comingFromRoute: 'dashboard' }">{{ 'AddAppointment' | translate }}
					</dfm-button>
				</div>
			</div>
		</section>

		<section>
			<div class="d-flex dfm-gap-8 align-items-center flex-1 dfm-px-16 ap-li-section2-action-bar">
				<dfm-input size="md" placeholder="{{ 'Search' | translate }}" icon="search-sm" class="flex-1" [formControl]="searchControl"></dfm-input>

				<div class="appointment-status-dropdown">
					<dfm-input-dropdown
						class="flex-1"
						size="md"
						[formControl]="appointmentViewControl"
						[showDescription]="false"
						[items]="appointmentListData"
					  ></dfm-input-dropdown>
					</div>

				<div class="d-flex align-items-center ap-li-button-dropdown-group-border">
					<!-- <div class="dfm-dropdown-border-none">
						<dfm-input
							size="md"
							placeholder="{{ 'AdvancedSearch' | translate }}"
							icon="search-sm"
							class="flex-1"
							(click)="openAdvancePopup()"
							[readonly]="true"
						></dfm-input>
					</div> -->
					<div>
						<dfm-button-icon class="" color="secondary-gray" size="md" icon="filter-funnel-01"
							ngbPopover="{{ 'AdvancedSearch' | translate }}" triggers="mouseenter:mouseleave" popoverClass="popover-p-8"
							[openDelay]="200" (click)="openAdvancePopup()"></dfm-button-icon>
					</div>
					<div>
						<dfm-button-icon
							color="tertiary-gray"
							size="md"
							icon="x-close"
							ngbPopover="{{ 'Reset' | translate }}"
							triggers="mouseenter:mouseleave"
							popoverClass="popover-p-8"
							[openDelay]="200"
							(click)="isResetBtnDisable ? $event.preventDefault() : onRefresh();"
						></dfm-button-icon>
					</div>
				</div>

				<div class="d-flex align-items-center dfm-button-group-wrapper">
					<div [cdkCopyToClipboard]="clipboardData">
						<dfm-button-icon
							color="tertiary-gray"
							size="md"
							icon="copy-03"
							ngbPopover="{{ 'ClickToCopy' | translate }}"
							triggers="mouseenter:mouseleave"
							popoverClass="popover-p-8"
							[openDelay]="200"
							(click)="copyToClipboard()"
						></dfm-button-icon>
					</div>

					<div class="dfm-dropdown-border-none download-dropdown-max-w-152">
						<dfm-input-dropdown
							[items]="downloadItems"
							[showDescription]="false"
							[formControl]="downloadDropdownControl"
							placeholder="{{ 'Download' | translate }}"
							size="md"
						></dfm-input-dropdown>
					</div>
				</div>

				<!-- <dfm-button
        color="secondary"
        size="md"
      >{{"Confirm" | translate}}
      </dfm-button> -->

				<!-- <dfm-button color="primary" size="md" class="text-nowrap" routerLink="/appointment/add" [state]="{ comingFromRoute: 'dashboard' }"
					>{{ 'AddAppointment' | translate }}
				</dfm-button> -->
			</div>

			<div class="hidden align-items-center dfm-gap-8 dfm-px-8 justify-content-center ap-li-section2-action-bar-mv hide-scrollbar overflow-x-auto">
				<dfm-input size="md" placeholder="{{ 'Search' | translate }}" icon="search-sm" [formControl]="searchControl"></dfm-input>

				<dfm-button-icon color="secondary-gray" size="md" icon="filter-funnel-01" (click)="openAdvancePopup()"></dfm-button-icon>

				<dfm-button-icon
					color="secondary-gray"
					size="md"
					icon="x-close"
					ngbPopover="{{ 'Reset' | translate }}"
					triggers="mouseenter:mouseleave"
					popoverClass="popover-p-8"
					[openDelay]="200"
					(click)="isResetBtnDisable ? $event.preventDefault() : onRefresh();"
				></dfm-button-icon>

				<div class="d-flex align-items-center dfm-button-group-wrapper">
					<div>
						<dfm-button-icon
							color="tertiary-gray"
							size="md"
							icon="copy-03"
							ngbPopover="{{ 'ClickToCopy' | translate }}"
							triggers="mouseenter:mouseleave"
							popoverClass="popover-p-8"
							[openDelay]="200"
							(click)="copyToClipboard()"
						></dfm-button-icon>
					</div>

					<!-- <div>
            <dfm-button-icon color="tertiary-gray" size="md" icon="download-01"></dfm-button-icon>
          </div> -->
				</div>

				<!-- <dfm-button-icon
					color="secondary-gray"
					size="md"
					icon="calendar-date"
					routerLink="/appointment"
					[state]="{ comingFromRoute: 'dashboard' }"
				></dfm-button-icon> -->
				<dfm-button
					color="primary"
					size="md"
					class="text-nowrap"
					[disabled]="false"
					routerLink="/appointment/add"
					[state]="{ comingFromRoute: 'dashboard' }"
					>Add
				</dfm-button>
			</div>
		</section>
		<ng-container *ngIf="isUpcomingAppointmentsDashboard">
			<section class="table-wrapper" *ngIf="(upcomingTableData$$ | async)?.items as appointments">
				<dfm-table [items]="appointments" [selectable]="permissionSvc.isNotReader"
					(selected)="handleCheckboxSelection($event)" [clearSelected$]="clearSelected$$" [rowClickable]="true"
					(rowClicked)="navigateToView($event, appointments)" class="dfm-table-wrapper">
					<ng-template #headerRowTemplate>
						<dfm-table-header-cell *ngFor="let column of columns">{{ column | translate }}</dfm-table-header-cell>
					</ng-template>
					<ng-template #bodyRowTemplate let-item>
						<dfm-table-body-cell>{{
							item?.exams.length ? (item.startedAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing) : ('' |
							dashIfNothing)
							}}</dfm-table-body-cell>
						<dfm-table-body-cell>{{
							item?.exams.length ? (item.endedAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing) : ('' |
							dashIfNothing)
							}}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.patientFname | titlecase }} {{ item?.patientLname }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.exams | joinWithAnd : 'name' | dashIfNothing }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.doctor | titlecase | dashIfNothing }}</dfm-table-body-cell>
						<dfm-table-body-cell>
							 <span *ngIf="item.documentCount" class="view-link"
								(click)="$event.stopPropagation(); openDocumentModal(item.id)">{{'View' | translate}}</span>
								<input #fileInput type="file" class="hidden" accept="image/*, application/pdf"
								(click)="$event.stopPropagation();"
									(change)="uploadRefferingNote($event, item.id)" />
								<span class="upload-button" *ngIf="!item.documentCount" (click)="$event.stopPropagation(); fileInput.click();">
									<img src="../../../../../assets/images/upload-icon.png" alt="" width="16px" />
								</span>
							</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.id }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.createdAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing
							}}</dfm-table-body-cell>
						<!-- <dfm-table-body-cell>
		            <span>{{ item.readStatus === readStatus.Read ? 'Yes' : 'No' }}</span>
		          </dfm-table-body-cell> -->
						<dfm-table-body-cell>
							<dfm-badge *ngIf="item.approval === statusType.Approved" color="success" size="sm"
								fontWeight="medium">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
		
							<dfm-badge *ngIf="item.approval === statusType.Cancelled" color="primary" size="sm">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
		
							<dfm-badge *ngIf="item.approval === statusType.Pending" color="gray" size="sm">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
						</dfm-table-body-cell>
						<dfm-table-body-cell *dfmPermitted="[Permission.UpdateAppointments, Permission.DeleteAppointments]">
							<div class="d-flex align-items-center dfm-gap-14" *ngIf="item.isEditable">
								<!-- <dfm-button
		              *ngIf="!item.confirm"
		              color="link-gray"
		              size="md"
		              trailingIcon="check-circle"
		              ngbPopover="{{ 'ChangeStatus' | translate }}"
		              triggers="mouseenter:mouseleave"
		              popoverClass="popover-p-8"
		              [openDelay]="200"
		            ></dfm-button>
		            <dfm-button
		              *ngIf="item.confirm"
		              color="link-gray"
		              size="md"
		              trailingIcon="x-circle"
		            ></dfm-button> -->
								<dfm-button color="link-gray" size="md" trailingIcon="pencil-02"
									ngbPopover="{{ 'Edit' | translate }}" triggers="mouseenter:mouseleave"
									popoverClass="popover-p-8" [openDelay]="300" (click)="$event.stopPropagation()"
									[routerLink]="['/appointment', item.id, 'edit']"
									[state]="{ comingFromRoute: 'dashboard', edit: true }"
									*dfmPermitted="Permission.UpdateAppointments"></dfm-button>
								<dfm-button color="link-gray" size="md" trailingIcon="trash-01"
									ngbPopover="{{ 'Delete' | translate }}" triggers="mouseenter:mouseleave"
									popoverClass="popover-p-8" [openDelay]="300" *dfmPermitted="Permission.DeleteAppointments"
									(click)="$event.stopPropagation(); deleteAppointment(item.id)">
								</dfm-button>
							</div>
						</dfm-table-body-cell>
					</ng-template>
				</dfm-table>
				<div class="no-data-found-wrapper d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom"
					*ngIf="!appointments.length">
					{{ 'NoAppointmentsFound' | translate }}
				</div>
			</section>
		</ng-container>
		<ng-container *ngIf="!isUpcomingAppointmentsDashboard">
			<section class="table-wrapper" *ngIf="(pastTableData$$ | async)?.items as appointments">
				<dfm-table [items]="appointments"
					(selected)="handleCheckboxSelection($event)" [rowClickable]="true"
					(rowClicked)="navigateToView($event, appointments)" class="dfm-table-wrapper">
					<ng-template #headerRowTemplate>
						<dfm-table-header-cell *ngFor="let column of manageActionColumn(columns)">{{ column | translate }}</dfm-table-header-cell>
					</ng-template>
					<ng-template #bodyRowTemplate let-item>
						<dfm-table-body-cell>{{
							item?.exams.length ? (item.startedAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing) : ('' |
							dashIfNothing)
							}}</dfm-table-body-cell>
						<dfm-table-body-cell>{{
							item?.exams.length ? (item.endedAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing) : ('' |
							dashIfNothing)
							}}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.patientFname | titlecase }} {{ item?.patientLname }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.exams | joinWithAnd : 'name' | dashIfNothing }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.doctor | titlecase | dashIfNothing }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{!item.documentCount ? '—':''}} <span *ngIf="item.documentCount" class="view-link"
								(click)="$event.stopPropagation(); openDocumentModal(item.id)">{{'View' | translate}}</span></dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.id }}</dfm-table-body-cell>
						<dfm-table-body-cell>{{ item?.createdAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing
							}}</dfm-table-body-cell>
						<dfm-table-body-cell>
							<dfm-badge *ngIf="item.approval === statusType.Approved" color="success" size="sm"
								fontWeight="medium">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
		
							<dfm-badge *ngIf="item.approval === statusType.Cancelled" color="primary" size="sm">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
		
							<dfm-badge *ngIf="item.approval === statusType.Pending" color="gray" size="sm">
								{{ item.approval | approvalTypeName | translate | dashIfNothing }}
							</dfm-badge>
						</dfm-table-body-cell>
					</ng-template>
				</dfm-table>
				<div class="no-data-found-wrapper d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom"
					*ngIf="!appointments.length">
					{{ 'NoAppointmentsFound' | translate }}
				</div>
			</section>
		</ng-container>
	</div>

	<dfm-confirm-status-change-banner
		[display]="selectedAppointmentIDs.length"
		[statusType]="'appointment'"
		(confirmationEvent)="handleConfirmation($event)"
	></dfm-confirm-status-change-banner>
</div>
