.ad-ph-main-wrapper {
  transition: all ease 200ms;
  padding-bottom: 16px;

  .ad-ph-section2 {
    // viewport - m-top - modal header height - modal footer header - p-bottom - m-bottom - extra
    max-height: calc(100dvh - 24px - 76px - 64px - 16px - 24px - 48px);
    overflow-y: auto;
  }
}

@media (max-width: 680px) {
  .ad-ph-main-wrapper {
    position: fixed;
    height: calc(100dvh - 36px);
    width: 100vw;
    top: 36px;
    left: 0;
    padding: 0;
    border-radius: 0 !important;
    background: var(--dfm-base-layout-bg) !important;

    .ad-ph-section1 {
      padding: 24px;
      box-shadow: inset 0 10px 9px -5px rgb(0 0 0 / 8%);
    }

    .ad-ph-title-buttons-mv {
      display: flex;
    }

    .ad-ph-title-buttons {
      display: none !important;
    }

    .ad-ph-section2 {
      // viewport - nav bar height - title buttons height - footer buttons height
      max-height: calc(100dvh - 36px - 84px - 72px);
      min-height: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      form {
        & > div {
          flex-direction: column;

          dfm-input {
            width: 100%;
          }
        }
      }
    }
  }

  .ad-ph-footer-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    dfm-button {
      flex: 1;
    }
  }
}
