<div class="d-flex flex-column dfm-gap-16 position-relative">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden ph-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >{{"Physician" | translate}}
    </dfm-button>

    <dfm-input
      class="flex-1 ph-li-search"
      size="md"
      placeholder="{{'SearchPhysician' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper ph-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          ngbPopover="{{ 'ClickToCopy' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{'Download' | translate}}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 align-items-center">

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="false"
        (click)="openAddPhysicianModal()"
        *dfmPermitted="Permission.CreatePhysicians"
      >{{'AddPhysician' | translate}}
      </dfm-button>
    </div>
  </section>

  <dfm-input
    class="w-full hidden ph-li-search-mv"
    size="md"
    placeholder="{{'SearchPhysician' | translate}}"
    icon="search-sm"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height"
           *ngIf="filteredPhysicians$$ | async as physicians">














    <dfm-data-table [data]="(tableData$$ | async) ?? {items: []}" [selectable]="true" (selected)="handleCheckboxSelection($event)"
                    [clearSelected$]="clearSelected$$" [stickyActions]="true"  noDataMessage="{{ (isLoading ? 'Loading' : 'NoPhysicianFound') | translate }}"
                    [rowClickable]="true" [stickyCheckbox]="true" (rowClicked)="navigateToViewPhysician($event)"
                    [stickyFirstColumn]="false" [headers]="tableHeaders" (scrolled)="onScroll($event)" (sorted)="onSort($event)">
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-row-cell [fullContent]="item.firstname">{{ item.firstname | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.lastname">{{ item.lastname | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.email">{{ item.email | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.status">
          <dfm-badge *ngIf="item.status"
                     color="success"
                     size="sm"
                     fontWeight="medium">
            {{ +item.status | statusName | dashIfNothing | translate}}
          </dfm-badge>

          <dfm-badge *ngIf="!item.status"
                     color="primary"
                     size="sm">
            {{ +item.status | statusName | dashIfNothing |translate}}
          </dfm-badge>
        </dfm-table-row-cell>
        <dfm-data-table-action-cell *dfmPermitted="[Permission.UpdatePhysicians, Permission.DeletePhysicians]">
          <ng-template #actionCellTemplate>
            <dfm-data-table-action *ngIf="!item.status" icon="check-circle"  tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Active }])" ></dfm-data-table-action>
            <dfm-data-table-action *ngIf="item.status" icon="x-circle" tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Inactive }])"></dfm-data-table-action>
            <dfm-data-table-action icon="pencil-02" tooltip="{{ 'Edit' | translate }}" (click)="$event.stopPropagation(); openAddPhysicianModal(item)" *dfmPermitted="Permission.UpdatePhysicians"></dfm-data-table-action>
            <dfm-data-table-action icon="trash-01" tooltip="{{ 'Delete' | translate }}" (click)="$event.stopPropagation(); deletePhysician(item.id)" *dfmPermitted="Permission.DeletePhysicians"></dfm-data-table-action>
          </ng-template>
        </dfm-data-table-action-cell>
      </ng-template>
    </dfm-data-table>
  </section>
</div>

<dfm-confirm-status-change-banner [display]="selectedPhysicianIDs.length"
                                  (confirmationEvent)="handleConfirmation($event)"></dfm-confirm-status-change-banner>
