<ng-content select="#top-action"></ng-content>
<div class="dfm-container gap-16">
  <div class="not-mobile side-panel-container side-panel-hide " #sidePanel>
    <div class="side-panel bg-white" *ngIf="(todayEvent$ | async) as todayEvent" >
      <ng-container >
        <h4>Today's Events ({{todayEvent.length}}):</h4>
        <div *ngFor="let data of todayEvent" class="dfm-ps-8 dfm-pt-8">
          <div class="d-flex align-items-center dfm-gap-8 dfm-pt-4 dfm-pb-4">
            <div class="circle-gray-200-40">
              {{ (data?.userName?.[0] ?? data?.roomName?.[0]) | uppercase }}
            </div>
            <div class="d-flex flex-column">
              <span>{{ (data?.userName ?? data?.roomName) | titlecase }}</span>
              <div>
                <span class="dfm-text-main-500">{{ data?.name+' ' }}</span>
                <span class="dfm-text-main-500">({{ data?.start }}-{{data?.end}})</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-left" ngbPopover="Today's Event"
    triggers="mouseenter:mouseleave"
    popoverClass="popover-p-8"
    [openDelay]="200" (click)="sidePanelViewToggle()"></dfm-button-icon>
  </div>
  <div class="bg-white d-flex flex-column dfm-gap-16 dfm-p-24 calendar-main-wrapper" *ngIf="selectedDate$$ | async as selectedDate">
    <section class="calendar-header">
      <h4 *ngIf="selectedDate" class="">
        <ng-container *ngIf="calendarViewFormControl.value === 'day'; else notDayView">
          {{ (selectedDate | date : 'EEE')! | uppercase | translate | titlecase }} {{ (selectedDate | date : 'MMM')! |translate  }} {{ selectedDate | date : 'dd, yyyy'  }}
        </ng-container>
        <ng-template #notDayView>{{ (selectedDate | date : 'MMM')! | translate }} {{ selectedDate | date : ' yyyy' }}</ng-template></h4>

      <div class="d-flex dfm-gap-8 flex-wrap ml-auto calendar-view-dropdown-wrapper align-items-center">
        <div class="max-w-192 dfm-input-dropdown-wrapper-wo-label calendar-view-dropdown">
          <dfm-input-dropdown
            size="sm"
            [formControl]="calendarViewFormControl"
            [showDescription]="false"
            [items]="calendarViewType"
          ></dfm-input-dropdown>
        </div>
      </div>

      <div class="d-flex dfm-gap-4">
        <div class="flex-1 calendar-date-buttons">
          <div class="d-flex gap-2 m-t-2">
          <div>
          <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-left" (click)="changeDate(-1)"></dfm-button-icon>
        </div>

        <div class="h-fit">
          <dfm-button color="secondary-gray" size="sm" class="h-100" (click)="updateToToday()">{{ 'Today' | translate }} </dfm-button>
        </div>

        <div>
          <dfm-button-icon color="secondary-gray" size="sm" icon="chevron-right" (click)="changeDate(1)"></dfm-button-icon>
        </div>
      </div>
      </div>
      <div class="flex-1">
        <dfm-calendar-picker [selectedDate]="selectedDate" (formControl)="setForm($event)"></dfm-calendar-picker>
      </div>
    </div>
    </section>

    <section class="calendar-body">
      <ng-container [ngSwitch]="calendarViewFormControl.value">
        <ng-container *ngSwitchCase="'month'">
          <dfm-calendar-month-view
            class="h-100"
            (selectedDateEvent)="updateDate($event)"
            [changeMonth$$]="changeMonth$$"
            (dayViewEvent)="changeToDayView($event)"
            [selectedDate]="selectedDate"
            [newDate$$]="newDate$$"
            (dateChange)="changeDate($event)"
            [absenceData]="(absenceData$ | async) ?? {}"
          >
          </dfm-calendar-month-view>
        </ng-container>

        <ng-container *ngSwitchCase="'week'">
          <dfm-calendar-week-view
            (selectedDateEvent)="updateDate($event.selectedDate)"
            [changeWeek$$]="changeWeek$$"
            (dayViewEvent)="changeToDayView($event)"
            (dateChange)="changeDate($event)"
            [newDate$$]="newDate$$"
            [format24Hour]="true"
            [showGrayOutSlot] ="true"
            [practiceData]="weekdayToPractice$$ | async"
            [absenceData]="(absenceWeekViewData$ | async) ?? {}"
            [limit] ="(practiceHourMinMax$$ | async ) ?? { min: '00:00:00', max: '24:00:00', grayOutMin: '00:00:00', grayOutMax: '24:00:00' }"
            ></dfm-calendar-week-view>
        </ng-container>

        <ng-container *ngSwitchCase="'day'">
          <dfm-calendar-day-view
            class="h-full"
            (selectedDateEvent)="updateDate($event)"
            [changeDate$$]="changeDate$$"
            [newDate$$]="newDate$$"
            [headerList]="headerList"
            [timeSlot]="selectedSlot$$ | async"
            [absenceData]="(absenceDayViewData$ | async) ?? {}"
            [format24Hour]="true"
          ></dfm-calendar-day-view>
        </ng-container>
      </ng-container>
    </section>
  </div>
</div>

