.complete-profile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .complete-profile-sections-wrapper {
    max-width: 512px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 24px;
    margin: 24px;
    height: fit-content;
    max-height: calc(100vh - 48px);
    max-height: calc(100dvh - 48px);

    .complete-profile-section {
      display: flex;
      flex-direction:column;
      gap: 16px;
    }

    .section-divider {
      border-bottom: 1px solid var(--dfm-main-600);
      opacity: 0.2;
      width: 70%;
      margin: 8px auto;
    }
  }
}
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dfm-color-primary {
  color: var(--dfm-primary);
}
.footer-btn{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}