<div class="complete-profile-wrapper">
    <div class="complete-profile-sections-wrapper dfm-card">
        <section class="complete-profile-section">
            <img width="128" ngSrc="assets/images/scheduler-logo.svg" height="17">
            <h3 class="font-weight-semi-bold">Complete Your Profile</h3>
        </section>

        <section class="complete-profile-section overflow-y-auto hide-scrollbar" [formGroup]="completeProfileForm">
            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="{{'Telephone' | translate}}*"
                        placeholder="{{'EnterTelephone' | translate}}"
                        icon="phone"
                        formControlName="extension_PhoneNumber"
                        #phone
                        [dfmNumberInput]="phone"
                >
                </dfm-input>
            </div>

            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="GSM*"
                        placeholder="{{'EnterGsm' | translate}}"
                        icon="file-06"
                        formControlName="MobilePhone"
                >
                </dfm-input>
            </div>

            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="Street*"
                        placeholder="{{'EnterStreet' | translate}}"
                        icon="file-06"
                        formControlName="StreetAddress"
                >
                </dfm-input>
            </div>

            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="City*"
                        placeholder="{{'EnterCity' | translate}}"
                        icon="file-06"
                        formControlName="City"
                >
                </dfm-input>
            </div>

            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="Country*"
                        placeholder="{{'EnterCountry' | translate}}"
                        icon="file-06"
                        formControlName="Country"
                        #country
                        [dfmNameInput]="country"
                >
                </dfm-input>
            </div>

            <div class="flex-1">
                <dfm-input
                        type="text"
                        size="sm"
                        label="Postal Code*"
                        placeholder="{{'EnterPostalCode' | translate}}"
                        icon="file-06"
                        formControlName="PostalCode"
                        #postal
                        [dfmNumberInput]="postal"
                >
                </dfm-input>
            </div>
        </section>

        <div class="section-divider"></div>

        <section class="complete-profile-section">
            <dfm-button color="primary" size="md" [disabled]="(submitting$$ | async) === true" (click)="save()">
                {{"Confirm" | translate}}
            </dfm-button>
            <dfm-button color="link" size="md" (click)="logout()">Logout</dfm-button>
        </section>
    </div>
</div>