<script src="../../../../core/services/practice-hours-api.service.ts"></script>
<div class="d-flex flex-column dfm-gap-24 ad-ap-main-wrapper">
  <section class="content-section-1">
    <div class="d-flex dfm-gap-8 align-items-center dfm-text-primary ad-ap-title-buttons">
      <dfm-button color="link" size="lg" [routerLink]="[comingFromRoute === 'dashboard' ? '/dashboard' : '/appointment']" queryParamsHandling="merge">
        {{ comingFromRoute === 'dashboard' ? ('Dashboard' | translate) : ('Appointment' | translate) }}
      </dfm-button>

      <div style="width: 16px; height: 16px" class="h-fit">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>

      <dfm-button
        color="link"
        size="lg"
        *ngIf="comingFromRoute === 'dashboard'"
        [routerLink]="[comingFromRoute === 'dashboard' ? '/dashboard' : '/appointment']" queryParamsHandling="merge"
      >
        {{ comingFromRoute === 'dashboard' ? ('Appointment' | translate) : '' }}
      </dfm-button>

      <div style="width: 16px; height: 16px" class="h-fit" *ngIf="comingFromRoute === 'dashboard'">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>

      <div class="d-flex align-items-center dfm-gap-8" *ngIf="comingFromRoute === 'view' && appointment$$.value?.id">
        <dfm-button color="link" size="lg" [routerLink]="['../', 'view']" queryParamsHandling="merge">View</dfm-button>

        <div style="width: 16px; height: 16px" class="h-fit">
          <dfm-icon name="chevron-right"></dfm-icon>
        </div>
      </div>

      <dfm-button color="link-gray" size="lg">{{ edit ? ('Edit' | translate) : ('Add' | translate) }} </dfm-button>
    </div>

    <div class="dfm-gap-16 ad-ap-action-buttons">
      <dfm-button color="secondary" size="md" [routerLink]="[comingFromRoute === 'view' ? '../view' : '/appointment']" queryParamsHandling="merge">
        {{ 'Cancel' | translate }}
      </dfm-button>
      <dfm-button [disabled]="(submitting$$ | async) === true" color="primary" size="md" class="text-nowrap" (click)="isOutside ? saveOutSideOperatingHoursAppointment() : saveAppointment()"
        >{{ edit ? ('SaveChanges' | translate) : ('AddAppointment' | translate) }}
      </dfm-button>
    </div>

    <!--  Mobile View  -->
    <div class="hidden dfm-gap-8 align-items-center ad-ap-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" [routerLink]="comingFromRoute === 'view' ? '../view' : '/appointment'" queryParamsHandling="merge">
        </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg" routerLink="./" queryParamsHandling="merge"> {{ edit ? ('Edit' | translate) : ('Add' | translate) }} Appointment</dfm-button>
    </div>
    <!--  **  -->
  </section>

  <section class="dfm-card dfm-p-16 ad-ap-section2 add-page-content-height position-relative">
    <dfm-mat-spinner></dfm-mat-spinner>

    <form [formGroup]="appointmentForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex dfm-gap-32 align-items-start">
        <div class="flex-1 input-field-mv">
        <dfm-input
          size="md"
          placeholder="{{ 'EnterFirstName' | translate }}"
          label="{{ 'PatientFirstName' | translate }}*"
          formControlName="patientFname"
          #pFName
          [dfmNameInput]="pFName"
        ></dfm-input>
        <span class="validation-error" *ngIf="appointmentForm.controls['patientFname'].hasError('required') && appointmentForm.controls['patientFname'].touched">
          {{ 'RequiredField' | translate }}</span>
        </div>
        <div class="flex-1 input-field-mv">
        <dfm-input
          size="md"
          placeholder="{{ 'EnterLastName' | translate }}"
          label="{{ 'PatientLastName' | translate }}*"
          formControlName="patientLname"
          #pLName
          [dfmNameInput]="pLName"
        ></dfm-input>
        <span class="validation-error" *ngIf="appointmentForm.controls['patientLname'].hasError('required') && appointmentForm.controls['patientLname'].touched">
          {{ 'RequiredField' | translate }}</span>
        </div>
        <div class="flex-1 input-field-mv">
        <dfm-input
          size="md"
          placeholder="{{ 'EnterTelephone' | translate }}"
          label="{{ 'EnterTelephone' | translate | titlecase }}*"
          formControlName="patientTel"
          #phone
          [dfmNumberInput]="phone"
        >
        </dfm-input>
        <span class="validation-error" *ngIf="!appointmentForm.controls['patientTel'].valid && appointmentForm.controls['patientTel'].touched">
          {{ 'RequiredField' | translate }}</span>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 align-items-start flex-wrap">
        <div class="d-flex flex-column flex-1 w-full">
          <dfm-input
            class="flex-1 min-w-128"
            size="md"
            placeholder="{{ 'EnterPatientEmail' | translate }}"
            label="{{ 'PatientEmail' | translate }}"
            formControlName="patientEmail"
            (focusout)="handleEmailInput($event)"
          >
          </dfm-input>
          <small *ngIf="appointmentForm.get('patientEmail')?.hasError('email')" class="validation-error">{{ 'InvalidEmail' | translate }}</small>
          <span class="validation-error" *ngIf="appointmentForm.controls['patientEmail'].hasError('required') && appointmentForm.controls['patientEmail'].touched">
            {{ 'RequiredField' | translate }}</span>
        </div>

        <div class="flex-1 min-w-256 w-full">
          <dfm-input
            type="number"
            size="md"
            placeholder="{{ 'enterSocialSecurityNumber' | translate }}"
            label="{{ 'socialSecurityNumber' | translate | titlecase }}"
            formControlName = "socialSecurityNumber"
          >
          </dfm-input>
          </div>

        <div class="flex-1 w-full min-w-128" *ngIf="(isDoctorConsentDisable$$ | async) === false">
          <dfm-input-dropdown
            [items]="filteredPhysicianList"
            [typeToSearch]="true"
            (searchInput)="handleDropdownSearch($event, 'doctor')"
            class="flex-1"
            size="md"
            placeholder="{{ 'SelectPhysician' | translate }}"
            label="{{ 'Physician' | translate }}"
            formControlName="doctorId"
          >
          </dfm-input-dropdown>
        </div>
      </div>

      <div class="exam-date d-flex flex-row flex-column">
        <div class="ad-ab-from-date flex-wrap-reverse dfm-gap-32 d-flex flex-1">
          <div class="flex-1">
          <div class="min-w-256 ad-ap-multi-dropdown extra-small-dropdown">
            <dfm-input-dropdown
              #exams
              [items]="filteredExamList"
              [multiple]="true"
              [placeholder]="((exams.value?.length | dfmMultiDropdownPlaceholderName : 'SelectExams') | async) ?? ''"
              [typeToSearch]="true"
              (searchInput)="handleDropdownSearch($event, 'exam')"
              formControlName="examList"
              size="md"
              label="{{ 'Exams' | translate }} *"
            >
            </dfm-input-dropdown>
          </div>
          <span class="validation-error" *ngIf="appointmentForm.controls['examList'].hasError('required') && appointmentForm.controls['examList'].touched">
            {{ 'RequiredField' | translate }}</span>
          </div>

          <div class="flex-1" *ngIf="isOutside">
            <div class="min-w-256 ad-ap-multi-dropdown extra-small-dropdown">
               <dfm-input-dropdown
                #staffDropDown
                [items]="filteredStaffs"
                [multiple]="true"
                [typeToSearch]="true"
                (searchInput)="handleDropdownSearch($event, 'staff')"
                size="md"
                formControlName="userList"
                label="{{ 'Staff' | translate }}"
                [placeholder]="((staffDropDown.value?.length | dfmMultiDropdownPlaceholderName : 'SelectStaff') | async) ?? ''"
              >
              </dfm-input-dropdown>
            </div>
            </div>

          <div class="flex-1" *ngIf="!isOutside">
            <div class="d-flex flex-column dfm-gap-8 flex-wrap">
              <span class="text-sm font-weight-medium dfm-text-main-700">{{ 'Date' | translate }} *</span>
              <div class="d-flex align-items-center dfm-gap-16 ad-ap-dates">
                <div class="dfm-button-group-wrapper w-full h-fit">
                  <div class="input-as-dfm-input">
                    <input [formControl]="dateControl" (dateChange)="onDateChange($event.value, 'startedAt')"
                    placeholder="{{'dateFormat' | translate}}"
                    required [value]="currentDate" [min]="currentDate"  [matDatepicker]="picker" readonly class="w-full min-w-128">
                  </div>
                  <dfm-button-icon
                    color="secondary-gray"
                    size="md"
                    icon="calendar-date"
                    ngbPopover="{{ 'Calendar' | translate }}"
                    triggers="mouseenter:mouseleave"
                    popoverClass="popover-p-8"
                    [openDelay]="200"
                    (click)="picker.open()"
                  ></dfm-button-icon>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
            </div>
            <span
              *ngIf="appointmentForm.get('startedAt')?.hasError('required') && appointmentForm.get('startedAt')?.touched"
              class="validation-error"
              >{{ 'RequiredField' | translate }}</span
            >
          </div>

          <div class="flex-1 ">
            <div class="w-full min-w-256">
              <dfm-input-dropdown
                #generalUser
                [items]="filteredUserList"
                [typeToSearch]="true"
                (searchInput)="handleDropdownSearch($event, 'user')"
                placeholder="{{ 'SelectGeneralUser' | translate }}"
                formControlName="userId"
                size="md"
                label="{{ 'GeneralUser' | translate }} *"
              >
              </dfm-input-dropdown>
            </div>
            <span class="validation-error" *ngIf="appointmentForm.controls['userId'].hasError('required') && appointmentForm.controls['userId'].touched">
              {{ 'RequiredField' | translate }}</span>

            </div>

          <!-- <div *ngIf="!isOutside" class="flex-1 temp-element"></div> -->
        </div>
      </div>

      <span
        class="font-weight-medium text-sm dfm-my-8"
        *ngIf="exams?.value?.length && formValues.startedAt?.day && !slots?.length && (loadingSlots$$ | async) === false && !isOutside"
      >
        {{ 'NoSlotsFoundForSelectedExamsAndTime' | translate }}
      </span>

      <span class="font-weight-medium dfm-text-main-500 text-sm dfm-my-8" *ngIf=" (loadingSlots$$ | async) && !isOutside"> {{ 'LoadingSlots' | translate }} </span>

      <div class="ad-ap-slots-container dfm-gap-16 w-full overflow-x-auto" *ngIf="slots?.length && !isOutside">
        <ng-container *ngIf="!isCombinable; else combinable">
          <div class="dfm-card d-flex flex-column dfm-p-16 card-item" *ngFor="let examID of exams.value">
            <div class="d-flex flex-column gap-1">
              <div class="d-flex gap-2 align-items-center text-sm">
                <span class="font-weight-medium">{{ 'ExamName' | translate }}: </span>
                <span>{{ examIdToDetails[examID]?.name }}</span>
              </div>
            </div>

            <div *ngIf="edit" class="d-flex gap-2 text-sm">
              <span class="font-weight-medium">{{"SelectedSlot" | translate}}</span>
              <div class="text-center">
                {{ (selectedTimeSlot[+examID]?.slot?.split("-")?.[0]?.slice(0, -3))! | dfmUtcToLocal: true }} -
                {{ (selectedTimeSlot[+examID]?.slot?.split("-")?.[1]?.slice(0, -3))! | dfmUtcToLocal: true }}
              </div>
            </div>

            <div class="d-flex align-items-center gap-3 overflow-y-auto max-h-128 dfm-mt-12 flex-wrap">
              <ng-container *ngIf="examIdToAppointmentSlots[examID] as slots; else noSlots">
                <div
                        class="time-slot-text dfm-p-8 text-center text-sm font-weight-medium w-128"
                        *ngFor="let slot of slots"
                        (click)="handleSlotSelectionToggle(slot)"
                        [ngClass]="{
                  'time-slot-disabled-text': !checkSlotAvailability(slot),
                  'time-slot-selected-text': selectedTimeSlot[examID]?.slot === slot.start + '-' + slot.end
                }"
              >
                {{ (slot.start?.slice(0, -3))! | dfmUtcToLocal : true }} - {{ (slot.end?.slice(0, -3))! | dfmUtcToLocal : true }}
              </div>
              </ng-container>
              <ng-template #noSlots>
                <span class="dfm-text-main-300">No slots found for this exam</span>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <ng-template #combinable>
          <div class="d-flex flex-column gap-1">
            <div class="d-flex gap-2 align-items-center text-sm">
              <span class="font-weight-medium">{{ 'ExamName' | translate }}: </span>
              <span>
                <ng-container *ngFor="let examID of exams.value; let i = index">
                  {{ examIdToDetails[+examID]?.name }}{{ i !== exams.value.length - 1 ? ',' : '' }}
                </ng-container>
              </span>
            </div>

            <div *ngIf="edit" class="d-flex gap-2 text-sm">
              <span class="font-weight-medium">{{"SelectedSlot" | translate}} </span>
              <div class="text-center" *ngIf="selectedTimeSlot | keyvalue as selectedTimeSlotArray">
                <ng-container *ngIf="selectedTimeSlotArray?.length">
                  {{ (selectedTimeSlotArray[0].value?.slot?.split("-")?.[0]?.slice(0, -3))! | dfmUtcToLocal: true }} -
                  {{ (selectedTimeSlotArray[0].value?.slot?.split("-")?.[1]?.slice(0, -3))! | dfmUtcToLocal: true }}
                </ng-container>
              </div>
            </div>

            <div class="d-flex align-items-center gap-3 overflow-y-auto max-h-128 dfm-mt-12 flex-wrap">
              <div
                class="time-slot-text dfm-p-8 text-center text-sm font-weight-medium w-128"
                *ngFor="let slot of examIdToAppointmentSlots[+exams.value[0]]"
                (click)="handleSlotSelectionToggle(slot)"
                [ngClass]="{
                  'time-slot-selected-text': (selectedTimeSlot | findSelectedSlot : exams.value )?.slot === slot.start + '-' + slot.end
                }"
              >
                {{ slot.start?.slice(0, -3) | dfmUtcToLocal : true }} - {{ slot.end?.slice(0, -3) | dfmUtcToLocal : true }}
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="d-flex dfm-gap-32" *ngIf="!edit">
      <div style="flex-basis: 66%;">
      <dfm-text-area
        label="{{ 'CommentsClinicalData' | translate }}"
        placeholder="{{ 'EnterComments' | translate }}"
        formControlName="comments"
      ></dfm-text-area>
    </div>
      <div class="d-flex flex-column dfm-gap-8">
        <span class="text-sm font-weight-medium dfm-text-main-700">{{ 'ReferralNote' | translate }}</span>
        <div class="d-flex dfm-gap-16 align-items-center">
        <label class="input-type-file-primary-md text-nowrap">{{ 'ChooseFile' | translate }}
          <input #fileInput type="file" class="hidden" accept="image/*"
            (change)="$event.stopPropagation(); uploadRefferingNote($event)" />
        </label>
        <span *ngIf="documentStage != 'FAILED_TO_UPLOAD' && documentStage != 'Uploading' && documentStage"
          class="view-link" (click)="viewDocument()">{{"View"|translate}}</span>
      </div>
        <p class="file-name" [style.color]="documentStage == 'FAILED_TO_UPLOAD' ? 'red' : ''">
          {{ documentStage | translate }}&nbsp;
          <dfm-icon class="clear-icon" (click)="clearFile()"
            *ngIf="documentStage !=  'FAILED_TO_UPLOAD' && documentStage !=  'Uploading' && documentStage"
            name="trash-01"></dfm-icon>
        </p>
      </div>
    </div>

      <dfm-text-area *ngIf="edit"
        label="{{ 'CommentsClinicalData' | translate }}"
        placeholder="{{ 'EnterComments' | translate }}"
        formControlName="comments"
      ></dfm-text-area>
    </form>
  </section>
</div>
