<div class="d-flex flex-column dfm-gap-16 position-relative">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden ex-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >{{"Exam" | translate}}
    </dfm-button>

      <dfm-input
        class="flex-1 ex-li-search"
        size="md"
        placeholder="{{'ExamSearch' | translate}}"
        icon="search-sm"
        [formControl]="searchControl"
      ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper ex-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          (click)="copyToClipboard()"
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          ngbPopover="{{ 'ClickToCopy' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
        ></dfm-button-icon>
      </div>

        <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent">
          <dfm-input-dropdown
            [items]="downloadItems"
            [showDescription]="false"
            [formControl]="downloadDropdownControl"
            placeholder="{{'Download' | translate}}"
            size="md"
          ></dfm-input-dropdown>
        </div>
      </div>

      <div class="d-flex dfm-gap-8 align-items-center">
        <dfm-button
          color="primary"
          size="md"
          class="text-nowrap"
          [disabled]="false"
          routerLink="./add"
          queryParamsHandling="preserve"
          *dfmPermitted="Permission.CreateExams"
        >{{'AddExam' | translate}}
        </dfm-button>
      </div>
  </section>

  <dfm-input
    size="md"
    placeholder="{{'ExamSearch' | translate}}"
    icon="search-sm"
    class="w-full hidden ex-li-search-mv"
    [formControl]="searchControl"
  ></dfm-input>

  <section #tableWrapper class="list-page-content-height" *ngIf="filteredExams$$ | async as exams">

    <dfm-data-table [data]="(tableData$$ | async) ?? {items: []}" [selectable]="true" (selected)="handleCheckboxSelection($event)"
                    [clearSelected$]="clearSelected$$" [stickyActions]="true" noDataMessage="{{ ( isLoading ? 'Loading' : 'NoExamsFound') | translate }}"
                    [rowClickable]="true" [stickyCheckbox]="true" [stickyFirstColumn]="false" [headers]="tableHeaders"
                    (rowClicked)="navigateToViewExam($event)" (scrolled)="onScroll($event)" (sorted)="onSort($event)">
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-row-cell [fullContent]="item.name">{{ item.name | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.expensive">{{ item.expensive | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.bodyType">{{ item.bodyType.split(',').join(', ') | titlecase | dashIfNothing | translate }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.bodyPart">{{ item.bodyPartDetails | bodyPartDetail | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.status">
          <dfm-badge *ngIf="item.status === statusType.Active"
                     color="success"
                     size="sm"
                     fontWeight="medium">
            {{ item.status | statusName | dashIfNothing | translate}}
          </dfm-badge>

          <dfm-badge *ngIf="item.status === statusType.Inactive"
                     color="primary"
                     size="sm">
            {{ item.status | statusName | dashIfNothing | translate }}
          </dfm-badge>
        </dfm-table-row-cell>
        <dfm-data-table-action-cell *dfmPermitted="[Permission.UpdateExams, Permission.DeleteExams]">
          <ng-template #actionCellTemplate>
            <dfm-data-table-action *ngIf="!item.status" icon="check-circle"  tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Active }])" ></dfm-data-table-action>
            <dfm-data-table-action *ngIf="item.status" icon="x-circle" tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Inactive }])"></dfm-data-table-action>
            <dfm-data-table-action *dfmPermitted="Permission.UpdateExams" icon="pencil-02" tooltip="{{ 'Edit' | translate }}" (click)="$event.stopPropagation()" [routerLink]="['./', item.id, 'edit']" queryParamsHandling="preserve" [state]="{ comingFromRoute: 'exam', edit: true }"></dfm-data-table-action>
            <dfm-data-table-action *dfmPermitted="Permission.DeleteExams" icon="trash-01" tooltip="{{ 'Delete' | translate }}" (click)="$event.stopPropagation(); deleteExam(item.id)"></dfm-data-table-action>
          </ng-template>
        </dfm-data-table-action-cell>
      </ng-template>
    </dfm-data-table>
  </section>
</div>

<dfm-confirm-status-change-banner [display]="selectedExamIDs.length"
                                  (confirmationEvent)="handleConfirmation($event)"></dfm-confirm-status-change-banner>
