<div class="bg-white rounded-4 change-time-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ (extend ? 'Extend' : 'Shorten') | translate }} {{ 'Appointment' | translate}}</h5>
    <dfm-button-icon color="tertiary-gray" icon="x-close" (click)="close(false)"></dfm-button-icon>
  </div>

  <div class="modal-body dfm-mb-16 d-flex flex-column dfm-gap-16" [formGroup]="timeChangeForm">
    <dfm-input type="number" size="md" label="{{ 'AmountOfMinutes' | translate }} *" placeholder="{{ 'EnterMinutes' | translate }}"
               formControlName="minutes" #minutes (focusout)="handleExpenseInput($event, minutes, timeChangeForm.get('minutes'))"></dfm-input>
     <span class="validation-error" *ngIf="isExtendOutside">
     <p>{{ 'The time should not excced calendar time' | translate }}</p>
     <p>{{ 'Limit left' | translate }}: {{eventTop/4}} minutes</p>
    </span>

    <div class="d-flex flex-column dfm-gap-8 flex-1">
      <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">
        {{ (extend ? 'Extend' : 'Shorten') | translate }} {{ 'At' | translate }}
      </span>
      <div class="w-fit d-flex justify-content-between dfm-gap-24">
        <dfm-radio-button class="font-weight-normal" label="{{'Top' | translate}}" formControlName="top"
                          [checkedValue]="true"></dfm-radio-button>
        <dfm-radio-button class="font-weight-normal" label="{{'Bottom' | translate}}" formControlName="top"
                          [checkedValue]="false"></dfm-radio-button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <dfm-button color="secondary" size="md" (click)="close(false)">{{'Cancel' | translate}}</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="isExtendOutside" (click)="close(true)">{{'Save2' | translate}}</dfm-button>
  </div>
</div>
