.re-pt-main-wrapper {
  height: inherit;

  section:last-child {
    height: inherit;
    overflow-y: auto;
  }
}

.patient-placeholder {
  display: none;
}

.no-data-found-wrapper {
  height: inherit;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .rec-pt-buttons {
    display: none !important;
  }

  .rec-pt-mv-buttons {
    display: flex !important;
  }

  .search-patient-placeholder {
    display: none;
  }

  .patient-placeholder {
    display: block;
  }
}