<div class="recent-patient-list-wrapper d-flex flex-column dfm-pb-8">
  <section class="dfm-p-16 d-flex flex-column dfm-gap-16 dfm-mb-8">
    <div class="d-flex align-items-center">
      <img src="../../../../../assets/icons/Drag.svg" class="pointer dfm-me-8">
      <header class="font-weight-medium">
        <span>Recent Patients</span>
      </header>
    </div>

    <div class="d-flex dfm-gap-8">
      <dfm-input
        class="flex-shrink-1 flex-grow-1"
        size="sm"
        placeholder="Search patient name" class="search-patient-placeholder"
        icon="search-sm"
      ></dfm-input>
      <dfm-input
        class="flex-shrink-1 flex-grow-1"
        size="sm"
        placeholder="Patient" class="patient-placeholder"
        icon="search-sm"
      ></dfm-input>

      <div class="d-flex align-items-center dfm-btn-group">
        <div>
          <dfm-button-icon
            color="tertiary-gray"
            size="sm"
            icon="copy-01"
          ></dfm-button-icon>
        </div>

        <div>
          <dfm-input-dropdown
            [items]="downloadItems"
            placeholder="Download"
            [showDescription]="true"
            size="sm"
            [loading]="false"
          ></dfm-input-dropdown>
        </div>
      </div>
    </div>
  </section>

  <section class="table-wrapper">
    <dfm-table [items]="recentPatients">
      <ng-template #headerRowTemplate>
        <dfm-table-header-cell *ngFor="let column of columns">{{ column }}</dfm-table-header-cell>
      </ng-template>
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-8 align-items-center">
            <div class="rounded-circle avatar-container">
              <img [src]="item.avatar ? item.avatar : 'assets/images/blank-avatar.png'"
                   class="rounded-circle border-light border-1"
                   alt="Doctor's avatar"
                   width="40"
                   height="40">
            </div>
            <span>{{ item.patientName }}</span>
          </div>
        </dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.emailId }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.doctor }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.appointmentDate | date : 'short' }}</dfm-table-body-cell>

        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-4">
            <dfm-button-icon
              color="tertiary-gray"
              size="sm"
              icon="pencil-02"
              [disabled]="false"
            ></dfm-button-icon>
            <dfm-button-icon
              color="tertiary-gray"
              size="sm"
              icon="trash-01"
              [disabled]="false"
            ></dfm-button-icon>
          </div>
        </dfm-table-body-cell>
      </ng-template>
    </dfm-table>
  </section>
</div>
