<div class="re-pt-main-wrapper d-flex flex-column dfm-gap-24">
  <section class="dfm-px-16 dfm-pt-16 d-flex flex-column dfm-gap-16">
    <header class="d-flex align-items-center dfm-gap-8">
      <div class="dfm-button-gray-400">
        <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
      </div>
      <span class="font-weight-medium">Recent Patients</span>
    </header>
  </section>

  <section class="d-flex dfm-px-16 align-items-center dfm-gap-16">
    <dfm-input
      class="flex-1"
      size="md"
      placeholder="Search Patient Name"
      icon="search-sm"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper rec-pt-buttons">
      <div>
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
        ></dfm-button-icon>
      </div>

      <div class="download-dropdown-max-w-144">
        <dfm-input-dropdown
          [items]="downloadItems"
          placeholder="Download"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex align-items-center dfm-button-group-wrapper hidden rec-pt-mv-buttons">
      <div>
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
        ></dfm-button-icon>
      </div>

      <div>
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="download-01"
        ></dfm-button-icon>
      </div>
    </div>
  </section>

  <section class="table-wrapper" *ngIf="filteredRecentPatients$$ | async as recentPatients">
    <dfm-table [items]="recentPatients">
      <ng-template #headerRowTemplate>
        <dfm-table-header-cell *ngFor="let column of columns">{{ column }}</dfm-table-header-cell>
      </ng-template>
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-8 align-items-center">
            <div class="rounded-circle avatar-container">
              <img *ngIf="item.avatar" [src]="item.avatar"
                   class="rounded-circle border-light border-1"
                   alt="Doctor's avatar"
                   width="40"
                   height="40">

              <div *ngIf="!item.avatar" class="circle-gray-200-40 d-flex justify-content-center align-items-center">
                {{ item?.patientFname?.toString()[0]?.toUpperCase() }}
              </div>
            </div>
            <span>{{ item.patientFname }}</span>
          </div>
        </dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.patientEmail }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.doctor }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.startedAt | date : 'short' }}</dfm-table-body-cell>

        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-16">
            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="pencil-02"
            ></dfm-button>
            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="trash-01"
            ></dfm-button>
          </div>
        </dfm-table-body-cell>
      </ng-template>
    </dfm-table>
  </section>
</div>
