<div class="patient-consultation-line-chart d-flex flex-column dfm-px-16 dfm-pt-16 dfm-gap-16">
  <section class="d-flex flex-column dfm-gap-16 dfm-mb-8">
    <div class="d-flex justify-content-between align-items-center dfm-gap-8">
      <header class="d-flex align-items-center dfm-gap-8">
        <div class="dfm-button-gray-400">
          <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
        </div>
        <span class="font-weight-medium">{{"OverallStatus" | translate}}</span>
      </header>

     <div class="dfm-input-dropdown-wrapper-wo-label overall-sort-icon dfm-me-12">
       <dfm-input-dropdown
         [items]="[]"
         placeholder="{{'SortBy' | translate}}"
         [showDescription]="true"
         size="md"
         [loading]="false"
       ></dfm-input-dropdown>
     </div>
      <dfm-button-icon
            color="tertiary-gray"
            size="sm"
            icon="calendar-date" class="overall-sort-icon-mv border border-secondary rounded"
          ></dfm-button-icon>
    </div>
  </section>

  <section class="d-flex dfm-gap-16 justify-content-end dfm-px-8 text-sm w-100 overall-patients-consultations">
    <div class="d-flex align-items-center dfm-gap-8">
      <div class="line-chart-legend patients-legend"></div>
      <span>{{"Patients" | translate}}</span>
    </div>

    <!-- <div class="d-flex align-items-center dfm-gap-8">
      <div class="line-chart-legend consultations-legend"></div>
      <span>Consultations</span>
    </div> -->
  </section>

  <section class="overflow-x-auto">
    <canvas baseChart
            class="chart-canvas"
            [type]="'line'"
            [data]="lineChartConfig"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </section>

</div>
