<div class="d-flex flex-column dfm-gap-16">
  <section class="list-page-section-1">
    <dfm-button class="hidden et-ls-title-buttons" color="link" size="lg" routerLink="./" queryParamsHandling="merge">{{ 'EmailTemplate' | translate }}</dfm-button>

    <dfm-input
      class="flex-1 et-ls-search"
      size="md"
      placeholder="{{ 'SearchByTemplateName' | translate }}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper et-ls-button-dropdown-group bg-white">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          ngbPopover="{{ 'ClickToCopy' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent max-w-192">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{ 'Download' | translate }}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>
  </section>

  <dfm-input
    class="flex-1 et-ls-search-mv hidden"
    size="md"
    placeholder="Search by Template Name"
    icon="search-sm"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height" *ngIf="filteredEmails$$ | async as emails">







    <dfm-data-table [data]="(tableData$$ | async) ?? {items: []}" [selectable]="true" (selected)="handleCheckboxSelection($event)"
                    [clearSelected$]="clearSelected$$" [stickyActions]="true" noDataMessage="{{ (isLoading ? 'Loading' : 'NoDataFound') | translate }}"
                    [rowClickable]="true" [stickyCheckbox]="true"  [stickyFirstColumn]="false" [headers]="tableHeaders"
                    (scrolled)="onScroll()" (sorted)="onSort($event)">
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-row-cell [fullContent]="item.title">{{ item.title | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.subject">{{ item.subject | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.status">
          <dfm-badge *ngIf="item.status === statusType.Active" color="success" size="sm" fontWeight="medium">
            {{ item.status | statusName | dashIfNothing | translate }}
          </dfm-badge>

          <dfm-badge *ngIf="item.status === statusType.Inactive" color="primary" size="sm">
            {{ item.status | statusName | dashIfNothing | translate }}
          </dfm-badge>
        </dfm-table-row-cell>
        <dfm-data-table-action-cell >
          <ng-template #actionCellTemplate>
            <dfm-data-table-action *ngIf="item.status === statusType.Inactive" icon="check-circle"  tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Active }])" ></dfm-data-table-action>
            <dfm-data-table-action *ngIf="item.status === statusType.Active" icon="x-circle" tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Inactive }])"></dfm-data-table-action>
            <dfm-data-table-action icon="pencil-02" tooltip="{{ 'Edit' | translate }}" (click)="$event.stopPropagation()" [routerLink]="['./', item.id, 'edit']" queryParamsHandling="merge"></dfm-data-table-action>
          </ng-template>
        </dfm-data-table-action-cell>
      </ng-template>
    </dfm-data-table>
  </section>
  <div ngbDropdown #optionsMenu="ngbDropdown">
    <div class="shadow-lg et-ls-plus-btn-menu et-ls-menus" ngbDropdownMenu aria-labelledby="dropdownManual">
      <div ngbDropdownItem (click)="$event.stopPropagation()">
        <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>
      </div>
      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
        <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>
      </div>
      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">
        <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>
      </div>
    </div>
  </div>
</div>

<dfm-confirm-status-change-banner
  [display]="selectedUserIds.length"
  (confirmationEvent)="handleConfirmation($event)"
></dfm-confirm-status-change-banner>

