.et-ls-button-dropdown-group {
    background: transparent;

    div:last-child {
      max-width: 152px;
    }
  }

  @media (max-width: 680px) {
    section.et-ls-table-wrapper  {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .et-ls-search-mv {
      display: block;
    }

    .et-ls-main-wrapper {
      padding: 0;
    }

    .et-ls-section-1 {
      justify-content: space-between;
    }

    .et-ls-search, .et-ls-button-dropdown-group {
      display: none !important;
    }

    .et-ls-title-buttons {
      display: block;
    }

    .et-ls-plus-btn {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1000;
      height: 44px;
      width: 44px;
    }

    .et-ls-menus {
      min-width: fit-content !important;
      max-width: 44px;
      border: none;
      border-radius: 12px;
      flex-direction: column;
      padding: 2px;

      div + div {
        border-top: 1px solid var(--dfm-main-200);
      }

      div {
        padding: 8px;
      }
    }

    .et-ls-plus-btn-menu {
      position: fixed;
      bottom: 144px;
      right: 28px;
    }

    .et-ls-action-buttons-menu {
      right: 28px;
      top: -48px;
    }

    .et-ls-action-buttons {
      display: none !important;
    }

    .et-ls-vertical-dots-btn {
      display: block;
    }

    .menu-point-forward {
      position: absolute;
      background: white;
      transform: rotateZ(45deg);
      right: -8px;
      bottom: 8px;
      border-radius: 4px;
    }

  }

  .et-ls-button-dropdown-group {
    background: transparent;

    .et-ls-info-cell {
      max-width: 512px;
    }

    div:last-child {
      max-width: 160px;
    }
  }

  .et-ls-searchbar-mv {
    display: none;
  }

  @media (max-width: 680px) {
    .et-ls-search,
    .et-ls-button-dropdown-group {
      display: none !important;
    }

    .et-ls-title-buttons, .et-ls-action-menu {
      display: block;
    }

    .et-ls-plus-btn {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1000;
      height: 44px;
      width: 44px;
    }

    .et-ls-menus {
      min-width: fit-content !important;
      max-width: 44px;
      border: none;
      border-radius: 12px;
      flex-direction: column;
      padding: 2px;

      div+div {
        border-top: 1px solid var(--dfm-main-200);
      }

      div {
        padding: 8px;
      }
    }

    .et-ls-plus-btn-menu {
      position: fixed;
      bottom: 144px;
      right: 28px;
    }

    .et-ls-action-buttons-menu {
      right: 28px;
      top: -48px;
    }

    .et-ls-action-buttons {
      display: none !important;
    }

    .et-ls-vertical-dots-btn {
      display: block;
    }

    .menu-point-forward {
      position: absolute;
      background: white;
      transform: rotateZ(45deg);
      right: -8px;
      bottom: 8px;
      border-radius: 4px;
    }

    .et-ls-searchbar-mv {
      display: block;
    }
  }

  .et-ls-button-dropdown-group {
    background: transparent;
  }

  //@media (max-width: 680px) {
  //  .et-ls-main-wrapper {
  //    padding: 0;
  //  }
  //
  //  .et-ls-section-1 {
  //    justify-content: space-between;
  //  }
  //
  //  .et-ls-search,
  //  .et-ls-button-dropdown-group,
  //  .header-buttons {
  //    display: none !important;
  //  }
  //
  //  .et-ls-title-buttons,
  //  .et-ls-search-mv,
  //  .et-ls-plus-btn {
  //    display: block;
  //  }
  //
  //  .add-app-btn-mv {
  //    display: flex;
  //  }
  //
  //  .et-ls-plus-btn {
  //    position: absolute;
  //    bottom: 0;
  //    right: 0;
  //    z-index: 1000;
  //    height: 44px;
  //    width: 44px;
  //  }
  //
  //  .et-ls-menus {
  //    min-width: fit-content !important;
  //    max-width: 44px;
  //    border: none;
  //    border-radius: 12px;
  //    flex-direction: column;
  //    padding: 2px;
  //
  //    div+div {
  //      border-top: 1px solid var(--dfm-main-200);
  //    }
  //
  //    div {
  //      padding: 8px;
  //    }
  //  }
  //
  //  .et-ls-plus-btn-menu {
  //    position: fixed;
  //    bottom: 144px;
  //    right: 28px;
  //  }
  //
  //  .et-ls-action-buttons-menu {
  //    right: 28px;
  //    top: -48px;
  //  }
  //
  //  .et-ls-action-buttons {
  //    display: none !important;
  //  }
  //
  //  .et-ls-vertical-dots-btn {
  //    display: block;
  //  }
  //
  //  .menu-point-forward {
  //    position: absolute;
  //    background: white;
  //    transform: rotateZ(45deg);
  //    right: -8px;
  //    bottom: -8px;
  //    border-radius: 4px;
  //  }
  //}
