<div class="d-flex flex-column position-relative dfm-gap-16">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden sf-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >Staff
    </dfm-button>

    <dfm-input
      class="flex-1 sf-li-search"
      size="md"
      placeholder="{{'StaffSearch' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper sf-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-bg-transparent">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{'Download' | translate}}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 align-items-center">
      <!--        <dfm-button-->
      <!--          color="secondary"-->
      <!--          size="sm"-->
      <!--          [disabled]="!slectedAppointmentIDs.length"-->
      <!--        >Confirm-->
      <!--        </dfm-button>-->

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="false"
        routerLink="./add"
      >{{'AddStaff' | translate}}
      </dfm-button>
    </div>
  </section>

  <dfm-input
    size="md"
    placeholder="{{'StaffSearch' | translate}}"
    icon="search-sm"
    class="w-full hidden sf-li-search-mv"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height" *ngIf="filteredStaffs$$ | async as staffs">
    <dfm-table [items]="staffs" [selectable]="true" (selected)="handleCheckboxSelection($event)"
               [clearSelected$]="clearSelected$$" [rowClickable]="true" (rowClicked)="navigateToViewStaff($event)"
               class="dfm-table-wrapper">
      <ng-template #headerRowTemplate>
        <dfm-table-header-cell *ngFor="let column of columns">{{ column | translate }}</dfm-table-header-cell>
      </ng-template>

      <ng-template #bodyRowTemplate let-item>
        <dfm-table-body-cell>{{ item.firstname | titlecase | dashIfNothing }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.lastname | titlecase | dashIfNothing }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.userType | titlecase | dashIfNothing | translate }}</dfm-table-body-cell>
        <dfm-table-body-cell>
          <div class="text-truncate">{{ item.email | dashIfNothing }}</div>
        </dfm-table-body-cell>

        <dfm-table-body-cell>
          <dfm-badge *ngIf="item.status === statusType.Active"
                     color="success"
                     size="sm"
                     fontWeight="medium">
            {{ item.status | statusName | dashIfNothing | translate }}
          </dfm-badge>

          <dfm-badge *ngIf="item.status === statusType.Inactive"
                     color="primary"
                     size="sm">
            {{ item.status | statusName | dashIfNothing | translate}}
          </dfm-badge>
        </dfm-table-body-cell>

        <dfm-table-body-cell>
          <div class="d-flex dfm-gap-16 align-items-center sf-li-action-buttons">
            <dfm-button
              *ngIf="item.status === statusType.Inactive"
              color="link-gray"
              size="sm"
              trailingIcon="check-circle"
              ngbPopover="{{'ChangeStatus' | translate}}" triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8"
              [openDelay]="200"
              (click)="$event.stopPropagation(); changeStatus([ { id: item.id, status: statusType.Active }])"
            ></dfm-button>

            <dfm-button
              *ngIf="item.status === statusType.Active"
              color="link-gray"
              size="sm"
              trailingIcon="x-circle"
              ngbPopover="{{'ChangeStatus' | translate}}" triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8"
              [openDelay]="200"
              (click)="$event.stopPropagation(); changeStatus([ { id: item.id, status: statusType.Inactive }])"
            ></dfm-button>

            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="pencil-02"
              ngbPopover="{{'Edit' | translate}}" triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8"
              [openDelay]="200"
              (click)="$event.stopPropagation()"
              [routerLink]="['./', item.id, 'edit']"
              [state]="{ comingFromRoute: 'staff', edit: true }"
            ></dfm-button>

            <dfm-button
              color="link-gray"
              size="sm"
              trailingIcon="trash-01"
              ngbPopover="{{'Delete' | translate}}" triggers="mouseenter:mouseleave"
              popoverClass="popover-p-8"
              [openDelay]="200"
              (click)="$event.stopPropagation(); deleteStaff(item.id)"
            ></dfm-button>
          </div>

          <!-- Action Menu -->
          <dfm-button
            [ngbPopover]="actionMenu"
            autoClose="autoClose"
            triggers="click"
            container="body"
            placement="left"
            popoverClass="popover-p-0"
            class="hidden sf-li-vertical-dots-btn"
            color="link-gray"
            size="sm"
            trailingIcon="dots-vertical"
            (click)="$event.stopPropagation(); toggleMenu(true)"
          ></dfm-button>

          <ng-template #actionMenu>
            <div class="sf-li-menus"
                 aria-labelledby="dropdownManual">
              <div *ngIf="!item.status"
                   (click)="$event.stopPropagation(); changeStatus([ { id: item.id, status: statusType.Active }])"
                   ngbPopover="{{'Status' | translate}}" triggers="mouseenter:mouseleave" popoverClass="popover-p-8"
                   [openDelay]="200">
                <dfm-button trailingIcon="check-circle" color="link-gray"></dfm-button>
              </div>

              <div *ngIf="item.status"
                   (click)="$event.stopPropagation(); changeStatus([ { id: item.id, status: statusType.Inactive }])"
                   ngbPopover="{{'Status' | translate}}" triggers="mouseenter:mouseleave" popoverClass="popover-p-8"
                   [openDelay]="200">
                <dfm-button trailingIcon="x-circle" color="link-gray"></dfm-button>
              </div>

              <div (click)="$event.stopPropagation()" [routerLink]="['./', item.id, 'edit']"
                   [state]="{ comingFromRoute: 'staff', edit: true }" ngbPopover="{{'Edit' | translate}}"
                   triggers="mouseenter:mouseleave" popoverClass="popover-p-8" [openDelay]="200">
                <dfm-button trailingIcon="pencil-02" color="link-gray"></dfm-button>
              </div>

              <div (click)="$event.stopPropagation(); deleteStaff(item.id)" ngbPopover="{{'Delete' | translate}}"
                   triggers="mouseenter:mouseleave" popoverClass="popover-p-8" [openDelay]="200">
                <dfm-button trailingIcon="trash-01" color="link-gray"></dfm-button>
              </div>
            </div>
          </ng-template>
          <!-- Action Menu ends -->

        </dfm-table-body-cell>
      </ng-template>
    </dfm-table>
    <div class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom" *ngIf="!staffs.length">
      {{"Nodatafound" | translate}}
    </div>
  </section>

  <!--  <div ngbDropdown #optionsMenu="ngbDropdown">-->
  <!--    <div class="shadow-lg sf-li-plus-btn-menu sf-li-menus" ngbDropdownMenu aria-labelledby="dropdownManual">-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); openSearchModal()">-->
  <!--        <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <dfm-button color="secondary" size="md" class="hidden shadow-lg sf-li-plus-btn rounded-2"-->
  <!--              (click)="$event.stopPropagation(); optionsMenu.open(); toggleMenu()">-->
  <!--    <dfm-icon #showMoreButtonIcon name="plus" class="sf-li-plus-btn-icon rotate-z-0 position-absolute"></dfm-icon>-->
  <!--  </dfm-button>-->
</div>

<dfm-confirm-status-change-banner [display]="selectedStaffIds.length"
                                  (confirmationEvent)="handleConfirmation($event)"></dfm-confirm-status-change-banner>
