<div class="d-flex flex-column position-relative dfm-gap-16">
  <section class="list-page-section-1">
    <dfm-button
      class="hidden sf-li-title-buttons"
      color="link"
      size="lg"
      routerLink="./"
    >{{"Staff" | translate}}
    </dfm-button>

    <dfm-input
      class="flex-1 sf-li-search"
      size="md"
      placeholder="{{'StaffSearch' | translate}}"
      icon="search-sm"
      [formControl]="searchControl"
    ></dfm-input>

    <div class="d-flex align-items-center dfm-button-group-wrapper sf-li-button-dropdown-group">
      <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
        <dfm-button-icon
          color="tertiary-gray"
          size="md"
          icon="copy-03"
          ngbPopover="{{ 'ClickToCopy' | translate }}"
          triggers="mouseenter:mouseleave"
          popoverClass="popover-p-8"
          [openDelay]="200"
          (click)="copyToClipboard()"
        ></dfm-button-icon>
      </div>

      <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent">
        <dfm-input-dropdown
          [items]="downloadItems"
          [showDescription]="false"
          [formControl]="downloadDropdownControl"
          placeholder="{{'Download' | translate}}"
          size="md"
        ></dfm-input-dropdown>
      </div>
    </div>

    <div class="d-flex dfm-gap-8 align-items-center">

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="false"
        routerLink="./add"
        queryParamsHandling="preserve"
        *dfmPermitted="Permission.CreateStaffs"
      >{{'AddStaff' | translate}}
      </dfm-button>
    </div>
  </section>

  <dfm-input
    size="md"
    placeholder="{{'StaffSearch' | translate}}"
    icon="search-sm"
    class="w-full hidden sf-li-search-mv"
    [formControl]="searchControl"
  ></dfm-input>

  <section class="list-page-content-height" *ngIf="filteredStaffs$$ | async as staffs">














    <dfm-data-table [data]="(tableData$$ | async) ?? {items: []}" [selectable]="true" (selected)="handleCheckboxSelection($event)"
                    [clearSelected$]="clearSelected$$" [stickyActions]="true"
                    noDataMessage="{{ (isLoading ? 'Loading' : 'NoStaffFound') | translate }}" [rowClickable]="true" [stickyCheckbox]="true"
                    (rowClicked)="navigateToViewStaff($event)" [stickyFirstColumn]="false" [headers]="tableHeaders"
                    (scrolled)="onScroll()" (sorted)="onSort($event)">
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-row-cell [fullContent]="item.firstname">{{ item.firstname | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.lastname">{{ item.lastname | titlecase | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.userType">{{ item.userType | titlecase | dashIfNothing | translate }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.email">{{ item.email | dashIfNothing }}</dfm-table-row-cell>
        <dfm-table-row-cell [fullContent]="item.status">
          <dfm-badge *ngIf="item.status === statusType.Active"
                     color="success"
                     size="sm"
                     fontWeight="medium">
            {{ item.status | statusName | dashIfNothing | translate }}
          </dfm-badge>

          <dfm-badge *ngIf="item.status === statusType.Inactive"
                     color="primary"
                     size="sm">
            {{ item.status | statusName | dashIfNothing | translate}}
          </dfm-badge>
        </dfm-table-row-cell>
        <dfm-data-table-action-cell *dfmPermitted="[Permission.UpdateStaffs, Permission.DeleteStaffs]">
          <ng-template #actionCellTemplate>
            <dfm-data-table-action *ngIf="item.status === statusType.Inactive" icon="check-circle"  tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Active }], item)" ></dfm-data-table-action>
            <dfm-data-table-action *ngIf="item.status === statusType.Active" icon="x-circle" tooltip="{{ 'ChangeStatus' | translate }}" (click)="$event.stopPropagation(); changeStatus([{ id: item.id, status: statusType.Inactive }], item)"></dfm-data-table-action>
            <dfm-data-table-action *dfmPermitted="Permission.UpdateStaffs" icon="pencil-02" tooltip="{{ 'Edit' | translate }}" (click)="$event.stopPropagation()" [routerLink]="['./', item.id, 'edit']" queryParamsHandling="preserve" [state]="{ comingFromRoute: 'staff', edit: true }"></dfm-data-table-action>
            <dfm-data-table-action *dfmPermitted="Permission.DeleteStaffs" icon="trash-01" tooltip="{{ 'Delete' | translate }}" (click)="$event.stopPropagation(); deleteStaff(item.id)"></dfm-data-table-action>
          </ng-template>
        </dfm-data-table-action-cell>
      </ng-template>
    </dfm-data-table>
  </section>


</div>

<dfm-confirm-status-change-banner [display]="selectedStaffIds.length"
                                  (confirmationEvent)="handleConfirmation($event)"></dfm-confirm-status-change-banner>
