.sf-li-button-dropdown-group {
  background: transparent;

  div:last-child {
    max-width: 152px;
  }
}

.ad-sf-form-fields {
  row-gap: 32px;
  transition: 150ms all linear;
}

.ad-sf-time-dropdown {
  transition: 150ms all linear;
  max-width: fit-content;
}

@media (max-width: 680px) {
  .sf-li-search-mv {
    display: block;
  }

  .sf-li-search, .sf-li-button-dropdown-group {
    display: none !important;
  }

  .sf-li-title-buttons {
    display: block;
  }

  .sf-li-plus-btn {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    height: 44px;
    width: 44px;
  }

  .sf-li-menus {
    min-width: fit-content !important;
    max-width: 44px;
    border: none;
    border-radius: 12px;
    flex-direction: column;
    padding: 2px;

    div + div {
      border-top: 1px solid var(--dfm-main-200);
    }

    div {
      padding: 8px;
    }
  }

  .sf-li-plus-btn-menu {
    position: fixed;
    bottom: 144px;
    right: 28px;
  }

  .sf-li-action-buttons-menu {
    right: 28px;
    top: -48px;
  }

  .sf-li-action-buttons {
    display: none !important;
  }

  .sf-li-vertical-dots-btn {
    display: block;
  }

  .menu-point-forward {
    position: absolute;
    background: white;
    transform: rotateZ(45deg);
    right: -8px;
    bottom: 8px;
    border-radius: 4px;
  }

}

