.vw-ap-sec2-card {
  min-width: 336px;
}

@media (max-width: 1440px) {
  section.vw-ap-section2 > div {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  section.vw-ap-section1 {
    padding: 0 8px;

    .vw-ap-title-buttons, .vw-ap-action-buttons {
      display: none !important;
    }

    .vw-ap-title-buttons-mv {
      display: flex;
    }
  }

  .vw-ap-action-buttons-mv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    z-index: 10000;

    &>dfm-button {
      height: 44px;
      flex: 1;
    }
  }
}

