<div class="bg-white rounded-4 ad-pr-main-wrapper dfm-px-16">
  <section class="modal-header">
    <h5 class="modal-title ad-pr-title-buttons">{{ modalData.edit ? 'Edit' : 'Add' }} Priority Slots</h5>
    <dfm-button-icon class="ad-pr-title-buttons" color="tertiary-gray" icon="x-close" (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-pr-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" (click)="closeModal(false)"> </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg"> {{ modalData.edit ? 'Edit' : 'Add' }} Absence </dfm-button>
    </div>
  </section>

  <section class="modal-body dfm-pb-24 ad-pr-section2">
    <form [formGroup]="prioritySlotForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16">
      <div class="d-flex dfm-gap-32 align-items-center ad-pr-dates">
        <div class="ad-pr-from-date flex-1">
          <span class="text-sm font-weight-medium dfm-text-main-700">From *</span>

          <div class="d-flex align-items-center dfm-gap-16 flex-1">
            <div class="dfm-button-group-wrapper h-fit flex-1">
              <div class="input-as-dfm-input flex-1">
                <input class="w-full min-w-128" formControlName="startedAt" placeholder="yyyy-mm-dd" ngbDatepicker #startedAt="ngbDatepicker" />
              </div>
              <div>
                <dfm-button-icon color="tertiary-gray" size="md" icon="calendar-date" (click)="startedAt.toggle()"></dfm-button-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="ad-pr-to-date flex-1">
          <span class="text-sm font-weight-medium dfm-text-main-700" *ngIf="!(isRepeatClicked && !isClicked) || prioritySlotForm.get('isRepeat')?.value">Until *</span>

          <div class="d-flex align-items-center dfm-gap-16" *ngIf="!(isRepeatClicked && !isClicked) || prioritySlotForm.get('isRepeat')?.value">
            <div class="dfm-button-group-wrapper flex-1">
              <div class="input-as-dfm-input flex-1">
                <input class="w-full min-w-128" formControlName="endedAt" placeholder="yyyy-mm-dd" ngbDatepicker #endedAt="ngbDatepicker" />
              </div>
              <div>
                <dfm-button-icon color="tertiary-gray" size="md" icon="calendar-date" (click)="endedAt.toggle()"></dfm-button-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="d-flex dfm-gap-32 align-items-center ad-pr-dates my-3">
          <div class="ad-pr-from-date flex-1" >
            <span class="text-sm font-weight-medium dfm-text-main-700">Start Time</span>
  
            <div class="d-flex align-items-center dfm-gap-16">
              <div class="dfm-button-group-wrapper h-fit flex-1">
                <div class="input-as-dfm-input flex-1">
                  <dfm-input-dropdown
                    #slotStartTime
                    [items]="startTimes"
                    [typeToSearch]="true"
                    [typeToSearchText]="slotStartTime.value"
                    (searchInput)="handleTimeInput($event, 'slotStartTime')"
                    formControlName="slotStartTime"
                    size="md"
                    placeholder="hh:mm"
                  >
                  </dfm-input-dropdown>
                </div>
              </div>
            </div>
          </div>
  
          <div class="ad-pr-to-date flex-1">
            <span class="text-sm font-weight-medium dfm-text-main-700">End Time</span>
  
            <div class="d-flex align-items-center dfm-gap-16">
              <div class="dfm-button-group-wrapper flex-1">
                <div class="input-as-dfm-input flex-1">
                  <dfm-input-dropdown
                    #slotEndTime
                    [items]="endTimes"
                    [typeToSearch]="true"
                    [typeToSearchText]="slotEndTime.value"
                    (searchInput)="handleTimeInput($event, 'slotEndTime')"
                    formControlName="slotEndTime"
                    size="md"
                    placeholder="hh:mm"
                  >
                  </dfm-input-dropdown>
                </div>
              </div>
            </div>
          </div>
  
          <div class="d-flex flex-column dfm-gap-16 flex-1">
            <span
              class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Priority</span>
            <div class="w-fit d-flex justify-content-between dfm-gap-24">
              <dfm-radio-button class="font-weight-normal" label="High" [checkedValue]="priorityType.High"
                                formControlName="priority"></dfm-radio-button>
              <dfm-radio-button class="font-weight-normal" label="Medium" [checkedValue]="priorityType.Medium"
                                formControlName="priority"></dfm-radio-button>
              <dfm-radio-button class="font-weight-normal" label="Low" [checkedValue]="priorityType.Low"
                                formControlName="priority"></dfm-radio-button>
            </div>
          </div>
        </div>

      <div class="d-flex dfm-gap-32 flex-wrap ad-pr-radio-group">
        <div class="d-flex flex-column dfm-gap-16 flex-1 ad-pr-repeat-radio">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Repeat</span>

          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="All Day" [checkedValue]="isClicked" formControlName="isRepeat" (click)="setRepeatValue()"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="Repeat" [checkedValue]="isRepeatClicked" formControlName="isRepeat" (click)="setRepeatValue()"></dfm-radio-button>
          </div>
        </div>
      </div>

      <ng-container *ngIf="formValues.isRepeat">
        <div class="d-flex dfm-gap-32 flex-wrap align-items-start ad-pr-repeat-form">
          <div class="dfm-input-dropdown-wrapper flex-1">
            <dfm-input-dropdown
              #repeatType
              [items]="repeatTypes"
              size="md"
              label="Repeat Type *"
              placeholder="Select repeat type"
              formControlName="repeatType"
              (select)="handleChange(repeatFrequency)"
            >
            </dfm-input-dropdown>
          </div>

          <div class="flex-1">
            <dfm-input
              #repeatFrequency
              class="flex-1"
              formControlName="repeatFrequency"
              label="Repeat Every"
              placeholder="Enter repeat count"
              size="md"
              type="text"
              [readonly]="!repeatType.value"
              (focusin)="handleFocusIn(repeatFrequency)"
              (focusout)="handleFocusOut(repeatFrequency)"
            >
            </dfm-input>
          </div>

          <div class="dfm-input-multi-dropdown-wrapper flex-1 ad-pr-repeat-every" *ngIf="repeatType.value && repeatType.value !== 'daily'">
            <dfm-input-dropdown
              #repeatEveryDropdown
              [items]="repeatType.value ? repeatEvery[repeatType.value] : ['']"
              [multiple]="true"
              [placeholder]="!!repeatEveryDropdown.value?.length ? repeatEveryDropdown.value.length + ' Selected' : 'Select repeat every'"
              size="md"
              label="Repeat On *"
              formControlName="repeatDays"
            >
            </dfm-input-dropdown>
          </div>
        </div>
      </ng-container>

      <div class="d-flex dfm-gap-32 flex-wrap ad-pr-radio-group">
        <div class="d-flex flex-column dfm-gap-16 flex-1 ad-pr-repeat-radio">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Radiologist</span>

          <div class="w-fit d-flex justify-content-between dfm-gap-24 dfm-button-group-wrapper" *ngIf="staffsGroupedByTypes$$ | async as staffsGroupedByType">
            <dfm-input-dropdown
              #repeatEveryDropdown
              [items]="staffsGroupedByType.radiologists"
              [multiple]="true"
              aria-selected="true"
              [placeholder]="!!repeatEveryDropdown.value?.length ? repeatEveryDropdown.value.length + ' Selected' : 'Select Radiologist'"
              size="md"
              formControlName="userList"
            >
            </dfm-input-dropdown>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="priority-slots-modal-footer ad-pr-footer-buttons flex-start">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">Cancel</dfm-button>
    <dfm-button color="primary" size="md" (click)="savePrioritySlot()">{{ modalData.edit ? 'Save Changes' : 'Add Slot' }}</dfm-button>
  </section>
</div>
