<div class="dfm-dashboard-wrapper">
  <div class="dfm-card card-container">
    <dfm-appointments-doughnut-chart></dfm-appointments-doughnut-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-appointments-list></dfm-appointments-list>
  </div>

  <div class="dfm-card card-container">
    <dfm-upcoming-appointments></dfm-upcoming-appointments>
  </div>

  <div class="dfm-card card-container">
    <dfm-post-it></dfm-post-it>
  </div>

  <div class="dfm-card card-container">
    <dfm-employee-absences></dfm-employee-absences>
  </div>

  <div class="dfm-card card-container">
    <dfm-top-referring-doctors-list></dfm-top-referring-doctors-list>
  </div>

  <div class="dfm-card card-container">
    <dfm-dashboard-notifications></dfm-dashboard-notifications>
  </div>

  <div class="dfm-card card-container">
    <dfm-top-examinations></dfm-top-examinations>
  </div>

  <div class="dfm-card card-container">
    <dfm-unavailable-hall-periods></dfm-unavailable-hall-periods>
  </div>

  <div class="dfm-card card-container">
    <dfm-appointments-bar-chart></dfm-appointments-bar-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-patients-bar-chart></dfm-patients-bar-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-consultations-doughnut-chart></dfm-consultations-doughnut-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-cancelled-bar-chart></dfm-cancelled-bar-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-patient-consultations-line-chart></dfm-patient-consultations-line-chart>
  </div>

  <div class="dfm-card card-container">
    <dfm-recent-patients></dfm-recent-patients>
  </div>
</div>

<!--<div class="d-flex flex-column dfm-gap-12">-->
<!--  <div class="d-flex dfm-gap-12">-->
<!--    <div class="d-flex flex-column dfm-gap-12">-->
<!--      <div class="dfm-card">-->
<!--        <dfm-appointments-doughnut-chart></dfm-appointments-doughnut-chart>-->
<!--      </div>-->
<!--      <div class="dfm-card">-->
<!--        <dfm-upcoming-appointments></dfm-upcoming-appointments>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="dfm-card h-auto">-->
<!--      <dfm-appointments-list></dfm-appointments-list>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="d-flex dfm-gap-12">-->
<!--    <div class="dfm-card h-auto">-->
<!--      <dfm-top-referring-doctors-list></dfm-top-referring-doctors-list>-->
<!--    </div>-->
<!--    <div class="dfm-card">-->
<!--      <dfm-dashboard-notifications></dfm-dashboard-notifications>-->
<!--    </div>-->
<!--    <div class="dfm-card h-auto">-->
<!--      <dfm-top-examinations></dfm-top-examinations>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dashboard-container-3">-->
<!--    <div class="dfm-card">-->
<!--      <dfm-unavailable-hall-periods></dfm-unavailable-hall-periods>-->
<!--    </div>-->

<!--    <div>-->
<!--      <div class="dfm-card h-auto">-->
<!--        <dfm-appointments-bar-chart></dfm-appointments-bar-chart>-->
<!--      </div>-->
<!--      <div class="dfm-card h-auto">-->
<!--        <dfm-patients-bar-chart></dfm-patients-bar-chart>-->
<!--      </div>-->
<!--      <div class="dfm-card h-auto">-->
<!--        <dfm-consultations-doughnut-chart></dfm-consultations-doughnut-chart>-->
<!--      </div>-->
<!--      <div class="dfm-card h-auto">-->
<!--        <dfm-cancelled-bar-chart></dfm-cancelled-bar-chart>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dfm-card">-->
<!--    <dfm-patient-consultations-line-chart></dfm-patient-consultations-line-chart>-->
<!--  </div>-->

<!--  <div class="dfm-card">-->
<!--    <dfm-recent-patients></dfm-recent-patients>-->
<!--  </div>-->
<!--</div>-->
