.ad-ab-main-wrapper {
  transition: all ease 200ms;
  padding-bottom: 16px;

  .ad-ab-section2 {
    // viewport - m-top - modal header height - modal footer header - p-bottom - m-bottom - extra
    max-height: calc(100dvh - 24px - 76px - 64px - 16px - 24px - 48px);
    overflow-y: auto;

    min-height: 300px;

    .ad-ab-time-dropdown {
      min-width: 128px;
    }

    .ad-ab-repeat-type-text {
      border: 1px solid var(--dfm-main-300);
      border-radius: 8px;
      padding: 10px 12px;
    }
  }
    .gap {
      column-gap: 32px;
    }
}

@media (max-width: 1200px) {
  .ad-ab-repeat {
    flex: 2;
  }
}

@media (max-width: 992px) {
  .ad-ab-dates {
    flex-wrap: wrap;

    &>div {
      max-width: 100%;
    }
  }

  .ad-ab-radio-group {
    flex-direction: column;

    .ad-ab-repeat-every {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 680px) {
  .ad-ab-main-wrapper {
    position: fixed;
    height: calc(100dvh - 36px);
    width: 100vw;
    top: 36px;
    left: 0;
    padding: 0;
    border-radius: 0 !important;
    background: var(--dfm-base-layout-bg) !important;

    .ad-ab-section1 {
      padding: 24px;
      box-shadow: inset 0 10px 9px -5px rgb(0 0 0 / 8%);
    }

    form {
      .ad-ab-from-date, .ad-ab-to-date, .ad-ab-absence-name {
        max-width: 100% !important;
        width: 100%;
      }

      .ad-ab-repeat-form {
        flex-direction: column;
        gap: 16px;

        & > div {
          width: 100%;
        }
      }

      .ad-ab-repeat-radio {
        order: 1;
      }

      .ad-ab-rooms, .ad-ab-staffs {
        margin-bottom: 8px;
      }
    }

    .ad-ab-title-buttons-mv {
      display: flex;
    }

    .ad-ab-title-buttons {
      display: none !important;
    }

    .ad-ab-section2 {
      // viewport - nav bar height - title buttons height - footer buttons height
      max-height: calc(100dvh - 36px - 84px - 72px);
      min-height: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      form {
        & > div {
          flex-direction: column;

          dfm-input {
            width: 100%;
          }
        }
      }
    }
  }

  .ad-ab-footer-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1;

    dfm-button {
      flex: 1;
    }
  }
}
