<dfm-mat-spinner></dfm-mat-spinner>

<div class="bg-white rounded-4 ad-ab-main-wrapper dfm-px-16">
  <section class="modal-header ad-ab-section1">
    <h5 class="modal-title ad-ab-title-buttons">{{ modalData?.edit ? ((modalData.absenceType === 'public-holiday' ? 'EditPublicHoliday' :'EditAbsence') | translate) : ((modalData.absenceType === 'public-holiday' ? 'AddPublicHoliday' :'AddAbsence') | translate) }}</h5>
    <dfm-button-icon class="ad-ab-title-buttons" color="tertiary-gray" icon="x-close" (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-ab-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" (click)="closeModal(false)"> </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg"> {{ modalData?.edit ? ((modalData.absenceType === 'public-holiday' ? 'EditPublicHoliday' :'EditAbsence') | translate) : ((modalData.absenceType === 'public-holiday' ? 'AddPublicHoliday' :'AddAbsence') | translate) }} </dfm-button>
    </div>
  </section>

  <section class="modal-body ad-ab-section2">
    <form [formGroup]="absenceForm" class="d-flex flex-column dfm-gap-18 dfm-mb-16" *ngIf="absence$$ | async as absence">
      <div class="max-w-5 ad-ab-absence-name">
        <dfm-input
          class="flex-1"
          size="md"
          placeholder="{{ 'EnterAbsenceTitle' | translate }}"
          label="{{ 'Title' | translate }} *"
          formControlName="name"
        >
        </dfm-input>
        <span class="validation-error" *ngIf="controls['name'].hasError('required') && controls['name'].touched">
          {{ 'RequiredField' | translate }}</span
        >
      </div>

      <div class="d-flex flex-column dfm-gap-16 flex-1 ad-ab-repeat-radio">
        <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'Repeat' | translate }}</span>

        <div class="w-fit d-flex justify-content-between dfm-gap-24">
          <dfm-radio-button
            class="font-weight-normal"
            label="{{ 'DoesNotRepeat' | translate }}"
            [checkedValue]="false"
            formControlName="isRepeat"
          ></dfm-radio-button>
          <dfm-radio-button
            class="font-weight-normal"
            label="{{ 'Repeat' | translate }}"
            [checkedValue]="true"
            formControlName="isRepeat"
          ></dfm-radio-button>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 ad-ab-dates">
        <div class="ad-ab-from-date max-w-5">
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">
            {{ formValues.isRepeat ? ('From' | translate) : ('From' | translate) }} *
          </div>

          <div class="d-flex align-items-start dfm-gap-16 flex-1">
            <div>
              <div class="flex-1 d-flex flex-column">
                <div class="dfm-button-group-wrapper h-fit flex-1">
                  <div class="input-as-dfm-input">
                    <input [formControl]="startDateControl" (dateChange)="onDateChange($event.value, 'startedAt')"
                    placeholder="{{'dateFormat' | translate}}"
                    required  [matDatepicker]="picker" [max]="endDateControl.value" readonly class="w-full min-w-128">
                  </div>
                  <dfm-button-icon
                    color="secondary-gray"
                    size="md"
                    icon="calendar-date"
                    ngbPopover="{{ 'Calendar' | translate }}"
                    triggers="mouseenter:mouseleave"
                    popoverClass="popover-p-8"
                    [openDelay]="200"
                    (click)="picker.open()"
                  ></dfm-button-icon>
                  <mat-datepicker #picker></mat-datepicker>
                </div>

                <small class="validation-error" *ngIf="absenceForm.get('startedAt')?.hasError('required') && absenceForm.get('startedAt')?.touched">
                  {{ 'RequiredField' | translate }}
                </small>
              </div>
            </div>

            <div [ngClass]="{'hidden':modalData.absenceType === ABSENCE_TYPE_ARRAY[2] }">
              <div class="flex-1 min-w-128 max-w-192" >
                <dfm-input-dropdown
                  #startTime
                  [items]="startTimes"
                  [typeToSearch]="true"
                  [typeToSearchText]="startTime.value"
                  (searchInput)="handleTimeInput($event, 'startTime')"
                  formControlName="startTime"
                  size="md"
                  placeholder="{{ 'hh:mm' | translate }}"
                >
                </dfm-input-dropdown>
              </div>
              <span class="validation-error" *ngIf="controls['startTime'].hasError('required') && controls['startTime'].touched">
                {{ 'RequiredField' | translate }}</span
              >
              <small class="validation-error" *ngIf="endTime.control.hasError('time')">
                {{ 'StartTimeLessThanEndTime' | translate }}
              </small>
            </div>
          </div>

          <!-- <small class="validation-error" *ngIf="startTime.control.hasError('time')">{{"RequiredField" | translate}}</small> -->
        </div>

        <div class="ad-ab-to-date max-w-5">
          <!--          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">{{ formValues.isRepeat ? ('Until' | translate) : ("EndTimeRequired" | translate) }} *</div>-->
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6" *ngIf="!(modalData.absenceType === ABSENCE_TYPE_ARRAY[2] && formValues.isRepeat)">{{ 'Until' | translate }}*</div>

          <div class="d-flex align-items-start dfm-gap-16 flex-1">
            <div class=" d-flex flex-column" *ngIf="!formValues.isRepeat">
              <div class="dfm-button-group-wrapper flex-1">
                <div class="input-as-dfm-input">
                  <input [formControl]="endDateControl" (dateChange)="onDateChange($event.value, 'endedAt')"
                  placeholder="{{'dateFormat' | translate}}"
                  [min]="startDateControl.value"
                  [required]="formValues.isRepeat"  [matDatepicker]="picker2" readonly class="w-full min-w-128">
                </div>
                <dfm-button-icon
                  color="secondary-gray"
                  size="md"
                  icon="calendar-date"
                  ngbPopover="{{ 'Calendar' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  (click)="picker2.open()"
                ></dfm-button-icon>
                <mat-datepicker #picker2></mat-datepicker>
              </div>
              <small class="validation-error" *ngIf="absenceForm.get('endedAt')?.hasError('required') && absenceForm.get('endedAt')?.touched">
                {{ 'RequiredField' | translate }}
              </small>
            </div>
            <div class="flex-1" [ngClass]="{'hidden':modalData.absenceType === ABSENCE_TYPE_ARRAY[2] }">
              <div class="min-w-128 max-w-192" >
                <dfm-input-dropdown
                  #endTime
                  [items]="endTimes"
                  [typeToSearch]="true"
                  [typeToSearchText]="endTime.value"
                  (searchInput)="handleTimeInput($event, 'endTime')"
                  [required]="formValues.isRepeat"
                  formControlName="endTime"
                  size="md"
                  placeholder="{{ 'hh:mm' | translate }}"
                >
                </dfm-input-dropdown>
              </div>
              <span class="validation-error" *ngIf="controls['endTime'].hasError('required') && controls['endTime'].touched">
                {{ 'RequiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="formValues.isRepeat">
        <dfm-repeat-form [form]="absenceForm">
          <div class="d-flex flex-column dfm-gap-16 flex-1 mt-4 endDate">
            <!-- <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'Ends' | translate }} *</span> -->
            <div class="w-fit d-flex justify-content-between dfm-gap-24 align-items-start flex-wrap">
              <!-- <dfm-radio-button
                class="font-weight-normal"
                label="{{ 'Never' | translate }}"
                [formControl]="endDateTypeControl"
                [checkedValue]="EndDateType.Never"
                hint="the event repeat indefinitely"
                size="sm"
              ></dfm-radio-button> -->
              <!-- <div class="d-flex align-items-start dfm-gap-16"> -->
                <!-- <dfm-radio-button
                  class="font-weight-normal max-w-192 "
                  label="{{ 'Until' | translate }}"
                  [formControl]="endDateTypeControl"
                  [checkedValue]="EndDateType.Until"
                  hint="The event will run until reaches a specific date"
                  size="sm"
                >

                </dfm-radio-button> -->
                <!-- <div *ngIf="endDateTypeControl.value === EndDateType.Until"> -->
                  <div class="flex-1 d-flex dfm-gap-8 flex-column">
                    <span class="text-sm font-weight-medium dfm-text-main-700">{{ "Until" | translate }}*</span>
                  <div class="dfm-button-group-wrapper flex-1 " >
                    <div class="input-as-dfm-input">
                      <input [formControl]="endDateControl" (dateChange)="onDateChange($event.value, 'endedAt')"
                      placeholder="{{'dateFormat' | translate}}"
                      required [min]="startDateControl.value" [matDatepicker]="picker2" readonly class="w-full min-w-128">
                    </div>
                    <dfm-button-icon
                      color="secondary-gray"
                      size="md"
                      icon="calendar-date"
                      ngbPopover="{{ 'Calendar' | translate }}"
                      triggers="mouseenter:mouseleave"
                      popoverClass="popover-p-8"
                      [openDelay]="200"
                      (click)="picker2.open()"
                    ></dfm-button-icon>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                  <h1 class="mat-caption dfm-text-main-500">{{'The event will run until reaches a specific date' | translate}}</h1>
                  <div
                    class="validation-error"
                    *ngIf="absenceForm.get('endedAt')?.hasError('required') &&absenceForm.get('endedAt')?.touched"
                  >
                    {{ 'RequiredField' | translate }}
                  </div>
                </div>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </dfm-repeat-form>
      </ng-container>

      <div class="d-flex flex-wrap flex-1 gap max-w-5 " [ngClass]="{ 'dfm-mt-8': formValues.repeatDays?.length }" >
        <ng-container *ngIf="!formValues.isHoliday">
          <ng-container *ngIf="modalData.absenceType === 'rooms'">
            <div class="flex-1 ad-ab-rooms" *ngIf="filteredRoomList$$ | async as roomList">
              <dfm-input-dropdown
                #roomDropdown
                [items]="roomList"
                [multiple]="true"
                [typeToSearch]="true"
                (searchInput)="handleDropdownSearch($event, 'room')"
                [placeholder]="((roomDropdown.value?.length | dfmMultiDropdownPlaceholderName : 'SelectRooms') | async) ?? ''"
                size="md"
                [required]="true"
                formControlName="roomList"
                label="{{ 'Rooms' | translate }}"
              >
              </dfm-input-dropdown>
              <span class="validation-error" *ngIf="controls['roomList'].hasError('required') && controls['roomList'].touched">
                {{ 'RequiredField' | translate }}</span
              >
            </div>
          </ng-container>

          <ng-container  *ngIf="modalData.absenceType === 'staff'">
            <div class="flex-1 ad-ab-staffs" *ngIf="filteredStaffs$$ | async as staffList">
              <dfm-input-dropdown
                #staffDropDown
                [items]="staffList"
                [multiple]="true"
                [typeToSearch]="true"
                (searchInput)="handleDropdownSearch($event, 'staff')"
                size="md"
                [required]="true"
                formControlName="userList"
                label="{{ 'Staff' | translate }}"
                [placeholder]="((staffDropDown.value?.length | dfmMultiDropdownPlaceholderName : 'SelectStaff') | async) ?? ''"
              >
              </dfm-input-dropdown>
              <span class="validation-error" *ngIf="controls['userList'].hasError('required') && controls['userList'].touched">
                {{ 'RequiredField' | translate }}</span
              >
            </div>
          </ng-container>
        </ng-container>

      </div>

      <div [ngClass]="{ 'dfm-mt-8': formValues.userList?.length || formValues.roomList?.length }">
        <dfm-text-area label="Info" placeholder="{{ 'EnterAbsenceInfo' | translate }}" formControlName="info"></dfm-text-area>
      </div>
      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter first name" label="First Name *" formControlName="firstname">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter last name" label="Last Name *" formControlName="lastname">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter email" label="Email *" formControlName="email">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter rizv no" label="Rizv Number *" formControlName="rizivNumber">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input type="number" class="flex-1" size="md" placeholder="Enter telephone" label="Telephone *" formControlName="telephone">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter GSM" label="GSM *" formControlName="gsm">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div>-->
      <!--        <dfm-checkbox formControlName="notifyDoctor" label="Email the doctor if a patient makes an appointment that he has prescribed."></dfm-checkbox>-->
      <!--      </div>-->
    </form>
  </section>

  <section class="modal-footer ad-ab-footer-buttons">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="(submitting$$ | async) === true" (click)="saveAbsence()">{{
      modalData?.edit ? ('SaveChanges' | translate) : ((modalData.absenceType === 'public-holiday' ? 'AddPublicHoliday' :'AddAbsence') | translate)
    }}</dfm-button>
  </section>
</div>
