<dfm-mat-spinner></dfm-mat-spinner>

<div class="bg-white rounded-4 ad-ab-main-wrapper dfm-px-16">
  <section class="modal-header ad-ab-section1">
    <h5 class="modal-title ad-ab-title-buttons">{{ modalData?.edit ? ('EditAbsence' | translate) : ('AddAbsence' | translate) }}</h5>
    <dfm-button-icon class="ad-ab-title-buttons" color="tertiary-gray" icon="x-close" (click)="closeModal(false)"></dfm-button-icon>

    <div class="hidden dfm-gap-8 align-items-center ad-ab-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left" (click)="closeModal(false)"> </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg"> {{ modalData?.edit ? ('EditAbsence' | translate) : ('AddAbsence' | translate) }} </dfm-button>
    </div>
  </section>

  <section class="modal-body ad-ab-section2">
    <form [formGroup]="absenceForm" class="d-flex flex-column dfm-gap-24 dfm-mb-16" *ngIf="absence$$ | async as absence">
      <div class="max-w-5 ad-ab-absence-name">
        <dfm-input
          class="flex-1"
          size="md"
          placeholder="{{ 'EnterAbsenceTitle' | translate }}"
          label="{{ 'Title' | translate }} *"
          formControlName="name"
        >
        </dfm-input>
        <span class="validation-error" *ngIf="controls['name'].hasError('required') && controls['name'].touched">
          {{ 'RequiredField' | translate }}</span
        >
      </div>

      <div class="d-flex dfm-gap-32 ad-ab-dates">
        <div class="ad-ab-from-date flex-1 max-w-5">
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">
            {{ formValues.isRepeat ? ('From' | translate) : ('From' | translate) }} *
          </div>

          <div class="d-flex align-items-start dfm-gap-16 flex-1">
            <div>
              <div class="flex-1 d-flex flex-column">
                <div class="dfm-button-group-wrapper h-fit flex-1">
                  <div class="input-as-dfm-input flex-1">
                    <input
                      class="w-full min-w-128"
                      formControlName="startedAt"
                      placeholder="{{ 'dateFormat' | translate }}"
                      ngbDatepicker
                      #startedAt="ngbDatepicker"
                    />
                  </div>
                  <div>
                    <dfm-button-icon
                      color="tertiary-gray"
                      size="md"
                      icon="calendar-date"
                      ngbPopover="{{ 'Calendar' | translate }}"
                      triggers="mouseenter:mouseleave"
                      popoverClass="popover-p-8"
                      [openDelay]="200"
                      (click)="startedAt.toggle()"
                    ></dfm-button-icon>
                  </div>
                </div>

                <small class="validation-error" *ngIf="absenceForm.get('startedAt')?.hasError('required') && absenceForm.get('startedAt')?.touched">
                  {{ 'RequiredField' | translate }}
                </small>
              </div>
            </div>

            <div>
              <div class="dfm-input-dropdown-wrapper-wo-label flex-1 min-w-128 max-w-192">
                <dfm-input-dropdown
                  #startTime
                  [items]="startTimes"
                  [typeToSearch]="true"
                  [typeToSearchText]="startTime.value"
                  (searchInput)="handleTimeInput($event, 'startTime')"
                  formControlName="startTime"
                  size="md"
                  placeholder="{{ 'hh:mm' | translate }}"
                >
                </dfm-input-dropdown>
              </div>
              <span class="validation-error" *ngIf="controls['startTime'].hasError('required') && controls['startTime'].touched">
                {{ 'RequiredField' | translate }}</span
              >
              <small class="validation-error" *ngIf="endTime.control.hasError('time')">
                {{ 'StartTimeLessThanEndTime' | translate }}
              </small>
            </div>
          </div>

          <!-- <small class="validation-error" *ngIf="startTime.control.hasError('time')">{{"RequiredField" | translate}}</small> -->
        </div>

        <div class="ad-ab-to-date flex-1 max-w-5">
          <!--          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">{{ formValues.isRepeat ? ('Until' | translate) : ("EndTimeRequired" | translate) }} *</div>-->
          <div class="text-sm font-weight-medium dfm-text-main-700 dfm-mb-6">{{ 'Until' | translate }} *</div>

          <div class="d-flex align-items-start dfm-gap-16 flex-1">
            <div class="flex-1 d-flex flex-column">
              <div class="dfm-button-group-wrapper flex-1">
                <div class="input-as-dfm-input">
                  <input
                    class="w-full min-w-128"
                    formControlName="endedAt"
                    placeholder="{{ 'dateFormat' | translate }}"
                    ngbDatepicker
                    #endedAt="ngbDatepicker"
                    [minDate]="formValues.startedAt"
                    [required]="formValues.isRepeat"
                  />
                </div>

                <div>
                  <dfm-button-icon
                    color="tertiary-gray"
                    size="md"
                    icon="calendar-date"
                    ngbPopover="{{ 'Calendar' | translate }}"
                    triggers="mouseenter:mouseleave"
                    popoverClass="popover-p-8"
                    [openDelay]="200"
                    (click)="endedAt.toggle()"
                  ></dfm-button-icon>
                </div>
              </div>
              <small class="validation-error" *ngIf="absenceForm.get('endedAt')?.hasError('required') && absenceForm.get('endedAt')?.touched">
                {{ 'RequiredField' | translate }}
              </small>
            </div>
            <div class="flex-1">
              <div class="dfm-input-dropdown-wrapper-wo-label min-w-128 max-w-192">
                <dfm-input-dropdown
                  #endTime
                  [items]="endTimes"
                  [typeToSearch]="true"
                  [typeToSearchText]="endTime.value"
                  (searchInput)="handleTimeInput($event, 'endTime')"
                  [required]="formValues.isRepeat"
                  formControlName="endTime"
                  size="md"
                  placeholder="{{ 'hh:mm' | translate }}"
                >
                </dfm-input-dropdown>
              </div>
              <span class="validation-error" *ngIf="controls['endTime'].hasError('required') && controls['endTime'].touched">
                {{ 'RequiredField' | translate }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap ad-ab-radio-group">
        <div class="d-flex flex-column dfm-gap-16 flex-1 ad-ab-repeat-radio">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'Repeat' | translate }}</span>

          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button
              class="font-weight-normal"
              label="{{ 'AllDay' | translate }}"
              [checkedValue]="false"
              formControlName="isRepeat"
            ></dfm-radio-button>
            <dfm-radio-button
              class="font-weight-normal"
              label="{{ 'Repeat' | translate }}"
              [checkedValue]="true"
              formControlName="isRepeat"
            ></dfm-radio-button>
          </div>
        </div>

        <div class="d-flex flex-column dfm-gap-16 flex-1">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{ 'PublicHoliday' | translate }}</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button
              class="font-weight-normal"
              label="{{ 'Yes' | translate }}"
              [checkedValue]="true"
              formControlName="isHoliday"
            ></dfm-radio-button>
            <dfm-radio-button
              class="font-weight-normal"
              label="{{ 'No' | translate }}"
              [checkedValue]="false"
              formControlName="isHoliday"
            ></dfm-radio-button>
          </div>
        </div>
        <!--
                <div class="d-flex flex-column dfm-gap-16 flex-1">
                  <span
                    class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">Priority</span>
                  <div class="w-fit d-flex justify-content-between dfm-gap-24">
                    <dfm-radio-button class="font-weight-normal" label="High" [checkedValue]="priorityType.High"
                                      formControlName="priority"></dfm-radio-button>
                    <dfm-radio-button class="font-weight-normal" label="Medium" [checkedValue]="priorityType.Medium"
                                      formControlName="priority"></dfm-radio-button>
                    <dfm-radio-button class="font-weight-normal" label="Low" [checkedValue]="priorityType.Low"
                                      formControlName="priority"></dfm-radio-button>
                  </div>
                </div> -->
      </div>

      <ng-container *ngIf="formValues.isRepeat">
        <div class="d-flex dfm-gap-32 flex-wrap align-items-start ad-ab-repeat-form">
          <div class="flex-1">
            <div class="dfm-input-dropdown-wrapper ">
              <dfm-input-dropdown
                #repeatType
                [items]="repeatTypes"
                size="md"
                label="{{ 'RepeatType' | translate }} *"
                [required]="formValues.isRepeat"
                placeholder="{{ 'SelectRepeatType' | translate }} *"
                formControlName="repeatType"
                (select)="handleChange(repeatFrequency)"
              >
              </dfm-input-dropdown>
            </div>
            <span class="validation-error" *ngIf="controls['repeatType'].hasError('required') && controls['repeatType'].touched">
              {{ 'RequiredField' | translate }}</span
            >
          </div>
          <div class="flex-1">
            <div class="d-flex flex-column ">
              <dfm-input
                #repeatFrequency
                class="flex-1"
                formControlName="repeatFrequency"
                label="{{ 'RepeatEvery' | translate }} *"
                placeholder="{{ 'EnterRepeatCount' | translate }}"
                size="md"
                type="text"
                required
                [readonly]="!repeatType.value"
                (focusin)="handleFocusIn()"
                (focusout)="handleFocusOut()"
              >
              </dfm-input>
            </div>
            <span class="validation-error" *ngIf="controls['repeatFrequency'].hasError('required') && controls['repeatFrequency'].touched">
              {{ 'RequiredField' | translate }}</span
            >

            <small class="validation-error" *ngIf="repeatFrequency.control.hasError('min') && repeatFrequency.control.touched">{{
              'RepeatFrequency' | translate
            }}</small>
          </div>

          <div class="dfm-input-multi-dropdown-wrapper-mb-0 flex-1 ad-ab-repeat-every" *ngIf="repeatType.value && repeatType.value !== 'daily'">
            <dfm-input-dropdown
              #repeatEveryDropdown
              [items]="repeatType.value ? repeatEvery[repeatType.value] : null"
              [multiple]="true"
              placeholder="{{
                !!repeatEveryDropdown.value?.length ? repeatEveryDropdown.value.length + (' Selected' | translate) : ('SelectRepeatEvery' | translate)
              }}"
              size="md"
              label="{{ 'RepeatOn' | translate }} *"
              [required]="formValues.isRepeat && formValues.repeatType !== 'daily'"
              formControlName="repeatDays"
            >
            </dfm-input-dropdown>
          </div>
        </div>
      </ng-container>

      <div class="d-flex flex-wrap flex-1 gap" [ngClass]="{ 'dfm-mt-8': formValues.repeatDays?.length }" *ngIf="!formValues.isHoliday">
        <div class="dfm-input-multi-dropdown-wrapper-mb-0 flex-1 ad-ab-rooms" *ngIf="filteredRoomList$$ | async as roomList">
          <dfm-input-dropdown
            #roomDropdown
            [items]="roomList"
            [multiple]="true"
            [typeToSearch]="true"
            (searchInput)="handleDropdownSearch($event, 'room')"
            placeholder="{{
              !!roomDropdown.value?.length ? roomDropdown.value.length + ' ' + ('Selected' | translate) : ('SelectRooms' | translate)
            }}"
            size="md"
            formControlName="roomList"
            label="{{ 'Rooms' | translate }}"
          >
          </dfm-input-dropdown>
        </div>

        <div class="dfm-input-multi-dropdown-wrapper-mb-0 flex-1 ad-ab-staffs" *ngIf="filteredStaffs$$ | async as staffList">
          <dfm-input-dropdown
            #staffDropDown
            [items]="staffList"
            [multiple]="true"
            [typeToSearch]="true"
            (searchInput)="handleDropdownSearch($event, 'staff')"
            size="md"
            formControlName="userList"
            label="{{ 'Staff' | translate }}"
            placeholder="{{
              !!staffDropDown.value?.length ? staffDropDown.value.length + ' ' + ('Selected' | translate) : ('SelectStaff' | translate)
            }}"
          >
          </dfm-input-dropdown>
        </div>
        <div class="w-full" style="margin-top: -24px" *ngIf="isAbsenceStaffRoomInvalid | async">
          <small class="validation-error">Please select either Room or Staff for Absence</small>
        </div>
      </div>

      <div [ngClass]="{ 'dfm-mt-8': formValues.userList?.length || formValues.roomList?.length }">
        <dfm-text-area label="Info" placeholder="{{ 'EnterAbsenceInfo' | translate }}" formControlName="info"></dfm-text-area>
      </div>
      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter first name" label="First Name *" formControlName="firstname">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter last name" label="Last Name *" formControlName="lastname">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter email" label="Email *" formControlName="email">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter rizv no" label="Rizv Number *" formControlName="rizivNumber">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div class="d-flex dfm-gap-32 align-items-center flex-wrap">-->
      <!--        <dfm-input type="number" class="flex-1" size="md" placeholder="Enter telephone" label="Telephone *" formControlName="telephone">-->
      <!--        </dfm-input>-->

      <!--        <dfm-input class="flex-1" size="md" placeholder="Enter GSM" label="GSM *" formControlName="gsm">-->
      <!--        </dfm-input>-->
      <!--      </div>-->

      <!--      <div>-->
      <!--        <dfm-checkbox formControlName="notifyDoctor" label="Email the doctor if a patient makes an appointment that he has prescribed."></dfm-checkbox>-->
      <!--      </div>-->
    </form>
  </section>

  <section class="modal-footer ad-ab-footer-buttons">
    <dfm-button color="secondary" size="md" (click)="closeModal(false)">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="primary" size="md" [disabled]="(submitting$$ | async) === true" (click)="saveAbsence()">{{
      modalData?.edit ? ('SaveChanges' | translate) : ('AddAbsence' | translate)
    }}</dfm-button>
  </section>
</div>
