section.sf-vw-section2 {
  &>div {
    min-height: 256px;
    max-height: 256px;
    min-width: 256px;
  }
}

section.sf-vw-section3  {
  // sec is section
  // page height - top nav - content padding - sec1 height - sec gap - sec2 height - sec gap -extra space
  max-height: calc(100vh - 64px - 24px - 24px - 24px - 256px - 24px - 24px);
}

@media (max-width: 1440px) {
  section.sf-vw-section3 {
    max-height: calc(100vh - 36px - 24px - 24px - 24px - 256px - 24px - 24px);
  }

  section.sf-vw-section2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  section.sf-vw-section3 {
    max-height: calc(100vh - 36px - 24px - 24px - 24px - 256px - 24px - 24px - 65px);
  }
}

//git commit -m "confirm modal added, design fixes in staff pages, routing fixes, delete button fixed"

