section:first-child {
  max-height: 272px;
}

.table-wrapper  {
  // page height - top nav - content padding - section 1 height - row gap - sec2 top padding - sec2 header height - sec2 gap - sec2 bottom padding - extra space
  max-height: calc(100vh - 64px - 24px - 272px - 24px - 16px - 40px - 16px - 16px - 16px);
}
