<div class="d-flex flex-column dfm-gap-24 st-mg-main-wrapper" *ngIf="siteManagementData$$ | async as smData">
  <section class="content-section-1">
    <ng-container>
      <dfm-button
        class="st-mg-title-buttons"
        color="link"
        size="lg"
        routerLink="./"
      >{{'SiteManagement' | translate}}
      </dfm-button>

      <div class="d-flex dfm-gap-16 align-items-center st-mg-title-buttons">
        <!-- <dfm-button color="secondary" size="md">Cancel</dfm-button> -->
        <dfm-button color="primary" size="md" [disabled]="(submitting$$ | async) === true" (click)="saveSiteManagementData()">{{'SaveChanges' | translate}}</dfm-button>
      </div>
    </ng-container>

    <!--  Mobile View Elements -->
    <div class="hidden dfm-gap-8 align-items-center st-mg-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon
          color="tertiary-gray"
          size="sm"
          icon="chevron-left"
        >
        </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg">{{'SiteManagement' | translate}}</dfm-button>
    </div>
    <!--  Mobile View Elements End  -->
  </section>

  <section class="dfm-card dfm-p-16 st-mg-section2 add-page-content-height">
    <form [formGroup]="siteManagementForm" class="d-flex flex-column dfm-gap-24">
      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="flex-1">
          <dfm-input class="" size="md" placeholder="Enter site name" label="{{'SiteName' | translate}} *" formControlName="name">
          </dfm-input>
        </div>

        <div class="d-flex dfm-gap-24 dfm-ms-8 flex-1 st-mg-choose-file-container">
          <div class="d-flex flex-column dfm-gap-8">
            <span class="text-sm font-weight-medium dfm-text-main-700">{{'SiteLogo' | translate}}</span>

            <label class="input-type-file-primary-md">{{'ChooseFile' | translate}}
              <input #fileInput type="file" class="hidden" accept="image/*" (change)="$event.stopPropagation(); onFileChange($event)">
            </label>
          </div>

          <div class="position-relative d-flex align-items-center justify-content-center st-mg-logo-container dfm-top shadow-sm" *ngIf="siteManagementForm.get('file')?.value?.file">
            <img [src]="siteManagementForm.get('file')?.value?.file" class="h-100 w-full">
            <dfm-spinner *ngIf="formValues.file.loading"></dfm-spinner>
            <div style="width: 24px; height: 24px; top: -12px; right: -12px" class="h-fit position-absolute rounded-circle bg-white pointer shadow" (click)="fileInput.value = ''; removeFile()">
              <dfm-icon name="x-close"></dfm-icon>
            </div>
          </div>
        </div>

        <div class="flex-1 temp-elements"></div>
      </div>

      <div class="d-flex flex-column dfm-gap-8 flex-1">
        <span class="text-sm font-weight-medium dfm-text-main-700">{{'SiteIntroductionText' | translate}}</span>

        <div class="d-flex dfm-gap-32 flex-wrap st-mg-heading-subheading">
          <dfm-input class="flex-1" size="md" placeholder="{{'EnterHeading' | translate}}" formControlName="heading"></dfm-input>
          <dfm-input class="flex-1" size="md" placeholder="{{'EnterSubHeading' | translate}}" formControlName="subHeading"></dfm-input>
          <dfm-text-area class="flex-1 st-mg-body-text" placeholder="{{'EnterBodyText' | translate}}" formControlName="bodyText"></dfm-text-area>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="d-flex flex-column dfm-gap-16 flex-1">
          <span class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'DisableAppointmentBooking' | translate}} *</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="{{'Yes'| translate}}" [checkedValue]="true"
                              formControlName="disableAppointment"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="{{'No' | translate}}" [checkedValue]="false"
                              formControlName="disableAppointment"></dfm-radio-button>
          </div>

          <div *ngIf="formValues.disableAppointment" class="st-mg-warning-text flex-1">
            <dfm-input size="md" label="{{'WarningText' | translate}} *" placeholder="{{'EnterWarningText' | translate}}" [required]="formValues.disableAppointment"
                       formControlName="disableWarningText"></dfm-input>
          </div>
        </div>

        <div class="d-flex flex-column dfm-gap-16 flex-1">
          <span
            class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'DisableReferringDoctorconsent' | translate}}</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="{{'Yes' | translate}}" [checkedValue]="1"
                              formControlName="doctorReferringConsent"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="{{'No' | translate}}" [checkedValue]="0"
                              formControlName="doctorReferringConsent"></dfm-radio-button>
          </div>
        </div>

        <div class="d-flex flex-column dfm-gap-16 flex-1">
          <span
            class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'CombineSlots' | translate}} *</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="{{'Yes' | translate}}" [checkedValue]="true"
                              formControlName="isSlotsCombinable"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="{{'No' | translate}}" [checkedValue]="false"
                              formControlName="isSlotsCombinable"></dfm-radio-button>
          </div>
        </div>
      </div>

      <div class="d-flex dfm-gap-32 flex-wrap">
        <div class="d-flex flex-column dfm-gap-16 flex-1 w-full st-mg-appointment-cancellation">
          <span
            class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'ReminderMailDuration' | translate}} *</span>
          <div class="w-fit d-flex flex-1 justify-content-between dfm-gap-24">
            <dfm-input type="number" size="sm" formControlName="reminderTime"></dfm-input>
            <div class="dfm-input-dropdown-wrapper-wo-label st-mg-time-duration-type">
              <dfm-input-dropdown [items]="timeDurations" size="sm"
                                  formControlName="reminderTimeType"></dfm-input-dropdown>
            </div>
          </div>
        </div>


        <div class="d-flex flex-column dfm-gap-16 flex-1 w-full st-mg-appointment-cancellation">
          <span
            class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'AppointmentCancellationDuration' | translate}} *</span>
          <div class="w-fit d-flex flex-1 justify-content-between dfm-gap-24">
            <dfm-input type="number" size="sm" formControlName="cancelAppointmentTime"></dfm-input>
            <div class="dfm-input-dropdown-wrapper-wo-label st-mg-time-duration-type">
              <dfm-input-dropdown [items]="timeDurations" size="sm"
                                  formControlName="cancelAppointmentType"></dfm-input-dropdown>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column dfm-gap-16 flex-1">
          <span
            class="text-sm font-weight-medium dfm-text-main-700 text-nowrap">{{'AutoConfirmAppointment' | translate}} *</span>
          <div class="w-fit d-flex justify-content-between dfm-gap-24">
            <dfm-radio-button class="font-weight-normal" label="{{'Yes' | translate}}" [checkedValue]="true"
                              formControlName="isAppointmentAutoConfirm"></dfm-radio-button>
            <dfm-radio-button class="font-weight-normal" label="{{'No' | translate}}" [checkedValue]="false"
                              formControlName="isAppointmentAutoConfirm"></dfm-radio-button>
          </div>
        </div>
      </div>


      <div class="d-flex dfm-gap-32 flex-wrap st-mg-contact-info">
        <div class="d-flex flex-1 flex-column">
          <dfm-input class="flex-1" size="md" placeholder="{{'EnterEmail' | translate}}" label="{{'Email' | translate}}" formControlName="email" (focusout)="handleEmailInput($event)"></dfm-input>
          <small *ngIf="siteManagementForm.get('email')?.hasError('email')" class="validation-error">Email is
            Invalid.</small>
        </div>
        <dfm-input #phone [dfmNumberInput]="phone" class="flex-1" size="md" placeholder="{{'EnterTelephone' | translate}}" label="{{'Telephone' | translate}} *"
                   formControlName="telephone">
        </dfm-input>
        <dfm-text-area class="flex-1" label="{{'Address' | translate}} *" placeholder="{{'EnterAddress' | translate}}" formControlName="address"></dfm-text-area>
      </div>

      <dfm-button class="hidden st-mg-save-changes-btn-mv" color="primary" size="md" [disabled]="(submitting$$ | async) === true" (click)="saveSiteManagementData()">{{'SaveChanges'| translate}}</dfm-button>
    </form>
  </section>

</div>
