<div class="d-flex flex-column dfm-gap-24">
  <section class="content-section-1">
    <div class="d-flex dfm-gap-8 align-items-center dfm-text-primary ad-sf-title-buttons">
      <dfm-button color="link" size="lg" routerLink="/staff">{{"Staff" | translate}}</dfm-button>

      <div style="width: 16px; height: 16px" class="h-fit">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>

      <div class="d-flex align-items-center dfm-gap-8" *ngIf="comingFromRoute === 'view' && staffID">
        <dfm-button color="link" size="lg" [routerLink]="['../', 'view']">{{"View" | translate}}</dfm-button>

        <div style="width: 16px; height: 16px" class="h-fit">
          <dfm-icon name="chevron-right"></dfm-icon>
        </div>
      </div>

      <dfm-button color="link-gray" size="lg">{{ comingFromRoute ? ('Edit' |translate) : ('Add' | translate) }} </dfm-button>
    </div>

    <div class="dfm-gap-16 ad-sf-action-buttons">
      <dfm-button color="secondary" size="md" [routerLink]="[comingFromRoute === 'view' ? '../view' : '/staff']">
        {{"Cancel" | translate}}
      </dfm-button>
      <dfm-button [disabled]="(submitting$$ | async) === true" color="primary" size="md" class="text-nowrap"
                  (click)="saveStaff()"
      >{{ comingFromRoute ? ('SaveChanges' | translate) : ('AddStaff' | translate) }}
      </dfm-button>
    </div>

    <!--  Mobile View  -->
    <div class="hidden dfm-gap-8 align-items-center ad-sf-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon color="tertiary-gray" size="sm" icon="chevron-left"
                         [routerLink]="comingFromRoute === 'view' ? '../view' : '/staff'">
        </dfm-button-icon>
      </div>

      <dfm-button color="link" size="lg" routerLink="./"> {{ edit ? ('EditStaff' |translate) : ('AddStaff' | translate ) }} </dfm-button>
    </div>
    <!--  **  -->
  </section>

  <section class="dfm-card ad-sf-section2 add-page-content-height">
    <form [formGroup]="addStaffForm" class="dfm-p-16 d-flex flex-column dfm-gap-32"
          *ngIf="(loading$$ | async) === false">
      <div class="d-flex flex-column dfm-gap-16 ad-sf-form-general-info">
        <div class="d-flex dfm-gap-16 flex-wrap">
          <dfm-input #firstname [dfmNameInput]="firstname" size="md" placeholder="{{'EnterFirstName' | translate}}" label="{{'FirstName' | translate}} *"
                     formControlName="firstname"></dfm-input>

          <dfm-input #lastname [dfmNameInput]="lastname" size="md" placeholder="{{'EnterLastName' | translate}}" label="{{'LastName' | translate}} *"
                     formControlName="lastname"></dfm-input>
        </div>

        <div class="d-flex dfm-gap-16 flex-wrap">
          <div class="d-flex flex-column ad-sf-email">
            <dfm-input type="email" size="md" placeholder="{{'EnterEmail' | translate}}" label="{{'Email' | translate}} *" formControlName="email"
                       class="flex-1" (focusout)="handleEmailInput($event)"></dfm-input>
            <small *ngIf="addStaffForm.get('email')?.hasError('email')" class="validation-error">{{"InvalidEmail" | translate}}
              </small>
          </div>

          <dfm-input #phone [dfmNumberInput]="phone" type="number" size="md" placeholder="{{'EnterTelephone' | translate}}" label="{{'Telephone' | translate}}"
                     formControlName="telephone"></dfm-input>
        </div>

        <div *ngIf="staffTypes$$ | async as staffTypes" class="ad-sf-staff-dropdown">
          <div class="dfm-input-dropdown-wrapper">
            <dfm-input-dropdown
              #examsDropdown
              size="md"
              #dropdown
              placeholder="{{'SelectStaffType'| translate}}"
              label="{{'StaffType' | translate}}*"
              [items]="staffTypes"
              formControlName="userType"
            >
            </dfm-input-dropdown>
          </div>
        </div>

        <div *ngIf="exams$$ | async as exams"
             class="position-relative dfm-input-multi-dropdown-wrapper ad-sf-exam-dropdown">
          <dfm-input-dropdown
            #examsDropdown
            size="md"
            [multiple]="true"
            #dropdown
            [placeholder]="!!examsDropdown.value?.length ? examsDropdown.value.length + ' Selected' : 'ExamInvolvingStaff'| translate"
            label="{{'Exams' | translate}}"
            [items]="exams"
            formControlName="examList"
          >
          </dfm-input-dropdown>
          <!--        <span *ngIf="!!examsDropdown.value?.length"-->
          <!--              class="studies-dropdown-text text-sm font-weight-medium text-center">-->
          <!--          {{ examsDropdown.value?.length }} Selected-->
          <!--        </span>-->
        </div>

        <dfm-text-area size="md" placeholder="{{'EnterInfo' | translate}}" label="{{'Info' | translate}}" class="ad-sf-info-input"
                       formControlName="info"></dfm-text-area>
      </div>

      <div class="d-flex flex-column dfm-gap-16">
        <div class="d-flex flex-column dfm-gap-8">
          <span class="text-md font-weight-semi-bold">{{"AddPracticeData" | translate}}</span>

          <div class="w-fit">
            <dfm-radio-button
              label="{{'Always' | translate}}"
              hint="{{'Openinghoursofthepractice' | translate}}"
              size="sm"
              [checkedValue]="false"
              formControlName="practiceAvailabilityToggle"
              (change)="handleRadioButtonChange(false)"
            ></dfm-radio-button>

            <dfm-radio-button
              label="{{'GetDetailed' | translate}}"
              hint="{{'OnlyForException' | translate}}"
              size="sm"
              formControlName="practiceAvailabilityToggle"
              [checkedValue]="true"
              (change)="handleRadioButtonChange(true)"
            ></dfm-radio-button>
          </div>
        </div>

        <div *ngIf="formValues.practiceAvailabilityToggle" class="d-flex flex-column dfm-gap-24">
          <div class="d-flex flex-column dfm-gap-8">
            <span class="text-sm font-weight-semi-bold">{{"ChooseDay" | translate}}</span>

            <div class="d-flex dfm-gap-16 weekday-header ad-sf-weekdays-tab hide-scrollbar">
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.ALL)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.ALL)"
              >{{"ViewAll" | translate | uppercase}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.MON)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.MON)">{{"MON" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.TUE)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.TUE)">{{"TUE" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.WED)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.WED)">{{"WED" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.THU)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.THU)">{{"THU" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.FRI)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.FRI)">{{"FRI" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.SAT)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.SAT)">{{"SAT" | translate}}
              </dfm-badge>
              <dfm-badge size="sm" [color]="getBadgeColor(weekdayEnum.SUN)" class="pointer"
                         (click)="selectWeekday(weekdayEnum.SUN)">{{"SUN" | translate}}
              </dfm-badge>
            </div>
          </div>

          <div formGroupName="practiceAvailability"
               class="d-flex dfm-gap-32 flex-wrap">
            <div class="d-flex flex-column dfm-gap-24"
                 *ngIf="[1, 2, 3, 4].includes(formValues.selectedWeekday) || formValues.selectedWeekday === weekdayEnum.ALL">
              <div *ngFor="let controlArray of practiceAvailabilityWeekWiseControlsArray(false, 1)"
                   class="d-flex flex-column dfm-gap-32">
                <div [formArrayName]="getFormArrayName(controlArray)"
                     *ngIf="[1,2,3,4].includes(getFormArrayName(controlArray))"
                     class="d-flex flex-column dfm-gap-16 flex-1">
              <span
                class="text-sm font-weight-semi-bold w-fit">{{ getFormArrayName(controlArray) | weekdayToName | translate }}</span>

                  <div [formGroupName]="i" *ngFor="let controls of controlArray.controls; let i = index;"
                       class="d-flex flex-column dfm-gap-16 flex-1 min-w-128">
                    <div class="d-flex flex-column w-full">
                      <div class="d-flex dfm-gap-16 align-items-start flex-1">
                        <div class="d-flex flex-column w-full">
                          <div
                            class="dfm-input-dropdown-wrapper dfm-dropdown-input-pr-10 flex-1 ad-sf-time-dropdown min-w-128">
                            <dfm-input-dropdown #start
                                                [items]="controls?.get('startTimings')?.value"
                                                [typeToSearch]="true"
                                                [typeToSearchText]="start.value"
                                                (searchInput)="handleTimeInput($event, controls?.get('dayStart'), controls?.get('startTimings'))"
                                                (focusout)="handleTimeFocusOut(start.search, controls?.get('dayStart'))"
                                                label="{{'StartTime' | translate}}"
                                                formControlName="dayStart"
                                                size="md"
                                                placeholder="{{'HH:MM' | translate}}">
                            </dfm-input-dropdown>
                          </div>

                          <small class="validation-error" *ngIf="controls.get('dayStart')?.hasError(invalidTimeError)">{{"InvalidTime" | translate}} .</small>
                        </div>


                        <div class="d-flex flex-column w-full">
                          <div
                            class="dfm-input-dropdown-wrapper dfm-dropdown-input-pr-10 flex-1 ad-sf-time-dropdown min-w-128">
                            <dfm-input-dropdown #end
                                                [items]="controls?.get('endTimings')?.value"
                                                [typeToSearch]="true"
                                                [typeToSearchText]="end.value"
                                                (searchInput)="handleTimeInput($event, controls?.get('dayEnd'), controls?.get('endTimings'))"
                                                (focusout)="handleTimeFocusOut(end.search, controls?.get('dayEnd'))"
                                                label="{{'EndTime' | translate}}"
                                                formControlName="dayEnd"
                                                size="md"
                                                placeholder="{{'HH:MM' | translate}}">
                            </dfm-input-dropdown>
                          </div>

                          <small class="validation-error" *ngIf="controls.get('dayEnd')?.hasError(invalidTimeError)">Invalid
                            Time.</small>
                        </div>

                        <div class="dfm-mt-32">
                          <dfm-button-icon *ngIf="controlArray.length > 1" size="sm" icon="trash-01" color="tertiary"
                                           (click)="removeSlot(controlArray, i)"></dfm-button-icon>
                        </div>
                      </div>

                      <small class="validation-error"
                             *ngIf="controls.get('dayStart')?.hasError(invalidSlotRangeError) || controls.get('dayEnd')?.hasError(invalidSlotRangeError)">
                        Start time should be smaller than End time.
                      </small>

                      <small class="validation-error"
                             *ngIf="controls.get('dayStart')?.hasError(slotExistsError) || controls.get('dayEnd')?.hasError(slotExistsError)">
                        Slot overlaps other slots.
                      </small>
                    </div>
                  </div>

                  <div class="d-flex align-items-center dfm-gap-8 pointer w-fit" (click)="addSlot(controlArray)">
                    <div class="dfm-bg-primary rounded-circle text-white text-center icon-24">&plus;</div>
                    <span class="text-sm dfm-text-main-600">{{"ClickToAddSlot" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column dfm-gap-24"
                 *ngIf="[5, 6, 0].includes(formValues.selectedWeekday) || formValues.selectedWeekday === weekdayEnum.ALL">
              <div *ngFor="let controlArray of practiceAvailabilityWeekWiseControlsArray(false, 2)"
                   class="d-flex flex-column dfm-gap-32">
                <div [formArrayName]="getFormArrayName(controlArray)"
                     *ngIf="[0, 5, 6].includes(getFormArrayName(controlArray))"
                     class="d-flex flex-column dfm-gap-16 flex-1">
                  <span class="text-sm font-weight-semi-bold w-fit">
                    {{ getFormArrayName(controlArray) | weekdayToName | translate }}
                  </span>

                  <div [formGroupName]="i" *ngFor="let controls of controlArray.controls; let i = index;"
                       class="d-flex flex-column dfm-gap-16 flex-1 min-w-128">
                    <div class="d-flex flex-column flex-1 w-full">
                      <div class="d-flex dfm-gap-16 align-items-start flex-1">
                        <div class="d-flex flex-column w-full">
                          <div
                            class="dfm-input-dropdown-wrapper dfm-dropdown-input-pr-10 flex-1 ad-sf-time-dropdown min-w-128">
                            <dfm-input-dropdown #start
                                                [items]="controls?.get('startTimings')?.value"
                                                [typeToSearch]="true"
                                                [typeToSearchText]="start.value"
                                                (searchInput)="handleTimeInput($event, controls?.get('dayStart'), controls?.get('startTimings'))"
                                                (focusout)="handleTimeFocusOut(start.search, controls?.get('dayStart'))"
                                                label="{{'StartTime' | translate}}"
                                                formControlName="dayStart"
                                                size="md"
                                                placeholder="{{'HH:MM' | translate}}">
                            </dfm-input-dropdown>
                          </div>

                          <small class="validation-error" *ngIf="controls.get('dayStart')?.hasError(invalidTimeError)">Invalid
                            Time.</small>
                        </div>

                        <div class="d-flex flex-column w-full">
                          <div
                            class="dfm-input-dropdown-wrapper dfm-dropdown-input-pr-10 flex-1 ad-sf-time-dropdown min-w-128">
                            <dfm-input-dropdown #end
                                                [items]="controls?.get('endTimings')?.value"
                                                [typeToSearch]="true"
                                                [typeToSearchText]="end.value"
                                                (searchInput)="handleTimeInput($event, controls?.get('dayEnd'), controls?.get('endTimings'))"
                                                (focusout)="handleTimeFocusOut(end.search, controls?.get('dayEnd'))"
                                                label="{{'EndTime' | translate}}"
                                                formControlName="dayEnd"
                                                size="md"
                                                placeholder="{{'HH:MM' | translate}}">
                            </dfm-input-dropdown>
                          </div>

                          <small class="validation-error" *ngIf="controls.get('dayEnd')?.hasError(invalidTimeError)">Invalid
                            Time.</small>
                        </div>

                        <div class="dfm-mt-32">
                          <dfm-button-icon *ngIf="controlArray.length > 1" size="sm" icon="trash-01" color="tertiary"
                                           (click)="removeSlot(controlArray, i)"></dfm-button-icon>
                        </div>
                      </div>

                      <small class="validation-error"
                             *ngIf="controls.get('dayStart')?.hasError(invalidSlotRangeError) || controls.get('dayEnd')?.hasError(invalidSlotRangeError)">
                        Start time should be smaller than End time.
                      </small>

                      <small class="validation-error"
                             *ngIf="controls.get('dayStart')?.hasError(slotExistsError) || controls.get('dayEnd')?.hasError(slotExistsError)">
                        {{"SlotOverlapsOtherSlots" | translate}}
                      </small>
                    </div>
                  </div>

                  <div class="d-flex align-items-center dfm-gap-8 pointer w-fit" (click)="addSlot(controlArray)">
                    <div class="dfm-bg-primary rounded-circle text-white text-center icon-24">&plus;</div>
                    <span class="text-sm dfm-text-main-600">{{"ClickToAddSlot" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
