.ad-sf-action-buttons {
  display: flex;
}

section.ad-sf-section2 {
  .ad-sf-staff-dropdown, .ad-sf-exam-dropdown {
    max-width: 504px;
  }

  .ad-sf-info-input {
    max-width: 70%;
  }

  .ad-sfd-practice-availability-form-fields {
    //max-height: 672px;
    flex-wrap: wrap;
  }

  .ad-sf-time-dropdown {
    min-width: 96px;
  }
}

@media (max-width: 720px) {
  .ad-sfd-practice-availability-form-fields {
    max-height: 100% !important;
    flex-wrap: nowrap !important;
  }
}

@media (max-width: 680px) {
  .ad-sf-email {
    flex: 1;
  }

  .ad-sf-title-buttons {
    display: none !important;
  }

  .ad-sf-title-buttons-mv {
    display: flex;
  }

  .ad-sf-action-buttons {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    column-gap: 16px;
    padding: 15px 16px 20px;
    display: flex;
    align-items: center;
    z-index: 10000;

    &>dfm-button {
      height: 44px;
      flex: 1;
    }
  }

  section.ad-sf-section2 {
    box-shadow: none;
    background: transparent;
    padding: 0;
    border-radius: 0%;

    &::-webkit-scrollbar {
      display: none;
    }

    .ad-sf-staff-dropdown, .ad-sf-exam-dropdown, .ad-sf-info-input, dfm-input {
      flex: 1;
      max-width: 100%;
      min-width: 100%;
    }

    form {
      padding: 0;
    }

    .ad-sf-weekdays-tab {
      overflow-x: auto;
    }
  }
}
