<div class="d-flex flex-column dfm-gap-16 position-relative ap-ls-main-wrapper">
  <button  mat-mini-fab color="primary" *ngIf="(calendarView$$ | async) === false" class="refresh-btn" (click)="onRefresh()">
    <mat-icon>refresh</mat-icon>
  </button>
  <section>
    <div class="d-flex align-items-center dfm-gap-16 flex-1 ap-li-section-1" *ngIf="(calendarView$$ | async) === false">
      <dfm-button class="hidden ap-li-title-buttons" color="link" size="lg" routerLink="./">{{ 'Appointment' | translate }} </dfm-button>

      <dfm-input
        class="flex-1 ap-li-search"
        size="md"
        placeholder="{{ 'SearchbyPatientnameappointmentnoanddoctor' | translate }}"
        icon="search-sm"
        [formControl]="searchControl"
      ></dfm-input>

      <div class="d-flex align-items-center dfm-button-group-wrapper ap-li-button-dropdown-group bg-white">
        <div class="dfm-button-icon-bg-transparent" [cdkCopyToClipboard]="clipboardData">
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="copy-03"
            ngbPopover="{{ 'ClickToCopy' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="copyToClipboard()"
          ></dfm-button-icon>
        </div>

        <div class="dfm-dropdown-placeholder-text-primary dfm-dropdown-border-none dfm-dropdown-bg-transparent max-w-192">
          <dfm-input-dropdown
            [items]="downloadItems"
            [showDescription]="false"
            [formControl]="downloadDropdownControl"
            placeholder="{{ 'Download' | translate }}"
            size="md"
          ></dfm-input-dropdown>
        </div>

        <!-- <div class="dfm-button-icon-bg-transparent">
          <dfm-button-icon color="tertiary-gray" size="md" icon="calendar-date" (click)="toggleView()"></dfm-button-icon>
        </div> --> <!--Calendar Button removed, Actually it was attached with Copy and Downlaod Button-->
      </div>

      <div class="d-flex dfm-gap-8 align-items-center">
        <div class="">
          <dfm-button-icon
            color="secondary-gray"
            size="md"
            icon="calendar-date"
            ngbPopover="{{ 'Calendar' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="toggleView()"
          ></dfm-button-icon>
        </div>

        <dfm-button color="primary" size="md" *dfmPermitted="Permission.CreateAppointments" class="text-nowrap" [disabled]="false" routerLink="./add"
          >{{ 'AddAppointment' | translate }}
        </dfm-button>
      </div>
    </div>

    <ng-container *ngIf="calendarView$$ | async">
      <div class="d-flex dfm-gap-8 align-items-center justify-content-between">
        <div>
        <dfm-button class="ap-li-title-buttons" color="link" size="lg" routerLink="./">{{ 'Appointment' | translate }} </dfm-button>
      </div>
        <div class="d-flex dfm-gap-8">
          <dfm-button-icon
            color="secondary-gray"
            size="md"
            icon="list"
            ngbPopover="{{ 'ListView' | translate }}"
            triggers="mouseenter:mouseleave"
            popoverClass="popover-p-8"
            [openDelay]="200"
            (click)="toggleView()"
          ></dfm-button-icon>


        <dfm-button color="primary" size="md" *dfmPermitted="Permission.CreateAppointments" class="text-nowrap header-buttons" [disabled]="false" routerLink="./add"
          >{{ 'AddAppointment' | translate }}
        </dfm-button>


        <dfm-button color="primary" size="md" *dfmPermitted="Permission.CreateAppointments" class="add-app-btn-mv hidden" [disabled]="false" routerLink="./add"
          >{{ 'Add' | translate }}
        </dfm-button>
      </div>
    </div>
    </ng-container>
  </section>

  <dfm-input
    *ngIf="(calendarView$$ | async) === false"
    class="flex-1 ap-li-search-mv hidden"
    size="md"
    placeholder="{{ 'SearchbyPatientnameappointmentnoanddoctor' | translate }}"
    icon="search-sm"
    [formControl]="searchControl"
  ></dfm-input>

  <section
    class="overflow-y-auto list-page-content-height"
    [ngClass]="{ 'list-page-content-height-calendar': (calendarView$$ | async) }"
    *ngIf="filteredAppointments$$ | async as appointments"
  >
    <ng-container *ngIf="(calendarView$$ | async) === false">
      <dfm-table
        [items]="appointments"
        [selectable]="permissionSvc.isNotReader"
        (selected)="handleCheckboxSelection($event)"
        [clearSelected$]="clearSelected$$"
        [rowClickable]="true"
        (rowClicked)="navigateToView($event)"
        class="dfm-table-wrapper"
      >
        <ng-template #headerRowTemplate>
          <dfm-table-header-cell *ngFor="let column of columns">{{ column | translate }}</dfm-table-header-cell>
        </ng-template>

        <ng-template #bodyRowTemplate let-item>
          <dfm-table-body-cell>{{ item?.exams.length ? (item.startedAt | dfmUtcToLocal | dfmDefaultDate  | dashIfNothing) : '' | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>{{ item?.exams.length ? (item.endedAt | dfmUtcToLocal | dfmDefaultDate  | dashIfNothing) : '' | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>
            <div class="text-truncate">{{ item?.patientFname | titlecase  }} {{ item?.patientLname | titlecase }}</div>
          </dfm-table-body-cell>
          <dfm-table-body-cell>{{ item?.exams | joinWithAnd : 'name'  | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>
            <div class="text-truncate">
              {{ item?.doctor | titlecase | dashIfNothing }}
            </div>
          </dfm-table-body-cell>
          <!-- <dfm-table-body-cell>
            <div class="text-truncate">
              {{ item?.exam?.name  | titlecase }}
            </div>
          </dfm-table-body-cell> -->
          <dfm-table-body-cell>{{ item.id | dashIfNothing }}</dfm-table-body-cell>
          <dfm-table-body-cell>{{ item?.createdAt | dfmUtcToLocal | dfmDefaultDate | dashIfNothing }}</dfm-table-body-cell>

          <!-- <dfm-table-body-cell>
            <span>{{ item.readStatus === readStatus.Read ? 'Yes' : 'No' }}</span>
          </dfm-table-body-cell> -->

          <dfm-table-body-cell>
            <dfm-badge *ngIf="item.approval === statusType.Approved" color="success" size="sm" fontWeight="medium">
              {{ item.approval | approvalTypeName | dashIfNothing | translate }}
            </dfm-badge>

            <dfm-badge *ngIf="item.approval === statusType.Cancelled" color="primary" size="sm">
              {{ item.approval | approvalTypeName | dashIfNothing | translate }}
            </dfm-badge>

            <dfm-badge *ngIf="item.approval === statusType.Pending" color="gray" size="sm">
              {{ item.approval | approvalTypeName | dashIfNothing | translate}}
            </dfm-badge>
          </dfm-table-body-cell>

          <dfm-table-body-cell *dfmPermitted="[Permission.DeleteAppointments, Permission.UpdateAppointments]">
            <div class="d-flex dfm-gap-16 align-items-center ap-li-action-buttons">
              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="pencil-02"
                ngbPopover="{{ 'Edit' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation()"
                [routerLink]="['./', item.id, 'edit']"
                [state]="{ comingFromRoute: 'appointment', edit: true }"
                *dfmPermitted="Permission.UpdateAppointments"
              ></dfm-button>

              <dfm-button
                color="link-gray"
                size="sm"
                trailingIcon="trash-01"
                ngbPopover="{{ 'Delete' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverClass="popover-p-8"
                [openDelay]="200"
                (click)="$event.stopPropagation(); deleteAppointment(item.id)"
                *dfmPermitted="Permission.DeleteAppointments"
              ></dfm-button>
            </div>

            <!-- Action Menu -->
            <dfm-button
              [ngbPopover]="actionMenu"
              autoClose="autoClose"
              triggers="click"
              container="body"
              placement="left"
              popoverClass="popover-p-0"
              class="hidden ap-li-vertical-dots-btn"
              color="link-gray"
              size="sm"
              trailingIcon="dots-vertical"
              (click)="$event.stopPropagation(); toggleMenu(true)"
            ></dfm-button>

            <ng-template #actionMenu>
              <div class="ap-li-menus" aria-labelledby="dropdownManual">
                <div
                  (click)="$event.stopPropagation()"
                  [routerLink]="['./', item.id, 'edit']"
                  [state]="{ comingFromRoute: 'appointment', edit: true }"
                  ngbPopover="{{ 'Edit' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  *dfmPermitted="Permission.UpdateAppointments"
                >
                  <dfm-button
                    trailingIcon="pencil-02"
                    ngbPopover="{{ 'Edit' | translate }}"
                    triggers="mouseenter:mouseleave"
                    popoverClass="popover-p-8"
                    [openDelay]="200"
                    color="link-gray"
                  ></dfm-button>
                </div>

                <div
                  (click)="$event.stopPropagation(); deleteAppointment(item.id)"
                  ngbPopover="{{ 'Delete' | translate }}"
                  triggers="mouseenter:mouseleave"
                  popoverClass="popover-p-8"
                  [openDelay]="200"
                  *dfmPermitted="Permission.DeleteAppointments"
                >
                  <dfm-button
                    trailingIcon="trash-01"
                    ngbPopover="{{ 'Delete' | translate }}"
                    triggers="mouseenter:mouseleave"
                    popoverClass="popover-p-8"
                    [openDelay]="200"
                    color="link-gray"
                  ></dfm-button>
                </div>
              </div>
            </ng-template>
          </dfm-table-body-cell>
        </ng-template>
      </dfm-table>
      <div class="d-flex justify-content-center dfm-p-16 dfm-mx-2 bg-white rounded-bottom" *ngIf="!appointments.length">
        {{ 'NoAppointmentsFound' | translate }}
      </div>
    </ng-container>

    <ng-container *ngIf="calendarView$$ | async">
      <dfm-appointment-calendar class="h-100" [appointmentData$$]="appointments$$"> </dfm-appointment-calendar>
    </ng-container>
  </section>

  <!--  <div ngbDropdown #optionsMenu="ngbDropdown">-->
  <!--    <div class="shadow-lg ap-li-plus-btn-menu ap-li-menus" ngbDropdownMenu aria-labelledby="dropdownManual">-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); openSearchModal()">-->
  <!--        <dfm-button trailingIcon="search-sm" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="copy-03" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--      <div ngbDropdownItem (click)="$event.stopPropagation(); toggleMenu()">-->
  <!--        <dfm-button trailingIcon="download-01" color="link-gray"></dfm-button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <dfm-button color="secondary" size="md" class="hidden shadow-lg ap-li-plus-btn rounded-2"-->
  <!--              (click)="$event.stopPropagation(); optionsMenu.open(); toggleMenu()">-->
  <!--    <dfm-icon #showMoreButtonIcon name="plus" class="ap-li-plus-btn-icon rotate-z-0 position-absolute"></dfm-icon>-->
  <!--  </dfm-button>-->
</div>

<dfm-confirm-status-change-banner
  [display]="selectedAppointmentIDs.length"
  [statusType]="'appointment'"
  (confirmationEvent)="handleConfirmation($event)"
></dfm-confirm-status-change-banner>
