.ap-li-button-dropdown-group {
  background: transparent;
}

.refresh-btn {
  position: fixed;
  bottom: 18px;
  left: 18px;
  z-index: 9;
  
    @media (max-width: 680px) {
      bottom: 64px;
    }
}
@media (max-width: 680px) {
  .ap-ls-main-wrapper {
    padding: 0;
  }

  .ap-li-section-1 {
    justify-content: space-between;
  }

  .ap-li-search, .ap-li-button-dropdown-group, .header-buttons {
    display: none !important;
  }

  .ap-li-title-buttons, .ap-li-search-mv, .ap-li-plus-btn {
    display: block;
  }

  .add-app-btn-mv {
    display: flex;
  }

  .ap-li-plus-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    height: 44px;
    width: 44px;
  }

  .ap-li-menus {
    min-width: fit-content !important;
    max-width: 44px;
    border: none;
    border-radius: 12px;
    flex-direction: column;
    padding: 2px;

    div + div {
      border-top: 1px solid var(--dfm-main-200);
    }

    div {
      padding: 8px;
    }
  }

  .ap-li-plus-btn-menu {
    position: fixed;
    bottom: 144px;
    right: 28px;
  }

  .ap-li-action-buttons-menu {
    right: 28px;
    top: -48px;
  }

  .ap-li-action-buttons {
    display: none !important;
  }

  .ap-li-vertical-dots-btn {
    display: block;
  }

  .menu-point-forward {
    position: absolute;
    background: white;
    transform: rotateZ(45deg);
    right: -8px;
    bottom: -8px;
    border-radius: 4px;
  }
}

