.pr-hr-main-wrapper {
  transition: all ease 200ms;

  .pr-hr-section2 {
    // viewport - nav - padding - sec1 height - sec gap - extra
    max-height: calc(100vh - 48px - 24px - 40px - 16px - 16px);
    min-height: 512px;
    overflow-y: auto;
  }

  .pr-hr-form-fields {
    max-height: 800px;
    flex-wrap: wrap;
    transition: 150ms all linear;
  }
}

@media (max-width: 1440px) {
  .pr-hr-section2 {
    max-height: calc(100vh - 36px - 24px - 40px - 16px);
  }
}

@media (max-width: 1240px) {
  .pr-hr-form-fields {
    max-height: 100% !important;
    flex-wrap: nowrap !important;
  }

  .pr-hr-time-dropdown {
    transition: 150ms all linear;
    max-width: fit-content;
  }
}

//@media (max-width: 720px) {
//  .pr-hr-form-fields {
//    max-height: 100% !important;
//    flex-wrap: nowrap !important;
//  }
//}

@media (max-width: 680px) {
  .pr-hr-main-wrapper {
    max-height: calc(100vh - 38px - 24px - 36px - 16px - 16px - 20px);

    .pr-hr-title-buttons-mv {
      display: flex;
      margin-bottom: 8px;
    }

    .pr-hr-title-buttons {
      display: none !important;
    }

    .pr-hr-section2 {
      background: transparent;
      padding: 0;
      box-shadow: none;
      border-radius: 0;

      .pr-hr-weekdays-tab {
        overflow-x: scroll !important;
      }
    }

    .pr-hr-save-changes-btn-mv {
      display: flex;
      margin-left: auto;
    }
  }
}
