<div class="d-flex flex-column dfm-gap-24 pr-hr-main-wrapper">
  <section class="content-section-1">
    <ng-container>
      <dfm-button
        class="pr-hr-title-buttons"
        color="link"
        size="lg"
        routerLink="./"
      >{{'PracticeHours' | translate}}
      </dfm-button>

      <dfm-button color="primary" size="md" (click)="savePracticeHours()" class="pr-hr-title-buttons"
                  [disabled]="(submitting$$ | async) === true">{{'SaveChanges' | translate}}
      </dfm-button>
    </ng-container>

    <!--  Mobile view  -->
    <div class="hidden dfm-gap-8 align-items-center justify-content-between pr-hr-title-buttons-mv w-full">
      <div class="d-flex dfm-gap-8 align-items-center">
        <div class="rounded-circle overflow-hidden">
          <dfm-button-icon
            color="tertiary-gray"
            size="sm"
            icon="chevron-left"
          >
          </dfm-button-icon>
        </div>

        <dfm-button color="link" size="lg">{{'PracticeHours' | translate}}</dfm-button>
      </div>

      <dfm-button color="primary" size="sm" (click)="savePracticeHours()"
                  [disabled]="(submitting$$ | async) === true">{{'Save' | translate}}
      </dfm-button>
    </div>
    <!--    -->
  </section>

  <section class="dfm-card dfm-p-24 add-page-content-height pr-hr-section2">
    <dfm-time-slots
      [timeSlotData$$]="practiceHoursData$$"
      [emitEvents$$]="emitEvents$$"
      (formValuesEvent)="saveForm($event)"
    ></dfm-time-slots>
  </section>
</div>
