.pr-hr-main-wrapper {
  transition: all ease 200ms;

  .pr-hr-section2 {
    // viewport - nav - padding - sec1 height - sec gap - extra
    max-height: calc(100dvh - 64px - 40px - 16px - 48px);
    min-height: 512px;
    overflow-y: auto;
  }

  .pr-hr-form-fields {
    row-gap: 32px;
    transition: 150ms all linear;
  }

  .pr-hr-time-dropdown {
    transition: 150ms all linear;
    max-width: fit-content;
  }
}

@media (max-width: 1440px) {
  .pr-hr-section2 {
    max-height: calc(100dvh - 46px - 48px - 16px - 40px) !important;
  }
}

@media (max-width: 1240px) {
  .pr-hr-form-fields {
  }
}

@media (max-width: 960px) {
  .pr-hr-section2 {
    max-height: calc(100dvh - 36px - 56px - 48px - 40px - 16px) !important;
  }
}

@media (max-width: 680px) {
  .pr-hr-main-wrapper {

    .pr-hr-title-buttons-mv {
      display: flex;
      margin-bottom: 8px;
      margin-left: 8px;
    }

    .pr-hr-title-buttons {
      display: none !important;
    }

    .pr-hr-section2 {
      max-height: calc(100dvh - 36px - 56px - 48px - 44px - 16px) !important;
      background: transparent;
      padding: 0;
      box-shadow: none;
      border-radius: 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .pr-hr-weekdays-tab {
        overflow-x: scroll !important;
      }
    }

    .pr-hr-save-changes-btn-mv {
      display: flex;
      margin-left: auto;
    }
  }
}
