<div *ngIf="absenceDetails$$ | async as absenceDetails"
     class="d-flex flex-column dfm-gap-24 dfm-px-8 ab-vw-main-wrapper">
  <section class="d-flex align-items-center justify-content-between dfm-gap-16 ab-vw-section1">
    <div class="d-flex dfm-gap-8 align-items-center dfm-text-primary ab-vw-title-buttons">
      <dfm-button
        color="link"
        size="lg"
        routerLink="/absence"
      >Absence
      </dfm-button>
      <div style="width: 16px; height: 16px" class="h-fit">
        <dfm-icon name="chevron-right"></dfm-icon>
      </div>
      <dfm-button
        color="link-gray"
        size="lg"
      >View
      </dfm-button>
    </div>

    <div class="d-flex dfm-gap-16 ab-vw-action-buttons">
      <dfm-button
        color="link"
        size="md"
        leadingIcon="pencil-02"
        (click)="openEditAbsenceModal()"
      >Edit Absence
      </dfm-button>

      <dfm-button
        color="link"
        size="md"
        class="text-nowrap"
        leadingIcon="trash-01"
        (click)="deleteAbsence(absenceDetails.id)"
      >
        Delete Absence
      </dfm-button>
    </div>

    <!-- Mobile View -->
    <div class="hidden dfm-gap-8 align-items-center ab-vw-title-buttons-mv">
      <div class="rounded-circle overflow-hidden">
        <dfm-button-icon
          color="tertiary-gray"
          size="sm"
          icon="chevron-left"
          routerLink="/absence"
        >
        </dfm-button-icon>
      </div>

      <dfm-button
        color="link"
        size="lg"
        routerLink="./"
      >Absence View
      </dfm-button>
    </div>
    <!-- ** -->
  </section>

  <section class="d-flex dfm-gap-24 ab-vw-section2">
    <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16">
      <header class="d-flex align-items-center dfm-gap-8">
        <div class="dfm-button-gray-400">
          <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
        </div>
        <span class="font-weight-medium">Absence Details</span>
      </header>

      <div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Title</span>
          <span class="flex-1">{{ absenceDetails.name | titlecase }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Start Date</span>
          <span class="flex-1">{{ absenceDetails.startedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between" *ngIf="absenceDetails.isRepeat">
          <span class="flex-1">End Date</span>
          <span class="flex-1 text-truncate">{{ absenceDetails.endedAt | date : 'dd/MM/yyyy, HH:mm' | dashIfNothing }}</span>
        </div>

        <!-- <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Priority</span>
          <span class="flex-1">{{ absenceDetails.priority }}</span>
        </div> -->

        <!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
        <!--          <span class="flex-1">Status</span>-->
        <!--          <span class="font-weight-medium flex-1"-->
        <!--                [ngClass]="absenceDetails.status === 0 ? 'dfm-text-danger-600' : 'dfm-text-success-600'">{{ absenceDetails.status | statusName }}</span>-->
        <!--        </div>-->

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Staff</span>
          <span class="flex-1 text-break"> {{ absenceDetails.user | joinWithAnd : 'firstname' | dashIfNothing }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Room</span>
          <span class="flex-1 text-break">{{ absenceDetails.rooms | joinWithAnd : 'name' | titlecase | dashIfNothing }}</span>
        </div>
      </div>
    </div>

    <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16">
      <header class="d-flex align-items-center dfm-gap-8">
        <div class="dfm-button-gray-400">
          <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
        </div>
        <span class="font-weight-medium">Absence Information</span>
      </header>

      <div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
        <span class="text-break" style="white-space: pre-wrap">{{ absenceDetails.info }}</span>
      </div>
    </div>

    <div class="dfm-card d-flex flex-column dfm-gap-16 dfm-p-16">
      <header class="d-flex align-items-center dfm-gap-8">
        <div class="dfm-button-gray-400">
          <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
        </div>
        <span class="font-weight-medium">Absence Repeat Details</span>
      </header>

      <div class="d-flex flex-column dfm-gap-16 overflow-y-auto">
        <!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
        <!--          <span class="flex-1">Start Date</span>-->
        <!--          <span class="flex-1">{{ absenceDetails.startedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>-->
        <!--        </div>-->

        <!--        <div class="d-flex dfm-gap-8 justify-content-between">-->
        <!--          <span class="flex-1 text-nowrap">End Date</span>-->
        <!--          <span class="flex-1 text-truncate">{{ absenceDetails.endedAt | date : 'dd/MM/yyyy, HH:mm' }}</span>-->
        <!--        </div>-->

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Holiday</span>
          <span class="flex-1">{{ absenceDetails.isHoliday ? 'Yes' : 'No' | dashIfNothing }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Repeat</span>
          <span class="flex-1">{{ absenceDetails.isRepeat ? 'Yes' : 'All Day' | dashIfNothing }}</span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Repeat Every</span>
          <span class="flex-1">{{ absenceDetails.repeatFrequency }}
            <span *ngIf="absenceDetails.repeatFrequency">{{ absenceDetails.repeatType | repeatTypeToName }}</span>
          </span>
        </div>

        <div class="d-flex dfm-gap-8 justify-content-between">
          <span class="flex-1">Repeat On</span>
          <span class="flex-1"
                *ngIf="absenceDetails.repeatDays && absenceDetails.repeatType === repeatType.Monthly">{{ absenceDetails.repeatDays.split(',') | joinWithAnd | dashIfNothing }}</span>
          <span class="flex-1"
                *ngIf="absenceDetails.repeatDays && absenceDetails.repeatType === repeatType.Weekly">{{ absenceDetails.repeatDays.split(',') | weekdayToName : true | joinWithAnd | dashIfNothing }}</span>
          <span class="flex-1"
                *ngIf="absenceDetails.repeatDays && absenceDetails.repeatType === repeatType.Daily">{{ '' | dashIfNothing }}</span>
          <span *ngIf="!absenceDetails.repeatDays" class="flex-1">{{ '' | dashIfNothing }}</span>
        </div>
      </div>
    </div>
  </section>

  <div class="hidden bg-white ab-vw-action-buttons-mv">
    <dfm-button color="secondary" size="sm" (click)="deleteAbsence(absenceDetails.id)">Delete</dfm-button>
    <dfm-button color="primary" size="sm" (click)="openEditAbsenceModal()">Edit Absence</dfm-button>
  </div>
</div>

<ng-template #dash>
  <span> {{ '' | dashIfNothing }} </span>
</ng-template>
