<div class="d-flex flex-column dfm-gap-24 dfm-pb-8 ap-li-main-wrapper">
  <section class="dfm-px-16 dfm-pt-16 d-flex flex-column dfm-gap-8">
    <header class="d-flex align-items-center dfm-gap-8">
      <div class="dfm-button-gray-400">
        <dfm-button size="md" leadingIcon="drag" color="link-gray"></dfm-button>
      </div>
      <span class="font-weight-medium">Appointments List</span>
    </header>
  </section>

  <section>
    <div class="d-flex dfm-gap-8 align-items-center flex-1 dfm-px-16 ap-li-section2-action-bar">
      <dfm-input
        size="md"
        placeholder="Search"
        icon="search-sm"
        class="flex-1"
      ></dfm-input>

      <dfm-input
        size="md"
        placeholder="Advanced Search"
        icon="search-sm"
        class="flex-1"
      ></dfm-input>

      <div class="d-flex align-items-center dfm-button-group-wrapper">
        <div>
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="copy-03"
          ></dfm-button-icon>
        </div>

        <div class="download-dropdown-max-w-144">
          <dfm-input-dropdown
            [items]="downloadItems"
            placeholder="Download"
            size="md"
          ></dfm-input-dropdown>
        </div>

        <div>
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="calendar-date"
          ></dfm-button-icon>
        </div>
      </div>

      <dfm-button
        color="secondary"
        size="md"
      >Confirm
      </dfm-button>

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
      >Add Appointment
      </dfm-button>
    </div>

    <div class="hidden align-items-center dfm-gap-16 dfm-px-8 justify-content-center ap-li-section2-action-bar-mv hide-scrollbar overflow-x-auto">
      <dfm-button-icon color="secondary-gray" size="md" icon="search-sm"></dfm-button-icon>

      <dfm-button-icon color="secondary-gray" size="md" icon="filter-funnel-01"></dfm-button-icon>

      <div class="d-flex align-items-center dfm-button-group-wrapper">
        <div>
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="copy-03"
          ></dfm-button-icon>
        </div>

        <div>
          <dfm-button-icon
            color="tertiary-gray"
            size="md"
            icon="download-01"
          ></dfm-button-icon>
        </div>
      </div>

      <dfm-button-icon
        color="secondary-gray"
        size="md"
        icon="calendar-date"
      ></dfm-button-icon>

      <dfm-button
        color="primary"
        size="md"
        class="text-nowrap"
        [disabled]="false"
      >Add
      </dfm-button>
    </div>
  </section>

  <section class="table-wrapper">
    <dfm-table [items]="appointments" [selectable]="true">
      <ng-template #headerRowTemplate>
        <dfm-table-header-cell *ngFor="let column of columns">{{ column }}</dfm-table-header-cell>
      </ng-template>
      <ng-template #bodyRowTemplate let-item>
        <dfm-table-body-cell>{{ item.getStarted | date  : 'short' }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.end | date : 'mediumTime' }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.name }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.applicationNo }}</dfm-table-body-cell>
        <dfm-table-body-cell>{{ item.read }}</dfm-table-body-cell>
        <dfm-table-body-cell>
          <dfm-badge
            *ngIf="item.confirm"
            fontWeight="medium"
            color="success"
            size="sm"
          >
            Yes
          </dfm-badge>
          <dfm-badge
            *ngIf="!item.confirm"
            fontWeight="medium"
            color="warning"
            size="sm"
          >
            No
          </dfm-badge>
        </dfm-table-body-cell>
        <dfm-table-body-cell>
          <div class="d-flex align-items-center dfm-gap-14">
            <dfm-button
              *ngIf="!item.confirm"
              color="link-gray"
              size="md"
              trailingIcon="check-circle"
            ></dfm-button>
            <dfm-button
              *ngIf="item.confirm"
              color="link-gray"
              size="md"
              trailingIcon="x-circle"
            ></dfm-button>
            <dfm-button
              color="link-gray"
              size="md"
              trailingIcon="pencil-02"
            ></dfm-button>
            <dfm-button
              color="link-gray"
              size="md"
              trailingIcon="trash-01"
            ></dfm-button>
          </div>
        </dfm-table-body-cell>
      </ng-template>
    </dfm-table>
  </section>
</div>
