.unavailable-periods-list-wrapper {
  height: inherit;
  
  .dfm-btn-group {
    border: 1px solid var(--dfm-input-border);
    border-radius: 8px;
    height: 40px;

    div:first-child {
      border-right: 1px solid var(--dfm-input-border);
    }

    div:last-child {
      flex: 1 ;
    }
  }

  .table-wrapper {
    overflow-y: auto;
  }
}
.room-name-placeholder{
  display: none;
}
.unavailable-hall-download-icon-placeholder{
  display: none;
}
// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .room-name-placeholder{
    display: block;
  }
  .search-room-name-placeholder{
    display: none;
  }
  .unavailable-hall-download-placeholder{
    display: none;
  }
  .unavailable-hall-download-icon-placeholder{
    display: block;
  }
}
