.unavailable-periods-list-wrapper {
  height: inherit;

  .dfm-input-dropdown-wrapper {
    border: 1px solid var(--dfm-input-border);
    border-radius: 8px;
    height: 40px;

    div:first-child {
      border-right: 1px solid var(--dfm-input-border);
    }

    div:last-child {
      height:inherit;
      flex: 1 ;
    }
  }

  .table-wrapper {
    height:inherit;
    overflow-y: auto;
  }
}
.room-name-placeholder{
  display: none;
}
.unavailable-hall-download-icon-placeholder{
  display: none;
}

.no-data-found-wrapper {
  height: inherit;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
// ======================Media Query for Mobile view=================
@media (min-width:180px) and (max-width:680px) {
  .un-hl-buttons {
    display: none;
  }

  .un-hl-mv-buttons {
    display: flex !important;
  }
}
