<div class="dfm-layout">
  <dfm-navigation-bar
    [navigationItems]="(!isDutchLanguage)? navigationItems: navigationItemsNL"
    [isNotificationsCounterShown]="true"
    [notifications]="notifications"
    [isMessagesCounterShown]="true"
    [messages]="messages"
    [isTenantDropdownShown]="true"
    [tenants]="languages"
    [currentTenant]="currentTenant"
    (tenantChanged)="onLanguageChange($event)"
    [isProfileShown]="true"
    [profileData]="profileData"
  >
    <div class="dfm-content content-height" #content>
      <dfm-notification [position]="2"></dfm-notification>
      <router-outlet></router-outlet>
    </div>
  </dfm-navigation-bar>
</div>
