<div class="dfm-layout">
  <dfm-navigation-bar
    [navigationItems]="navItems"
    [isNotificationsCounterShown]="true"
    [notifications]="notifications"
    [isMessagesCounterShown]="true"
    [messages]="messages"
    [isTenantDropdownShown]="true"
    [tenants]="languages"
    [currentTenant]="(currentTenant$$ | async) ?? 'nl-BE'"
    (tenantChanged)="onLanguageChange($event)"
    [isProfileShown]="true"
    [profileData]="profileData"
    logoPath="assets/images/scheduler-logo.svg"
    miniLogoPath="assets/images/scheduler-logo-mobile.svg"
  >


      <router-outlet></router-outlet>
    </dfm-navigation-bar>
  </div>
