<div class="dfm-layout">
  <dfm-navigation-bar
    [navigationItems]="navItems"
    [isNotificationsCounterShown]="true"
    [notifications]="(notifications$$ | async) ?? []"
    [isMessagesCounterShown]="true"
    [messages]="(messages$$ | async) ?? []"
    [isTenantDropdownShown]="true"
    [tenants]="languages"
    [currentTenant]="(currentTenant$$ | async) ?? 'nl-BE'"
    (tenantChanged)="onLanguageChange($event)"
    [isProfileShown]="true"
    [profileData]="profileData"
    logoPath="assets/images/scheduler-logo.svg"
    miniLogoPath="assets/images/scheduler-logo-mobile.svg"
    (logout)="logout()"
    (notificationsDismissed)="onDismissed($event, 'appointment')"
    (messagesDismissed)="onDismissed($event, 'post-its')"
  >
    <mat-progress-bar *ngIf="isLoaderActive$$ | async" mode="indeterminate"></mat-progress-bar>
    <div class="dfm-content content-height" #content>
      <dfm-notification [position]="2"></dfm-notification>

      <router-outlet></router-outlet>
    </div>
  </dfm-navigation-bar>
</div>
