.dfm-layout {
  .content {
    //padding: 24px 24px;
    background-color: var(--dfm-base-layout-bg);
    height: var(--content-height);
    overflow-y: overlay;
  }
}

.nav-item-selected-bg {
  background: var(--dfm-navbar-item-hover-bg) !important;
}


@media (max-width: 1440px) {
  .dfm-layout .content {
    height: var(--content-height-1440);
  }
}

@media (max-width: 960px) {
  .dfm-layout .content {
    height: var(--content-height-mobile);
  }
}

@media (max-width: 680px) {
  .dfm-layout .content {
    height: var(--content-height-mobile);
  }
}
