.dfm-layout {
  .dfm-content {
    background-color: var(--dfm-base-layout-bg);
    overflow-y: auto;
  }
    .mat-progress-bar {
      position: absolute;
        left: 0;
        margin-top: -24px;
    }
}
