<div class="bg-white rounded-4 change-radiologist-modal">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'ChangeRadiologist' | translate}}</h5>
    <dfm-button-icon color="tertiary-gray" icon="x-close" (click)="closeDialog()"></dfm-button-icon>
  </div>

  <div class="modal-body d-flex flex-column dfm-gap-24 dfm-mb-8">
    <div class="text-sm">
      <span class="font-weight-medium dfm-text-main-400">{{ 'Selected' | translate }} {{ 'Radiologist' | translate }} : </span>
      <span>{{ selectedRadiologists | joinWithAnd : 'name' | dashIfNothing }}</span>
    </div>
    <div class="dfm-input-multi-dropdown-wrapper-wo-label">
      <dfm-input-dropdown size="md"
                          placeholder="{{ doctor.value?.length ? (doctor.value.length) + ' ' + ('Selected' | translate) : ('Select' | translate) + ' ' + ('Radiologist' | translate) }} *"
                          #doctor
                          [multiple]="true"
                          [items]="radiologists"
                          [formControl]="radiologistFormControl">
      </dfm-input-dropdown>
    </div>
  </div>

  <div class="modal-footer">
    <dfm-button color="secondary" size="md" (click)="closeDialog()">{{ 'Cancel' | translate }}</dfm-button>
    <dfm-button color="primary" size="md" (click)="save()">{{ 'Change' | translate }}</dfm-button>
  </div>
</div>
